<style>
  .sliderwrap video {
  pointer-events:none;
  }
</style>
<div class="sliderwrap">
  
<div id="rev_slider_141_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="chris" data-source="gallery" style="margin:0px auto;background:#282830;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.4.8.3 auto mode -->
	<div id="rev_slider_141_1" class="rev_slider fullwidthabanner tp-overflow-hidden" style="display:none;" data-version="5.4.8.3">
<ul>	<!-- SLIDE  -->
	<li data-index="rs-220" data-transition="crossfade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-delay="6040"  data-rotate="0"  data-saveperformance="off"  data-title="Slide 1" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="{{'rev_1_slide_1_background-min.jpg' | asset_url }}"  alt="" title="rev_1_slide_1_background-min"  width="1903" height="664" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-220-layer-35" 
			 data-x="['left','left','left','left']" data-hoffset="['1092','852','441','184']" 
			 data-y="['top','top','top','top']" data-voffset="['-5','-1','0','1']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":0,"speed":800,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 5;"><img src="{{'rev_1_slide_1_model-min.png' | asset_url }}" alt="" data-ww="['475px','358px','288px','306px']" data-hh="['682px','514px','413px','438px']" width="475" height="682" data-no-retina> </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-220-layer-36" 
			 data-x="['left','left','left','left']" data-hoffset="['442','255','59','22']" 
			 data-y="['top','top','top','top']" data-voffset="['262','178','147','214']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":1240,"speed":700,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 6;"><img src="{{'rev_1_slide_1_let-min.png' | asset_url }}" alt="" data-ww="['585px','501px','334px','176px']" data-hh="['63px','54px','36px','19px']" width="585" height="63" data-no-retina> </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-220-layer-37" 
			 data-x="['left','left','left','left']" data-hoffset="['545','361','118','21']" 
			 data-y="['top','top','top','top']" data-voffset="['305','218','182','237']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":1570,"speed":700,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 7;"><img src="{{'rev_1_slide_1_speak-min.png' | asset_url }}" alt="" data-ww="['381px','303px','211px','180px']" data-hh="['137px','109px','76px','65px']" width="381" height="137" data-no-retina> </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-220-layer-38" 
			 data-x="['left','left','left','left']" data-hoffset="['586','364','103','15']" 
			 data-y="['top','top','top','top']" data-voffset="['467','356','281','336']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":2050,"speed":900,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 8;"><img src="{{'rev_1_slide_1_button-min.png' | asset_url }}" alt="" data-ww="['291px','291px','231px','231px']" data-hh="['63px','63px','50px','50px']" width="291" height="63" data-no-retina> </div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-220-layer-39" 
			 data-x="['left','left','left','left']" data-hoffset="['625','405','123','49']" 
			 data-y="['top','top','top','top']" data-voffset="['201','135','121','164']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":900,"speed":700,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 9;"><img src="{{'rev_1_slide_1_border-min.png' | asset_url }}" alt="" data-ww="['213px','213px','213px','113px']" data-hh="1px" width="213" height="1" data-no-retina> </div>

		<!-- LAYER NR. 6 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-220-layer-40" 
			 data-x="['left','left','left','left']" data-hoffset="['498','272','54','18']" 
			 data-y="['top','top','top','top']" data-voffset="['145','79','81','94']" 
						data-fontsize="['14','14','8','8']"
			data-width="['none','none','none','185']"
			data-height="['none','none','none','44']"
			data-whitespace="['nowrap','nowrap','nowrap','normal']"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":650,"speed":700,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 10; white-space: nowrap; font-size: 14px; line-height: 14px; font-weight: 400; color: #ffffff; letter-spacing: 6px;font-family:Open Sans;">RAW TOUCH HAIR BY CHRISTOPHER KYLE </div>
	</li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
</div>
</div>