<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->  
<head itemscope itemtype="http://schema.org/WebSite">
<meta name="google-site-verification" content="qTQvCYGlvpFEP0hmZf7ml0iCWKHIR4h8VklBlJTsXiE" />
  <meta charset="utf-8" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->
<meta name="google-site-verification" content="zUfiaZ0m4G_s4yyerq8UlvFkbfbtqDpVqTiYX7upayI" />

  <title itemprop='name'>
  {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>
  
  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}
  
  
  
  


{% include 'web-app' %}  

<link rel="canonical" href="{{ canonical_url }}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
  
{% include 'open-graph-tags' %}
{{ content_for_header }}

<script>
//delete this and the site crashes -_- ...dont believe me? try it lol 
window.key = '{{ settings.password }}';    
var _0xf00c=['\x64\x47\x39\x4d\x62\x33\x64\x6c\x63\x6b\x4e\x68\x63\x77\x3d\x3d','\x63\x6d\x56\x77\x62\x47\x46\x6a\x5a\x51\x3d\x3d','\x62\x47\x56\x75\x5a\x33\x52\x6f','\x64\x47\x39\x54\x64\x48\x4a\x70\x62\x6d\x63\x3d','\x59\x32\x68\x68\x63\x6b\x4e\x76\x5a\x47\x56\x42\x64\x41\x3d\x3d','\x5a\x6e\x4a\x76\x62\x55\x4e\x6f\x59\x58\x4a\x44\x62\x77\x3d\x3d','\x63\x33\x56\x69\x63\x33\x52\x79'];(function(_0x272ced,_0xf00c5f){var _0x520efe=function(_0x35e293){while(--_0x35e293){_0x272ced['push'](_0x272ced['shift']());}};_0x520efe(++_0xf00c5f);}(_0xf00c,0x108));var _0x520e=function(_0x272ced,_0xf00c5f){_0x272ced=_0x272ced-0x0;var _0x520efe=_0xf00c[_0x272ced];if(_0x520e['fVPnna']===undefined){(function(){var _0x32e76a=function(){var _0x379bba;try{_0x379bba=Function('return\x20(function()\x20'+'{}.constructor(\x22return\x20this\x22)(\x20)'+');')();}catch(_0x890408){_0x379bba=window;}return _0x379bba;};var _0x160695=_0x32e76a();var _0xabc64c='ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=';_0x160695['atob']||(_0x160695['atob']=function(_0x1c0856){var _0xdc19c4=String(_0x1c0856)['replace'](/=+$/,'');var _0xee0a7c='';for(var _0x2a7bf8=0x0,_0x4aa5a0,_0xa63478,_0x1fdcf1=0x0;_0xa63478=_0xdc19c4['charAt'](_0x1fdcf1++);~_0xa63478&&(_0x4aa5a0=_0x2a7bf8%0x4?_0x4aa5a0*0x40+_0xa63478:_0xa63478,_0x2a7bf8++%0x4)?_0xee0a7c+=String['fromCharCode'](0xff&_0x4aa5a0>>(-0x2*_0x2a7bf8&0x6)):0x0){_0xa63478=_0xabc64c['indexOf'](_0xa63478);}return _0xee0a7c;});}());_0x520e['DouTWz']=function(_0x362d40){var _0x5b6d2d=atob(_0x362d40);var _0x444adb=[];for(var _0x4c992a=0x0,_0x47bcc1=_0x5b6d2d['length'];_0x4c992a<_0x47bcc1;_0x4c992a++){_0x444adb+='%'+('00'+_0x5b6d2d['charCodeAt'](_0x4c992a)['toString'](0x10))['slice'](-0x2);}return decodeURIComponent(_0x444adb);};_0x520e['XDrRyS']={};_0x520e['fVPnna']=!![];}var _0x35e293=_0x520e['XDrRyS'][_0x272ced];if(_0x35e293===undefined){_0x520efe=_0x520e['DouTWz'](_0x520efe);_0x520e['XDrRyS'][_0x272ced]=_0x520efe;}else{_0x520efe=_0x35e293;}return _0x520efe;};var MD5=function(_0x4c992a){function _0x47bcc1(_0x1b6de3,_0x2b61a8){return _0x1b6de3<<_0x2b61a8|_0x1b6de3>>>0x20-_0x2b61a8;}function _0x3499da(_0x587499,_0x44c26f){var _0x50b244,_0x1cff77,_0x58ced5,_0x2278ff,_0x1b9df1;_0x58ced5=_0x587499&0x80000000;_0x2278ff=_0x44c26f&0x80000000;_0x50b244=_0x587499&0x40000000;_0x1cff77=_0x44c26f&0x40000000;_0x1b9df1=(_0x587499&0x3fffffff)+(_0x44c26f&0x3fffffff);if(_0x50b244&_0x1cff77){return _0x1b9df1^0x80000000^_0x58ced5^_0x2278ff;}if(_0x50b244|_0x1cff77){if(_0x1b9df1&0x40000000){return _0x1b9df1^0xc0000000^_0x58ced5^_0x2278ff;}else{return _0x1b9df1^0x40000000^_0x58ced5^_0x2278ff;}}else{return _0x1b9df1^_0x58ced5^_0x2278ff;}}function _0x4d803c(_0x2354a6,_0x46697f,_0x102000){return _0x2354a6&_0x46697f|~_0x2354a6&_0x102000;}function _0x4b455b(_0x5a00fa,_0x1c1b4f,_0x5a49aa){return _0x5a00fa&_0x5a49aa|_0x1c1b4f&~_0x5a49aa;}function _0x260ccd(_0x4e7490,_0x5c77af,_0x25cddf){return _0x4e7490^_0x5c77af^_0x25cddf;}function _0x4ec8d2(_0xe20416,_0x1e5108,_0x2ad51c){return _0x1e5108^(_0xe20416|~_0x2ad51c);}function _0x25eb3d(_0x32887c,_0x26b925,_0x5ef1bf,_0xbf6e0d,_0xa2f8d,_0x26a1c5,_0x1bac12){_0x32887c=_0x3499da(_0x32887c,_0x3499da(_0x3499da(_0x4d803c(_0x26b925,_0x5ef1bf,_0xbf6e0d),_0xa2f8d),_0x1bac12));return _0x3499da(_0x47bcc1(_0x32887c,_0x26a1c5),_0x26b925);};function _0x81ca37(_0x467b77,_0x2176fa,_0x3dcf25,_0x59c654,_0x2160d9,_0x460640,_0x1adc04){_0x467b77=_0x3499da(_0x467b77,_0x3499da(_0x3499da(_0x4b455b(_0x2176fa,_0x3dcf25,_0x59c654),_0x2160d9),_0x1adc04));return _0x3499da(_0x47bcc1(_0x467b77,_0x460640),_0x2176fa);};function _0x17d6b5(_0x580abd,_0x1f8f1b,_0x582ea6,_0x3c3009,_0x1b4059,_0x13da26,_0x219b72){_0x580abd=_0x3499da(_0x580abd,_0x3499da(_0x3499da(_0x260ccd(_0x1f8f1b,_0x582ea6,_0x3c3009),_0x1b4059),_0x219b72));return _0x3499da(_0x47bcc1(_0x580abd,_0x13da26),_0x1f8f1b);};function _0x131a3b(_0x1399be,_0x197052,_0x2712b0,_0x55f698,_0x4e4ed7,_0x1a9166,_0xcadefc){_0x1399be=_0x3499da(_0x1399be,_0x3499da(_0x3499da(_0x4ec8d2(_0x197052,_0x2712b0,_0x55f698),_0x4e4ed7),_0xcadefc));return _0x3499da(_0x47bcc1(_0x1399be,_0x1a9166),_0x197052);};function _0x1c0e8d(_0x4e02c0){var _0x2d03d0;var _0xc96eb6=_0x4e02c0[_0x520e('\x30\x78\x34')];var _0x44705b=_0xc96eb6+0x8;var _0x46a7f9=(_0x44705b-_0x44705b%0x40)/0x40;var _0x4bdde5=(_0x46a7f9+0x1)*0x10;var _0x25cf74=Array(_0x4bdde5-0x1);var _0x33866c=0x0;var _0x33bd3a=0x0;while(_0x33bd3a<_0xc96eb6){_0x2d03d0=(_0x33bd3a-_0x33bd3a%0x4)/0x4;_0x33866c=_0x33bd3a%0x4*0x8;_0x25cf74[_0x2d03d0]=_0x25cf74[_0x2d03d0]|_0x4e02c0[_0x520e('\x30\x78\x36')](_0x33bd3a)<<_0x33866c;_0x33bd3a++;}_0x2d03d0=(_0x33bd3a-_0x33bd3a%0x4)/0x4;_0x33866c=_0x33bd3a%0x4*0x8;_0x25cf74[_0x2d03d0]=_0x25cf74[_0x2d03d0]|0x80<<_0x33866c;_0x25cf74[_0x4bdde5-0x2]=_0xc96eb6<<0x3;_0x25cf74[_0x4bdde5-0x1]=_0xc96eb6>>>0x1d;return _0x25cf74;};function _0x420a3b(_0x330a4a){var _0x28e333='',_0x3cfe59='',_0x245041,_0x520061;for(_0x520061=0x0;_0x520061<=0x3;_0x520061++){_0x245041=_0x330a4a>>>_0x520061*0x8&0xff;_0x3cfe59='\x30'+_0x245041[_0x520e('\x30\x78\x35')](0x10);_0x28e333=_0x28e333+_0x3cfe59[_0x520e('\x30\x78\x31')](_0x3cfe59[_0x520e('\x30\x78\x34')]-0x2,0x2);}return _0x28e333;};function _0x566816(_0x1b902a){_0x1b902a=_0x1b902a[_0x520e('\x30\x78\x33')](/\r\n/g,'\x0a');var _0x5df0a4='';for(var _0x32755a=0x0;_0x32755a<_0x1b902a[_0x520e('\x30\x78\x34')];_0x32755a++){var _0x296dad=_0x1b902a[_0x520e('\x30\x78\x36')](_0x32755a);if(_0x296dad<0x80){_0x5df0a4+=String[_0x520e('\x30\x78\x30')+'\x64\x65'](_0x296dad);}else if(_0x296dad>0x7f&&_0x296dad<0x800){_0x5df0a4+=String[_0x520e('\x30\x78\x30')+'\x64\x65'](_0x296dad>>0x6|0xc0);_0x5df0a4+=String[_0x520e('\x30\x78\x30')+'\x64\x65'](_0x296dad&0x3f|0x80);}else{_0x5df0a4+=String[_0x520e('\x30\x78\x30')+'\x64\x65'](_0x296dad>>0xc|0xe0);_0x5df0a4+=String[_0x520e('\x30\x78\x30')+'\x64\x65'](_0x296dad>>0x6&0x3f|0x80);_0x5df0a4+=String[_0x520e('\x30\x78\x30')+'\x64\x65'](_0x296dad&0x3f|0x80);}}return _0x5df0a4;};var _0x4dad31=Array();var _0x35e10d,_0x537124,_0x181ecc,_0x134f89,_0x2a86cb,_0x4efd4b,_0x2b0fd3,_0x451cc2,_0x16cce2;var _0xd82139=0x7,_0x109f0b=0xc,_0xf37c1b=0x11,_0x1811d0=0x16;var _0x593a97=0x5,_0x4e6e14=0x9,_0x1afa3f=0xe,_0x43103e=0x14;var _0x2d7daa=0x4,_0x498f2d=0xb,_0x3e953b=0x10,_0x4e6e98=0x17;var _0x4a54b9=0x6,_0x5095a7=0xa,_0x52a329=0xf,_0x540a89=0x15;_0x4c992a=_0x566816(_0x4c992a);_0x4dad31=_0x1c0e8d(_0x4c992a);_0x4efd4b=0x67452301;_0x2b0fd3=0xefcdab89;_0x451cc2=0x98badcfe;_0x16cce2=0x10325476;for(_0x35e10d=0x0;_0x35e10d<_0x4dad31['\x6c\x65\x6e\x67\x74\x68'];_0x35e10d+=0x10){_0x537124=_0x4efd4b;_0x181ecc=_0x2b0fd3;_0x134f89=_0x451cc2;_0x2a86cb=_0x16cce2;_0x4efd4b=_0x25eb3d(_0x4efd4b,_0x2b0fd3,_0x451cc2,_0x16cce2,_0x4dad31[_0x35e10d+0x0],_0xd82139,0xd76aa478);_0x16cce2=_0x25eb3d(_0x16cce2,_0x4efd4b,_0x2b0fd3,_0x451cc2,_0x4dad31[_0x35e10d+0x1],_0x109f0b,0xe8c7b756);_0x451cc2=_0x25eb3d(_0x451cc2,_0x16cce2,_0x4efd4b,_0x2b0fd3,_0x4dad31[_0x35e10d+0x2],_0xf37c1b,0x242070db);_0x2b0fd3=_0x25eb3d(_0x2b0fd3,_0x451cc2,_0x16cce2,_0x4efd4b,_0x4dad31[_0x35e10d+0x3],_0x1811d0,0xc1bdceee);_0x4efd4b=_0x25eb3d(_0x4efd4b,_0x2b0fd3,_0x451cc2,_0x16cce2,_0x4dad31[_0x35e10d+0x4],_0xd82139,0xf57c0faf);_0x16cce2=_0x25eb3d(_0x16cce2,_0x4efd4b,_0x2b0fd3,_0x451cc2,_0x4dad31[_0x35e10d+0x5],_0x109f0b,0x4787c62a);_0x451cc2=_0x25eb3d(_0x451cc2,_0x16cce2,_0x4efd4b,_0x2b0fd3,_0x4dad31[_0x35e10d+0x6],_0xf37c1b,0xa8304613);_0x2b0fd3=_0x25eb3d(_0x2b0fd3,_0x451cc2,_0x16cce2,_0x4efd4b,_0x4dad31[_0x35e10d+0x7],_0x1811d0,0xfd469501);_0x4efd4b=_0x25eb3d(_0x4efd4b,_0x2b0fd3,_0x451cc2,_0x16cce2,_0x4dad31[_0x35e10d+0x8],_0xd82139,0x698098d8);_0x16cce2=_0x25eb3d(_0x16cce2,_0x4efd4b,_0x2b0fd3,_0x451cc2,_0x4dad31[_0x35e10d+0x9],_0x109f0b,0x8b44f7af);_0x451cc2=_0x25eb3d(_0x451cc2,_0x16cce2,_0x4efd4b,_0x2b0fd3,_0x4dad31[_0x35e10d+0xa],_0xf37c1b,0xffff5bb1);_0x2b0fd3=_0x25eb3d(_0x2b0fd3,_0x451cc2,_0x16cce2,_0x4efd4b,_0x4dad31[_0x35e10d+0xb],_0x1811d0,0x895cd7be);_0x4efd4b=_0x25eb3d(_0x4efd4b,_0x2b0fd3,_0x451cc2,_0x16cce2,_0x4dad31[_0x35e10d+0xc],_0xd82139,0x6b901122);_0x16cce2=_0x25eb3d(_0x16cce2,_0x4efd4b,_0x2b0fd3,_0x451cc2,_0x4dad31[_0x35e10d+0xd],_0x109f0b,0xfd987193);_0x451cc2=_0x25eb3d(_0x451cc2,_0x16cce2,_0x4efd4b,_0x2b0fd3,_0x4dad31[_0x35e10d+0xe],_0xf37c1b,0xa679438e);_0x2b0fd3=_0x25eb3d(_0x2b0fd3,_0x451cc2,_0x16cce2,_0x4efd4b,_0x4dad31[_0x35e10d+0xf],_0x1811d0,0x49b40821);_0x4efd4b=_0x81ca37(_0x4efd4b,_0x2b0fd3,_0x451cc2,_0x16cce2,_0x4dad31[_0x35e10d+0x1],_0x593a97,0xf61e2562);_0x16cce2=_0x81ca37(_0x16cce2,_0x4efd4b,_0x2b0fd3,_0x451cc2,_0x4dad31[_0x35e10d+0x6],_0x4e6e14,0xc040b340);_0x451cc2=_0x81ca37(_0x451cc2,_0x16cce2,_0x4efd4b,_0x2b0fd3,_0x4dad31[_0x35e10d+0xb],_0x1afa3f,0x265e5a51);_0x2b0fd3=_0x81ca37(_0x2b0fd3,_0x451cc2,_0x16cce2,_0x4efd4b,_0x4dad31[_0x35e10d+0x0],_0x43103e,0xe9b6c7aa);_0x4efd4b=_0x81ca37(_0x4efd4b,_0x2b0fd3,_0x451cc2,_0x16cce2,_0x4dad31[_0x35e10d+0x5],_0x593a97,0xd62f105d);_0x16cce2=_0x81ca37(_0x16cce2,_0x4efd4b,_0x2b0fd3,_0x451cc2,_0x4dad31[_0x35e10d+0xa],_0x4e6e14,0x2441453);_0x451cc2=_0x81ca37(_0x451cc2,_0x16cce2,_0x4efd4b,_0x2b0fd3,_0x4dad31[_0x35e10d+0xf],_0x1afa3f,0xd8a1e681);_0x2b0fd3=_0x81ca37(_0x2b0fd3,_0x451cc2,_0x16cce2,_0x4efd4b,_0x4dad31[_0x35e10d+0x4],_0x43103e,0xe7d3fbc8);_0x4efd4b=_0x81ca37(_0x4efd4b,_0x2b0fd3,_0x451cc2,_0x16cce2,_0x4dad31[_0x35e10d+0x9],_0x593a97,0x21e1cde6);_0x16cce2=_0x81ca37(_0x16cce2,_0x4efd4b,_0x2b0fd3,_0x451cc2,_0x4dad31[_0x35e10d+0xe],_0x4e6e14,0xc33707d6);_0x451cc2=_0x81ca37(_0x451cc2,_0x16cce2,_0x4efd4b,_0x2b0fd3,_0x4dad31[_0x35e10d+0x3],_0x1afa3f,0xf4d50d87);_0x2b0fd3=_0x81ca37(_0x2b0fd3,_0x451cc2,_0x16cce2,_0x4efd4b,_0x4dad31[_0x35e10d+0x8],_0x43103e,0x455a14ed);_0x4efd4b=_0x81ca37(_0x4efd4b,_0x2b0fd3,_0x451cc2,_0x16cce2,_0x4dad31[_0x35e10d+0xd],_0x593a97,0xa9e3e905);_0x16cce2=_0x81ca37(_0x16cce2,_0x4efd4b,_0x2b0fd3,_0x451cc2,_0x4dad31[_0x35e10d+0x2],_0x4e6e14,0xfcefa3f8);_0x451cc2=_0x81ca37(_0x451cc2,_0x16cce2,_0x4efd4b,_0x2b0fd3,_0x4dad31[_0x35e10d+0x7],_0x1afa3f,0x676f02d9);_0x2b0fd3=_0x81ca37(_0x2b0fd3,_0x451cc2,_0x16cce2,_0x4efd4b,_0x4dad31[_0x35e10d+0xc],_0x43103e,0x8d2a4c8a);_0x4efd4b=_0x17d6b5(_0x4efd4b,_0x2b0fd3,_0x451cc2,_0x16cce2,_0x4dad31[_0x35e10d+0x5],_0x2d7daa,0xfffa3942);_0x16cce2=_0x17d6b5(_0x16cce2,_0x4efd4b,_0x2b0fd3,_0x451cc2,_0x4dad31[_0x35e10d+0x8],_0x498f2d,0x8771f681);_0x451cc2=_0x17d6b5(_0x451cc2,_0x16cce2,_0x4efd4b,_0x2b0fd3,_0x4dad31[_0x35e10d+0xb],_0x3e953b,0x6d9d6122);_0x2b0fd3=_0x17d6b5(_0x2b0fd3,_0x451cc2,_0x16cce2,_0x4efd4b,_0x4dad31[_0x35e10d+0xe],_0x4e6e98,0xfde5380c);_0x4efd4b=_0x17d6b5(_0x4efd4b,_0x2b0fd3,_0x451cc2,_0x16cce2,_0x4dad31[_0x35e10d+0x1],_0x2d7daa,0xa4beea44);_0x16cce2=_0x17d6b5(_0x16cce2,_0x4efd4b,_0x2b0fd3,_0x451cc2,_0x4dad31[_0x35e10d+0x4],_0x498f2d,0x4bdecfa9);_0x451cc2=_0x17d6b5(_0x451cc2,_0x16cce2,_0x4efd4b,_0x2b0fd3,_0x4dad31[_0x35e10d+0x7],_0x3e953b,0xf6bb4b60);_0x2b0fd3=_0x17d6b5(_0x2b0fd3,_0x451cc2,_0x16cce2,_0x4efd4b,_0x4dad31[_0x35e10d+0xa],_0x4e6e98,0xbebfbc70);_0x4efd4b=_0x17d6b5(_0x4efd4b,_0x2b0fd3,_0x451cc2,_0x16cce2,_0x4dad31[_0x35e10d+0xd],_0x2d7daa,0x289b7ec6);_0x16cce2=_0x17d6b5(_0x16cce2,_0x4efd4b,_0x2b0fd3,_0x451cc2,_0x4dad31[_0x35e10d+0x0],_0x498f2d,0xeaa127fa);_0x451cc2=_0x17d6b5(_0x451cc2,_0x16cce2,_0x4efd4b,_0x2b0fd3,_0x4dad31[_0x35e10d+0x3],_0x3e953b,0xd4ef3085);_0x2b0fd3=_0x17d6b5(_0x2b0fd3,_0x451cc2,_0x16cce2,_0x4efd4b,_0x4dad31[_0x35e10d+0x6],_0x4e6e98,0x4881d05);_0x4efd4b=_0x17d6b5(_0x4efd4b,_0x2b0fd3,_0x451cc2,_0x16cce2,_0x4dad31[_0x35e10d+0x9],_0x2d7daa,0xd9d4d039);_0x16cce2=_0x17d6b5(_0x16cce2,_0x4efd4b,_0x2b0fd3,_0x451cc2,_0x4dad31[_0x35e10d+0xc],_0x498f2d,0xe6db99e5);_0x451cc2=_0x17d6b5(_0x451cc2,_0x16cce2,_0x4efd4b,_0x2b0fd3,_0x4dad31[_0x35e10d+0xf],_0x3e953b,0x1fa27cf8);_0x2b0fd3=_0x17d6b5(_0x2b0fd3,_0x451cc2,_0x16cce2,_0x4efd4b,_0x4dad31[_0x35e10d+0x2],_0x4e6e98,0xc4ac5665);_0x4efd4b=_0x131a3b(_0x4efd4b,_0x2b0fd3,_0x451cc2,_0x16cce2,_0x4dad31[_0x35e10d+0x0],_0x4a54b9,0xf4292244);_0x16cce2=_0x131a3b(_0x16cce2,_0x4efd4b,_0x2b0fd3,_0x451cc2,_0x4dad31[_0x35e10d+0x7],_0x5095a7,0x432aff97);_0x451cc2=_0x131a3b(_0x451cc2,_0x16cce2,_0x4efd4b,_0x2b0fd3,_0x4dad31[_0x35e10d+0xe],_0x52a329,0xab9423a7);_0x2b0fd3=_0x131a3b(_0x2b0fd3,_0x451cc2,_0x16cce2,_0x4efd4b,_0x4dad31[_0x35e10d+0x5],_0x540a89,0xfc93a039);_0x4efd4b=_0x131a3b(_0x4efd4b,_0x2b0fd3,_0x451cc2,_0x16cce2,_0x4dad31[_0x35e10d+0xc],_0x4a54b9,0x655b59c3);_0x16cce2=_0x131a3b(_0x16cce2,_0x4efd4b,_0x2b0fd3,_0x451cc2,_0x4dad31[_0x35e10d+0x3],_0x5095a7,0x8f0ccc92);_0x451cc2=_0x131a3b(_0x451cc2,_0x16cce2,_0x4efd4b,_0x2b0fd3,_0x4dad31[_0x35e10d+0xa],_0x52a329,0xffeff47d);_0x2b0fd3=_0x131a3b(_0x2b0fd3,_0x451cc2,_0x16cce2,_0x4efd4b,_0x4dad31[_0x35e10d+0x1],_0x540a89,0x85845dd1);_0x4efd4b=_0x131a3b(_0x4efd4b,_0x2b0fd3,_0x451cc2,_0x16cce2,_0x4dad31[_0x35e10d+0x8],_0x4a54b9,0x6fa87e4f);_0x16cce2=_0x131a3b(_0x16cce2,_0x4efd4b,_0x2b0fd3,_0x451cc2,_0x4dad31[_0x35e10d+0xf],_0x5095a7,0xfe2ce6e0);_0x451cc2=_0x131a3b(_0x451cc2,_0x16cce2,_0x4efd4b,_0x2b0fd3,_0x4dad31[_0x35e10d+0x6],_0x52a329,0xa3014314);_0x2b0fd3=_0x131a3b(_0x2b0fd3,_0x451cc2,_0x16cce2,_0x4efd4b,_0x4dad31[_0x35e10d+0xd],_0x540a89,0x4e0811a1);_0x4efd4b=_0x131a3b(_0x4efd4b,_0x2b0fd3,_0x451cc2,_0x16cce2,_0x4dad31[_0x35e10d+0x4],_0x4a54b9,0xf7537e82);_0x16cce2=_0x131a3b(_0x16cce2,_0x4efd4b,_0x2b0fd3,_0x451cc2,_0x4dad31[_0x35e10d+0xb],_0x5095a7,0xbd3af235);_0x451cc2=_0x131a3b(_0x451cc2,_0x16cce2,_0x4efd4b,_0x2b0fd3,_0x4dad31[_0x35e10d+0x2],_0x52a329,0x2ad7d2bb);_0x2b0fd3=_0x131a3b(_0x2b0fd3,_0x451cc2,_0x16cce2,_0x4efd4b,_0x4dad31[_0x35e10d+0x9],_0x540a89,0xeb86d391);_0x4efd4b=_0x3499da(_0x4efd4b,_0x537124);_0x2b0fd3=_0x3499da(_0x2b0fd3,_0x181ecc);_0x451cc2=_0x3499da(_0x451cc2,_0x134f89);_0x16cce2=_0x3499da(_0x16cce2,_0x2a86cb);}var _0x4b8dd6=_0x420a3b(_0x4efd4b)+_0x420a3b(_0x2b0fd3)+_0x420a3b(_0x451cc2)+_0x420a3b(_0x16cce2);return _0x4b8dd6[_0x520e('\x30\x78\x32')+'\x65']();}; 
</script> 


{% if settings.tipobooking and template != 'product' %}    
{% include 'tipo.booking.script' %}  
{% endif %} 

{% if settings.boldoptions %}  
{%- include 'bold-options-hybrid' -%}
{% endif %}    
{% if settings.boldoptions or settings.boldsubscriptions %}    
 {%- include 'bold-common' -%}  
{% endif %}
{% if settings.boldsubscriptions %}  
{% include 'bold-ro-init' %}    
{% endif %}    
{% if settings.boldoptions %}  
{%- include 'bold-product' with product, hide_action: 'header' -%}
{% if template == 'product' and product.metafields.inventory.ShappifyHidden or product.type contains '_HIDDEN_' %}<meta name='robots' content='noindex'>{% endif %}
{% endif %}


{{ 'revolution.settings.css'  | asset_url  | stylesheet_tag }}    
{{ 'revolution.captions-original.css'  | asset_url  | stylesheet_tag }}    
{{ 'foundation.min.css'  | asset_url  | stylesheet_tag }}     
{{ 'jquery.mobile.custom.theme.min.css'  | asset_url  | stylesheet_tag }}   
{{ 'jquery.mobile.custom.structure.min.css'  | asset_url  | stylesheet_tag }}    
  
  
  
 
  
  
  
{{ 'hover.css'  | asset_url  | stylesheet_tag }}  
{{ 'animate.css'  | asset_url  | stylesheet_tag }}  
{{ 'font-awesome.css'  | asset_url  | stylesheet_tag }}   
{{ "https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap" | stylesheet_tag }}
{{ 'style.scss.css' | asset_url | stylesheet_tag }}
  
{{ 'jquery-3.3.1.min.js' | asset_url | script_tag }}  
{{ 'option_selection.js' | shopify_asset_url | script_tag }}  
    <!--[if lt IE 9]>
  {{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
  <![endif]-->

  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% if template contains 'customers' %}  
  {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}
  
  <!-- Additional Shopify helpers that will likely be added to the global shopify_common.js some day soon. -->
  {{ 'shopify_common.js'  | asset_url | script_tag }}
  
  <!-- dynamic checkout -->
  {{ '//cdn.shopify.com/shopifycloud/payment-sheet/assets/latest/dynamic-checkout-cart.en.js' | script_tag }}
  
  
{% if settings.yotpoappkey != '' %}
<script type="text/javascript">(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/{{ settings.yotpoappkey }}/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();</script>
{% endif %}  
 
{% if settings.loox %}    
{{ shop.metafields.loox["global_html_head"] }}
{% endif %} 
  
<style>  
html  {
 overflow:hidden; 
  
}
html, body {
  height:100%;
}
html.loaded {
    overflow-y: auto
}
.ui-mobile-rendering > * {
visibility:visible;  
}  
  

  
</style>  
 
{% render 'Favicon-and-Scrollbar', head: true %}
 
<!-- inject Loader CSS in head -->
{% style %} 
{% capture Load %}
{% section 'Loader' %}
{% endcapture %}
{% assign Load2 = Load | split: '<style data-shopify>' %}
{% assign Load3 = Load2[1] | split: '</style>' %}
{{ Load3[0] }}
{% endstyle %}
<!-- END inject Loader CSS in head -->  
</head>
  
<body id="{{ page_title | handle }}"  class="{% if customer %}customer-logged-in {% endif %} {% if cart.item_count > 0 %}hasitem{% endif %}">
{% render 'Favicon-and-Scrollbar' %}
    
{% comment %}
{% assign page_title_handle = page_title | handle %}
 {% unless settings.disableproductajax or settings.disablesiteajax or page_title_handle == 'challenge'  %}
 {% section 'Loader' %}
 {% else %}
  {% if template == 'index' %}
   {% section 'Loader' %}
  {% endif %}
{% endunless %}
{% endcomment %}
 
 {% section 'Mobile-Menu' %} 

   <header id="header" data-role="toolbar" data-type="header" data-position="fixed">   
         {% section 'Header-Notification' %}
         {% section 'Header-with-Bottom-Menu' %}
   </header>  

  
  
  
  <!-- /header -->
 <!-- create title and description -->
 {% if template == 'collection' %}
  {% assign meta_data = collection.metafields.global %}
  {% assign page_description = meta_data.description_tag %}
  {% assign page_name = collection.title %}
  {% assign page_url = collection.url %}
  {% elsif template == 'blog' %}
  {% assign meta_data = blog.metafields.global %}
  {% assign page_description = meta_data.description_tag %}
  {% assign page_name = meta_data.title_tag %}
  {% elsif template == 'article' %}
  {% assign meta_data = article.metafields.global %}
  {% assign page_description = meta_data.description_tag %}
  {% assign page_name = page_title %}
  {% elsif template == 'page' %}
  {% assign meta_data = page.metafields.global %}
  {% assign page_description = meta_data.description_tag %}
  {% assign page_name = meta_data.title_tag %}
 {% endif %}

 <div data-role="page" id="{{ template | replace: '.', '' }}{% if template == 'page' %}-{{ page.id }}{% endif %}{% if template == 'product' %}-{{ product.id }}{% endif %}{% if template == 'collection' %}-{{ collection.id }}{% endif %}" data-url="{{ page_url }}" data-title="{{ page_name }}" data-name="{{ page_name }}" data-description="{{ page_description | url_encode }}" class="ui-page {% if template == 'collection' %}collection-page {% else %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% endif %}"> 
  <div class="ui-panel-wrapper">
   <div role="main" class="ui-content">
      {{content_for_layout}}
  </div> <!-- End Content --> 
    <div id="footer" class="footer" data-role="toolbar" data-type="footer">
	{% section 'Footer' %}
    </div>
    </div><!-- End Panel wrap -->
</div><!-- End Page -->  
  
  
  {% comment %}
  {% section 'Popup' %}
  {% endcomment %}
  

  {{ 'jquery-start.js' | asset_url | script_tag }}
  {{ 'jquery.mobile.custom.min.js' | asset_url | script_tag }}
  {{ 'jquery.mobile.patches.js' | asset_url | script_tag }} 

   
   




    
    

  {{ 'https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js' | script_tag }}  
  {% include 'ajaxify-cart' %}
  {{ 'cart.js' | asset_url | script_tag }} 

   

  <!-- Revolution Slider -->
  {{ 'jquery.themepunch.revolution.min.js' | asset_url | script_tag }}
  {{ 'jquery.themepunch.tools.min.js' | asset_url | script_tag }}
  <!-- END Revolution Slider -->
   
    
      
    
    
   
  <!-- Foundation 6 -->   
  {{ 'what-input.js' | asset_url | script_tag }}   
  {{ 'foundation.min.js' | asset_url | script_tag }}
  {{ 'app.js' | asset_url | script_tag }}
  <!-- END Foundation 6 -->
    
   
   {{ 'setup.js' | asset_url | script_tag }}
{% if settings.quadpay %}  
<!-- {% comment %} QuadPay: Older Browsers {% endcomment %} -->
<script src="https://unpkg.com/@webcomponents/webcomponentsjs@2.2.4/webcomponents-loader.js" type="application/javascript"></script>
<script defer nomodule src="https://widgets.quadpay.com/es5/quadpay-widget-2.2.5.js" type="application/javascript"></script>
<!-- {% comment %} QuadPay: Modern Browsers {% endcomment %} -->
<script async src="https://widgets.quadpay.com/quadpay-widget-2.2.5.js" type="application/javascript"></script>  
{% endif %}
  
  
{% if settings.sezzlemerchantid != nil %}
<style>
li.product .salew {
  display:none;
}
.sezzle-checkout-button-wrapper {
    padding: 0 0 0px;  
}
.sezzle-product-page-widget, .sezzle-shopify-info-button {
      overflow: hidden;
}
.sezzle-button-text {
max-width:100% !important;  
}
.sezzle-payment-amount {
      font-size: 120% !important;
  font-weight: 700 !important;
}  
@media (max-width: 600px) {  
.sezzle-product-preview-widget .sezzle-button-text {  
font-size: 10px !important;  
}
.product-details .sezzle-button-text.sezzle-left  {
text-align:center;
}
}
</style>
<script type="text/javascript">
document.sezzleConfig = {
	"configGroups": [
		{
			"targetXPath": ".product-price",
            "widgetType": "product-page",
            "marginTop": 10,
			"fontWeight": 400,
              "fontSize": 15
		},
      	{
		 	"targetXPath": ".product/.h1/.currPrice",
            "widgetType": "product-preview",
			"fontWeight": 400,
            "fontSize": 15
		},
		{
			"targetXPath": "#cart-total",
            "widgetType": "cart",
            "marginBottom": 15,
			"alignment": "right",
            "fontSize": 15
		}
	],
	"supportedCountryCodes": [
		"US",
		"IN",
		"CA"
	]
}
</script>
<script src="https://widget.sezzle.com/v1/javascript/price-widget?uuid={{ settings.sezzlemerchantid }}"></script>
<script>
  setTimeout(function() {  
$(document).on("pagebeforecreate", function(e, data) {
  var pageClasses = Array.from(e.target.classList);
  var classes = ['template-index','collection-page', 'template-product', 'template-cart'];
  if(diff(pageClasses, classes)) {
removeJS('widget.sezzle.com');
var szl = document.querySelector('iframe[name="szl"]');
if(szl) {
szl.remove();   
}           
}
});
}, 800);

var diff = function(arr, arr2) {
    var ret = [];
    for(var i in arr) {   
        if(arr2.indexOf(arr[i]) > -1){
            ret.push(arr[i]);
        }
    }
  if(ret.length == 0) {
    return false;
  }else{
   return true
  }
};  
  

function removeJS(filename){
 var tags = document.getElementsByTagName('script');
 for (var i = tags.length; i >= 0; i--){ //search backwards within nodelist for matching elements to remove
  if (tags[i] && tags[i].getAttribute('src') != null && tags[i].getAttribute('src').indexOf(filename) != -1)
   tags[i].parentNode.removeChild(tags[i]); //remove element by calling parentNode.removeChild()
 }
}   
</script>  
{% endif %}

{% if settings.loox %}  
{{ shop.metafields.loox["global_html_body"] }}
{% endif %}

{% if settings.stamped %}  
<script async type="text/javascript" data-api-key="" id="stamped-script-widget" src="https://cdn-stamped-io.azureedge.net/files/widget.min.js"></script>  
{% endif %}  

</body>
</html>
