{% if settings.boldoptions %}
{%- include 'bold-common' -%}  
{% endif %}
{% if cart.item_count > 0 %}
<script>
  var checkoutBar = document.getElementById('checkout-bar');
  if(!checkoutBar) {
// create checkoutbar 
var checkoutbar = document.createElement('div');
checkoutbar.id = 'checkout-bar';
checkoutbar.classList.add('checkout-bar');
// create button 
var checkoutbarbutton = document.createElement('a');
checkoutbarbutton.id = 'checkout-bar-button';
checkoutbarbutton.setAttribute('href','#');
// create total
var checkoutbartotal = document.createElement('span');
checkoutbartotal.id = 'checkout-bar-total';
// put continue and total into button
checkoutbarbutton.innerHTML = 'Continue';
checkoutbarbutton.append(checkoutbartotal);
checkoutbar.innerHTML = '<a href="#" onclick="goBack()" class="continue"> <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-arrow-left fa-w-14 fa-3x" style=" width: 10px; margin-right: 3px;"><path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z" class=""></path></svg>Continue Shopping</a>';    
checkoutbar.append(checkoutbarbutton);
document.body.append(checkoutbar);
  }
</script>
{% style %}
  .cart-totals>div input[type=submit] {
    background:{{ section.settings.checkoutbackground }};
    color:{{ section.settings.checkoutcolor }};
  }
    #cart-total {
 color:{{ section.settings.totalcolor}};
}
{% endstyle %}
<div class="cart-header">
  <div class="row">
    <div class="large-12 text-center columns">
        <!--logo-->
        <a href="/" title="{{ shop.name }}">
          {% if section.settings.brand_logo_svg != '' %}
            {{ section.settings.brand_logo_svg }}
          {% else %}
          {% capture logo %}{{ section.settings.brand_logo | img_url: 'compact' }}{% endcapture %}
         {% if logo contains 'no-image' %} 

          <span>
            {% if section.settings.brandname != '' %}
            {{ section.settings.brandname }}
            {% else %}
             {{ shop.name }}
            {% endif %}
          </span>
          {% else %}
           <img alt="{{ shop.name}} logo" src="{{ section.settings.brand_logo | img_url: 'medium' }}" />
          {% endif %}
          {% endif %}
        </a> 
        <!--End logo-->
    </div>
    <div class="large-12 columns">
      <h2>
       Your Shopping Bag
      </h2>
      <span>
       {{ section.settings.message }}
      </span>
    </div>
  </div>
</div>


<form id="cartform" action="/cart" method="post" data-ajax="false">
<div class="row">
<div class="large-12 columns">    
  {% assign cartitems = cart.items %}
  {% for item in cartitems reversed %}
     {% if settings.boldoptions %}
     {%- include 'bold-options-hybrid-cart-item' with item -%}   
     {% endif %}
     <div cart-item="{{ item.id }}" class="product-cart-wrap">
       <div class="thumbnail-wrap" style="background-image:url({{ item | img_url: 'large' }})">
       </div>
       <div class="quantity-display">
         {{ item.quantity }}
       </div>
       <div class="product-title-wrap">
         <a href="{{ item.url }}">
             {{ item.product.title }} 
             {% assign item_variant = item.variant %}
             {% if item_variant.option1 %}{{ item_variant.option1 }}{% endif %}
            {% if item_variant.option2 %}<span>{{ item_variant.option2 }}</span>{% endif %}
	    {% if settings.boldoptions %}
	              <div class="attributes">
                      {% assign propertySize = item.properties | size %}
                      {% if propertySize > 0 %}
                      {% for p in item.properties %}
                      {%- if p.first.first == '_' -%}{%- continue -%}{%- endif -%}
                      {% assign first_character_in_key = p.first | truncate: 1, '' %}
                      {% unless p.last == blank or first_character_in_key == '_' %}
                      {{ p.first }}:
                      {% if p.last contains '/uploads/' %}
                      <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                      {% else %}
                      {{ p.last }}
                      {% endif %}
                      <br/>
                      {% endunless %}
                      {% endfor %}
                      {% endif %}
                      <!-- Bold:POv2 -->
                    </div>
	    {% endif %}
         </a>
       </div>
       <div class="quantity-wrap">
         <div>
          <input type="number" name="updates[{{ item.id }}]" id="updates_{{ item.id }}" class="quantity input-number" min="0" max="99" value="{{ item.quantity }}"  />
         </div>
         <a href="#" product-id="{{ item.id }}" class="remove"></a>
       </div>
       <div class="price-wrap">
         <span>
          <span> 
	   {% if settings.boldoptions %}
	   <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_price" style="display:none !important;"></span>{% include 'price' with item.price %}
	   {% else %}
           {% assign price = item.price | money | split: '.' %}{{ price.first }}
	   {% endif %}
           </span>
           <div>       
          </div>
         </span>
       </div>
     </div>  
  {% endfor %}
  </div>
</div>
  <div class="row align-justify">
    <div class="large-6 small-12">
      
      
      
      
      
   <!-- get all cart items into an array -->
 {% for item in cart.items %}
  {% if settings.boldoptions %}
  {%- comment -%}Bold:PO 2.0 - Hybrid Input{%- endcomment -%}
{%- if item.properties._boldBuilderId  and item.properties._boldVariantIds == null -%}
<input type="hidden" name="updates[]" id="updates_{{- item.key -}}" class="bold_hidden_input cart__product-qty" value="{{- item.quantity -}}" min="0" data-id="{{- item.key -}}">
{%- continue -%}
{%- endif -%}
  {% endif %}
   {% if forloop.last == true %}
    {% assign cartitems = cartitems | append: item.product.handle %}
   {% else %}
    {% assign cartitems = cartitems | append: item.product.handle | append: ',' %}
   {% endif %}

 {% endfor %}
{% assign cartitems = cartitems | split: ',' %}



<!-- see if anythings available -->
{% assign available = '' %}
{% for block in section.blocks %}
    {% case block.type %}
        {% when 'Upsell' %} 
          {% assign compare = all_products[block.settings.upsell_info] %}  
          {% if cartitems contains compare.handle %} 
             {% else %}  
             {% assign available = available | append: compare.handle %}
         {% endif %}
    {% endcase %}         
{% endfor %}


     

{% if available != '' %}
<div class="frequently-bought-wrap">
<h2>{{ section.settings.frequently-bought-title }}
</h2>
  
  
<div class="swiper-container frequently-swiper">
      <!-- Additional required wrapper -->
          <div class="swiper-wrapper"> 
  {% assign i = 0 %}
{% for block in section.blocks %}
    {% case block.type %}
        {% when 'Upsell' %}

{% assign upsell = all_products[block.settings.upsell_info] %}  
{% if cartitems contains upsell.handle %}  
{% else %}  
 
 <div class="swiper-slide"> 
<div class="row">  
 <div class="columns"> 
 <a href="#{{ upsell.handle }}{{ i }}" data-rel="popup"  data-transition="slideup" data-position-to="window" class="frequently-bought">
   <div>
     <div class="flex-video">
       <div>
     <img src="{{ upsell.featured_image | product_img_url: 'medium' }}" />
       </div>
     </div>
   </div>
   <div>
     <h2>{{ upsell.title }}</h2>
     <span>{% assign price = upsell.price | money | split: '.' %}{{ price.first }}</span>
   </div>
   <span>view</span>

 </a>
</div>
</div>
</div>   
           
{% endif %}
{% assign i = i | plus: 1 %} 
 
{% endcase %}         
{% endfor %}
  </div> 
</div>   
</div>    
      
      
      
<div id="frequently-bought-popups">
{% assign i = 0 %}
{% for block in section.blocks %}
{% case block.type %}
{% when 'Upsell' %}
{% assign upsell = all_products[block.settings.upsell_info] %}  
  
     
  
{% if cartitems contains upsell.handle %}  
{% else %}  
   <div class="popupwrap" data-role="popup" id="{{ upsell.handle }}{{ i }}" data-dismissible="false">
      <a class="close" href="#" data-rel="back">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 34 364 420"><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z" class=""></path></svg>
     </a>
      <div class="featured-image">
       <img src="{{ upsell.featured_image | product_img_url: 'large' }}" />
      </div>
      <div>
      <div>
        <h2>{{ upsell.title }}</h2>
        <span>{{ upsell.price | money }}</span>
      </div>
      <div>
        {{ block.settings.upsell_details }}
      </div>
      <div class="quantity-wrap">
            <div class="input-group">
             <span class="input-group-button">
              <button type="button" class="btn btn-danger btn-number"  data-type="minus">
                <span class="glyphicon glyphicon-minus">-</span>
              </button>
             </span>
             <input type="number" name="quantity" class="quantity input-number input-group-field" value="1" min="1" max="10" />
             <span class="input-group-button">
              <button type="button" class="btn btn-success btn-number" data-type="plus">
                  <span class="glyphicon glyphicon-plus">+</span>
              </button>
            </span>
            </div>
        <a data-rel="back" href="#" variant-id="{{ upsell.variants[0].id }}" class="frequently-add" id="frequently-bought-button">ADD<span id="frequently-bought-total" price="{{ upsell.price | money }}">{% capture newprice %}{{ upsell.price | money  }}{% endcapture %}{{ newprice | strip }}</span></a>    
     </div>
     </div>
   </div>
  
{% endif %}
{% assign i = i | plus: 1 %}  
{% endcase %}         
{% endfor %}      
</div>     
{% endif %}



      
      
      
      
      
      
      
      
          <input autocomplete="off" type="hidden" name="discount" /> 
 
    </div>
  	<div class="large-5 small-12 columns cart-totals">
      <ul>
{% if section.settings.advanced_klaviyo_list != '' and section.settings.advanced-discount != '' %}
<li class="top">
<h2>Promo</h2>
<a href="#advanced-abandoned-cart" data-rel="popup" data-transition="pop" onclick="triggerklaviyo();">Get discount</a>
<div id="advanced-abandoned-cart" class="advanced-popup-wrap" data-role="popup">
  <div class="advanced-popup" style="background-color:{{ section.settings.advanced_background_color }};">
    <h4>
      {{ section.settings.advanced-header }}
    </h4>
    <div>
     <form></form>
     <form id="email_signup" class="klaviyoform" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
      <input type="hidden" name="g" value="{{ section.settings.advanced_klaviyo_list }}">
      <input type="hidden" name="code" value="{{ section.settings.advanced-discount }}">
      <input type="email" value="" name="email" id="k_id_email" placeholder="Your@email.com">
      <button type="submit" class="klaviyo_submit_button">Unlock</button>
     </form>
      <div>
         will apply at checkout
      </div>
    </div>
  </div>
</div>   
</li>
{% endif %}
        <li>
          <h2>Shipping for U.S</h2>
          <span>
            <span>$12</span> {{ section.settings.shipping }}
          </span>
        </li>
        <li>
          <h2>Total</h2>
          <span id="cart-total">{% assign price = cart.total_price | money | split: '.' %}{{ price.first }}</span>
        </li>
        {% if section.settings.sezzle %}
            <div class="sezzle-wrap">
          or 4 interest-free payments of
          <span>
            {% assign sezzleprice = cart.total_price | divided_by: 4 %}
            <span>{% include 'price' with sezzleprice %}</span> with 
            <svg width="797pt" height="263pt" viewBox="0 0 797 263" version="1.1" xmlns="http://www.w3.org/2000/svg">
<g id="#93d063ff">
<path fill="#93d063" opacity="1.00" d=" M 72.83 40.94 C 72.48 25.43 81.15 11.78 90.46 0.12 C 93.52 11.83 96.08 24.02 102.70 34.36 C 118.47 58.39 140.29 77.47 158.49 99.54 C 166.96 110.05 175.16 121.04 180.45 133.55 C 184.37 143.05 186.12 154.17 182.02 163.91 C 178.77 172.18 172.84 178.90 167.50 185.86 C 164.34 173.42 159.75 161.20 152.42 150.59 C 134.20 123.94 109.40 102.90 87.87 79.10 C 78.58 68.70 72.14 55.12 72.83 40.94 Z" />
<path fill="#93d063" opacity="1.00" d=" M 42.70 55.69 C 45.76 49.28 50.33 43.80 54.72 38.27 C 56.83 51.70 60.86 65.09 68.68 76.36 C 86.47 101.53 110.35 121.58 128.72 146.28 C 135.36 155.03 141.36 164.40 145.24 174.73 C 147.91 182.16 149.48 190.44 147.16 198.18 C 144.24 208.05 137.53 216.07 131.46 224.15 C 127.86 211.06 123.14 198.00 114.96 187.02 C 96.69 161.34 72.64 140.67 51.66 117.35 C 44.86 109.74 39.54 100.56 37.55 90.48 C 35.39 78.74 37.02 66.24 42.70 55.69 Z" />
</g>
<g id="#000000ff">
<path fill="#000000" opacity="1.00" d=" M 667.03 67.75 C 673.75 67.79 680.48 67.78 687.21 67.76 C 687.21 111.90 687.31 156.03 687.25 200.17 C 680.51 200.15 673.77 200.13 667.03 200.18 C 667.05 156.04 667.05 111.89 667.03 67.75 Z" />
<path fill="#000000" opacity="1.00" d=" M 250.98 101.99 C 255.74 97.36 262.79 97.38 268.98 97.16 C 289.20 96.79 309.42 97.09 329.64 97.01 C 329.52 104.28 329.50 111.56 329.62 118.83 C 307.73 118.81 285.84 118.83 263.95 118.81 C 264.00 125.53 264.00 132.24 264.01 138.96 C 281.04 139.02 298.06 138.68 315.08 138.92 C 318.70 139.03 322.50 139.36 325.66 141.30 C 330.72 144.36 333.82 150.10 334.05 155.96 C 334.46 165.31 334.61 174.71 334.01 184.06 C 333.80 188.92 331.52 193.68 327.54 196.56 C 323.18 200.07 317.32 200.22 311.98 200.23 C 290.00 200.07 268.01 200.22 246.03 200.11 C 246.18 193.08 246.26 186.06 246.31 179.03 C 268.92 178.98 291.53 179.09 314.14 179.21 C 314.11 172.64 314.11 166.08 314.13 159.52 C 297.75 159.48 281.37 159.82 265.00 159.46 C 260.27 159.39 255.19 158.74 251.47 155.52 C 247.54 152.56 245.72 147.66 245.40 142.88 C 244.74 134.26 244.87 125.59 245.19 116.95 C 245.37 111.53 246.68 105.67 250.98 101.99 Z" />
<path fill="#000000" opacity="1.00" d=" M 347.84 114.93 C 347.81 106.08 355.20 97.95 364.13 97.59 C 381.05 96.43 398.04 97.22 415.00 96.98 C 422.21 96.91 430.26 96.96 436.05 101.95 C 439.94 104.99 441.82 109.84 442.22 114.65 C 443.16 124.51 443.25 134.51 442.03 144.36 C 441.23 151.60 435.15 157.72 428.02 158.90 C 424.73 159.46 421.38 159.44 418.06 159.52 C 401.05 159.75 384.04 159.41 367.03 159.63 C 367.07 166.12 367.06 172.61 367.04 179.10 C 390.78 179.66 414.61 177.77 438.28 180.33 C 438.04 186.89 438.09 193.46 437.99 200.02 C 413.64 200.04 389.28 200.40 364.94 199.95 C 356.64 199.83 349.40 192.92 348.09 184.88 C 347.43 180.96 347.57 176.96 347.57 173.00 C 347.77 153.64 347.44 134.28 347.84 114.93 M 367.01 118.84 C 367.06 125.55 367.10 132.25 367.16 138.96 C 385.68 138.94 404.19 138.96 422.71 138.96 C 422.66 132.20 422.68 125.44 422.76 118.68 C 404.18 118.75 385.59 118.83 367.01 118.84 Z" />
<path fill="#000000" opacity="1.00" d=" M 453.00 96.99 C 485.03 97.02 517.06 97.00 549.09 97.00 C 548.88 102.04 549.71 107.87 545.87 111.83 C 526.38 134.07 507.20 156.57 487.90 178.98 C 508.00 179.05 528.11 179.07 548.21 178.99 C 548.24 186.01 548.92 193.01 549.04 200.03 C 517.00 200.09 484.95 200.22 452.90 200.19 C 453.12 195.28 451.89 189.52 455.59 185.57 C 475.08 163.40 494.43 141.11 514.00 119.01 C 493.67 118.70 473.34 118.78 453.01 118.82 C 453.04 111.54 452.98 104.27 453.00 96.99 Z" />
<path fill="#000000" opacity="1.00" d=" M 558.37 97.02 C 590.51 96.98 622.66 96.99 654.81 97.02 C 654.66 101.49 655.57 106.65 652.30 110.29 C 632.95 133.36 612.88 155.83 593.70 179.05 C 613.77 179.05 633.83 179.04 653.90 179.00 C 654.23 186.04 654.62 193.07 654.85 200.12 C 622.67 200.15 590.49 200.21 558.31 200.11 C 558.48 194.86 557.28 188.60 561.56 184.58 C 574.25 170.88 586.30 156.61 598.65 142.60 C 605.51 134.63 612.75 127.00 619.56 118.97 C 599.17 118.61 578.78 118.85 558.39 118.80 C 558.52 111.54 558.49 104.28 558.37 97.02 Z" />
<path fill="#000000" opacity="1.00" d=" M 715.08 98.11 C 718.96 97.15 722.99 97.17 726.97 97.06 C 742.33 96.90 757.69 97.00 773.05 97.02 C 779.45 96.94 786.47 98.03 791.06 102.94 C 797.71 109.41 796.50 119.54 796.84 128.00 C 796.47 137.00 798.06 147.93 790.63 154.65 C 785.80 159.61 778.46 159.41 772.06 159.50 C 755.10 159.82 738.13 159.40 721.17 159.55 C 721.22 166.09 721.21 172.63 721.19 179.17 C 744.73 179.03 768.28 179.04 791.83 179.00 C 791.89 186.05 791.94 193.10 792.01 200.16 C 768.31 200.12 744.61 200.26 720.92 200.06 C 715.17 200.18 709.41 197.73 705.89 193.12 C 702.62 189.23 702.13 183.94 702.10 179.07 C 702.01 162.04 701.97 145.02 702.04 127.99 C 702.10 122.74 701.79 117.45 702.42 112.22 C 703.16 105.48 708.57 99.74 715.08 98.11 M 721.15 118.78 C 721.22 125.51 721.30 132.23 721.31 138.96 C 740.11 138.96 758.92 138.94 777.73 138.95 C 777.74 132.24 777.79 125.52 777.85 118.81 C 758.95 118.83 740.05 118.83 721.15 118.78 Z" />
</g>
<g id="#4bb63fff">
<path fill="#4bb63f" opacity="1.00" d=" M 1.47 107.64 C 3.83 96.04 10.60 85.99 18.08 77.06 C 21.09 88.89 23.70 101.18 30.49 111.55 C 46.23 135.30 67.82 154.25 85.86 176.14 C 94.35 186.64 102.55 197.62 107.91 210.11 C 111.59 218.94 113.49 229.09 110.36 238.37 C 107.20 247.41 101.15 255.01 95.13 262.31 C 91.77 250.17 87.51 238.08 80.33 227.63 C 65.18 205.84 45.67 187.66 27.43 168.55 C 19.62 160.30 10.99 152.43 5.92 142.07 C 0.36 131.58 -0.55 119.18 1.47 107.64 Z" />
</g>
</svg>
<span class="sezzle-info-icon">ⓘ</span>            
          </span>
        </div>
{% endif %}
        
{% if settings.quadpay %}        
{% comment %} <!-- Insert QuadPay Widget --> {% endcomment %}
<div class="quadpay" style="min-height:20px;">
  <quadpay-widget amount={{ cart.total_price | divided_by: 100.00 }} alignment="right"></quadpay-widget>
</div>        
{% endif %}        
        
        
        {% unless section.settings.reserve == 'off' %}
        <div class="cart-reserve">
          <div>🔥 Items in your cart are in high demand. But we have reserved your order.</div>
          <div class="time-wrap">Your order is reserved for <span time-left="{{ section.settings.reserve }}" id="reserve-cart-timer"></span> minutes!</div>
        </div>
        {% endunless %}
      </ul>
      <div>
      <input id="checkoutnow" type="submit" name="checkout" value="Continue" />   
      </div>
    </div>
  </div>
  
  
  
</form>
  
<script>
var callbackCart = function(){
  // Handler when the DOM is fully loaded
  if(!window.Swiper) {
    // add script
    var script = document.createElement("script");
    script.type = "text/javascript";   
    script.src = 'https://cdn.jsdelivr.net/npm/swiper@5.2.1/js/swiper.min.js';
    document.getElementsByTagName("head")[0].appendChild(script);
    // add style
    var style = document.createElement("link");
    style.type = "text/css";  
    style.rel = "stylesheet";
    style.href = 'https://cdn.jsdelivr.net/npm/swiper@5.2.1/css/swiper.min.css';
    document.getElementsByTagName("head")[0].appendChild(style);
  }
  if(!window.Hammer) {
   // add script
    var script = document.createElement("script");
    script.type = "text/javascript";   
    script.src = 'https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js';
    document.getElementsByTagName("head")[0].appendChild(script);   
  }
};

if (
    document.readyState === "complete" ||
    (document.readyState !== "loading" && !document.documentElement.doScroll)
) {
  callbackCart();
} else {
  document.addEventListener("DOMContentLoaded", callbackCart);
}
  
function deferCart(methodCart) {
    if (window.Swiper && window.jQuery && window.Hammer) {
        methodCart();
    } else {
        setTimeout(function() { deferCart(methodCart) }, 50);
    }
}
deferCart(function () {  
  
  
  
});
  
  

// load ajaxadd


  







  
  
</script>
{% if settings.sezzlemerchantid != nil %}
<script type="text/javascript">
document.sezzleConfig = {
	"configGroups": [
		{
			"targetXPath": ".product-price",
			"fontWeight": 400,
			"urlMatch": "product"
		},
		{
			"targetXPath": "#cart-total",
			"alignment": "right",
			"urlMatch": "cart"
		}
	],
	"supportedCountryCodes": [
		"US",
		"IN",
		"CA"
	]
}
</script>
<script src="https://widget.sezzle.com/v1/javascript/price-widget?uuid={{ settings.sezzlemerchantid }}"></script>
{% endif %}
{% else %}
<div class="row align-center">
  <div class="large-3 medium-4 small-6 column text-center">
     <div class="mascot">
      </div>
  </div>
</div>
<div class="row">
  <div class="large-12 text-center column page-title"> 
  <h1 class="gamma">Your Cart is empty</h1>
    <h3 class="delta"><div>What are you waiting for?</div> <a href="/">Get started here</a></h3>
  </div>
</div>
{% endif %}


    

{% schema %}
  {
    "name": "Cart",
    "settings": [
{
"type":"header",
"content":"Colors"
},
{
       "id": "checkoutbackground",
       "type": "color",
       "label": "Checkout Button Background",
       "default": "#299F3D"
},
{
       "id": "checkoutcolor",
       "type": "color",
       "label": "Checkout Button Color",
       "default": "#FFFFFF"
},
{
       "id": "totalcolor",
       "type": "color",
       "label": "Price Total Color",
       "default": "#299F3D"
},
{
   "type":      "header",
   "content":   "Brand Name / Brand Logo"
},      
{
       "id": "brandname",
       "type": "text",
       "label": "Brand Name"
      },
 {
     "type": "font_picker",
     "id": "font",
     "label": "Font",
     "default": "work_sans_n6"
   },
      {
       "id": "brand_logo",
       "type": "image_picker",
       "label": "Brand Logo"
      },
      {
       "id": "brand_logo_svg",
       "type": "html",
       "label": "Brand Logo SVG (Optional)"
      },
{
"type":"header",
"content":"Additional Messaging"
},
{
"type": "text",
"id": "message",
"label": "Welcome Message",
"default": "Your day is about to get better"
},
{
"type": "text",
"id": "shipping",
"label": "Shipping for U.S preview price",
"default": "Discounted"
},
{
"type": "checkbox",
"id": "sezzle",
"label": "Show Sezzle Price",
"default": false
},
{
   "type":      "radio",
   "id":        "reserve",
   "label":     "Show Cart Reserved for 10 mins",
   "options": [
     { "value": "off", "label": "Don't Show" },
     { "value": "1", "label": "1 min" },
     { "value": "3", "label": "3 mins" },
     { "value": "5", "label": "5 mins" }
   ],
   "default":   "off"
},
{
"type":"header",
"content":"Upsell Settings"
},
{
        "id": "frequently-bought-title",
        "type": "text",
        "label": "Title",
"default": "Frequently bought together"
},
{
"type":"header",
"content":"Advanced Abandoned Cart (Klaviyo Only)"
},
{
        "id": "advanced_klaviyo_list",
        "type": "text",
        "label": "Klaviyo List Id (ex: m4stTTd)"
      },
      {
        "type": "color",
        "id": "advanced_background_color",
        "label": "Background Color",
        "default": "#B350B4"
      },
      {
        "type": "color",
        "id": "advanced_button_color",
        "label": "Button Color",
        "default": "#3ACE9A"
      },
      {
        "id": "advanced-header",
        "type": "text",
        "label": "Header",
"default": "Unlock Your Discount"
      },
     {
        "id": "advanced-discount",
        "type": "text",
        "label": "Discount Code"
      }], 
  "blocks": [
    {
     "type": "Upsell",
     "name": "Upsell",
     "settings" : [
      {
       "id": "upsell_info",
       "type": "product",
       "label": "Upsell"
      },
      {
       "id": "upsell_details",
       "type": "textarea",
       "label": "Small Description"
      }
     ]
    }
   ]
  }
{% endschema %}

{% stylesheet 'scss' %}



// responsive sizes
@mixin bp($point) {
  
  $bp-small: "(max-width: 350px)";
  $bp-mobile: "(max-width: 600px)";
  $bp-mobileup: "(min-width: 600px)";
  $bp-phablet: "(max-width: 1022px)";
  $bp-phabletup: "(min-width: 1022px)";
  $bp-tablet: "(max-width: 1280px)";
  $bp-tabletup: "(min-width: 1280px)";
  $bp-laptop: "(max-width: 1600px)";
  $bp-desktop: "(min-width: 1600px)";
  @if $point == desktop {
    @media #{$bp-desktop}  { @content; }
  }  
  @else if $point == laptop {
    @media #{$bp-laptop} { @content; }
  }
  @else if $point == tablet {
    @media #{$bp-tablet} { @content; }
  }
  @else if $point == tabletup {
    @media #{$bp-tabletup} { @content; }
  }
  @else if $point == phablet {
    @media #{$bp-phablet} { @content; }
  }
  @else if $point == phabletup {
    @media #{$bp-phabletup} { @content; }
  }
  @else if $point == mobile {
    @media #{$bp-mobile}  { @content; }
  }
  @else if $point == mobileup {
    @media #{$bp-mobileup} { @content; }
  }
  @else if $point == small {
    @media #{$bp-small}  { @content; }
  }

}


//color transition
@mixin transition($attribute, $duration) {
    -webkit-transition: $attribute $duration ease;
    -moz-transition: $attribute $duration ease;
    transition: $attribute $duration ease;
}


@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}
@mixin animate($name, $duration, $iteration, $direction) {
  -webkit-animation-duration: $duration;
     -moz-animation-duration: $duration;
       -o-animation-duration: $duration;
          animation-duration: $duration;
  -webkit-animation-iteration-count: $iteration;
     -moz-animation-iteration-count: $iteration;
       -o-animation-iteration-count: $iteration;
          animation-iteration-count: $iteration;
  -webkit-animation-name: $name;
     -moz-animation-name: $name;
       -o-animation-name: $name;
          animation-name: $name;
  -webkit-animation-direction: $direction;
     -moz-animation-direction: $direction;
       -o-animation-direction: $direction;
          animation-direction: $direction;
}


/* Cart Page/Panel  ----------------------------------------------------------------------------------------------------------------------------*/



@include keyframes(controls) {
  0% {
   transform: translateX(-50%);
  }
  100% {
   transform: translateX(0%);
  }
}
@mixin controls {
  @include animate(controls, 0.3s, 1, normal);
}


body.cart header {

  display:none;
}

#cart[data-role='page'] {
padding-top:0 !important;
}

#cart[data-role='page'] .footer {
    display: none;
}

#cart[data-role='page'] .row {
       max-width: 71.5rem;
}

#cart[data-role='page'] {
  @include bp(mobileup) {
  padding-top:30px !important;
  }
}
#cart[data-role='page'] .mascot {
     margin-top: 20px; 
     @include bp(mobile) {
          margin-top: 40px; 
     }
   & .a2, & .a {
    fill: rgba(58, 58, 58, 0.19);
    opacity: 1 !important;
   }
}


.template-cart {
 @include bp(phablet) {
  &.animate {
    & .product-cart-wrap {
      transform: translateX(-50%);
     @include controls;
     animation-fill-mode: forwards; 
     @for $i from 1 to 10 {
       &:nth-child(#{$i}) {
        -webkit-animation-delay:(#{$i* 200ms + 300}); 
        animation-delay:(#{$i* 200ms + 300}); 
       }
      }
    }
  }
}
  & .cart-header {
    @include bp(mobile) {
        padding: 15px 0 25px;
    }
    & > .row:nth-child(1) {
      & .columns:nth-child(1) {
        @include bp(mobile) {
         text-align:center;
         padding:0 15px;
            flex: unset;  
        }
         & a {
          &:before {
           @include bp(mobile) {
        font-family: FontAwesome;
    content: '\f104';
    display: inline-block;
    font-size: 100%;
    vertical-align: top;
    width: 13px;
    color: rgba(0, 0, 0, 0.14);
    line-height: 17px;
    margin-right: 3px;
             display:none;
           }
          }
     	 & svg, & img {
      		max-width: 177px;
      	    height:auto;
           @include bp(mobile) {
              max-width: 45px;
           }
           & path {
             @include bp(mobile) {
          
             }
           }
    	  }
         }
      }
      & .columns:nth-child(2) {
       		 margin: 30px 0;
        	@include bp(mobile) {
              margin: 0; 
              padding: 0 10px;
              text-align: right;
        	}
        & a {
        	display:none;
            @include bp(mobile) {
          	 display:block;
            }
          & svg {
          	 max-width: 30px;
             height: auto;
          }
        }
        & h2 {
        font-family: 'Open Sans';
            font-size: 24px;
          @include bp(mobile) {
             font-size: 17px;
                opacity: 0.2;
                margin: 0;
            line-height: 1;
          }
        }
        & span {
            font-family: 'Open Sans', sans-serif;
  			color: rgba(0, 0, 0, 0.37);
            font-size: 15px; 
            @include bp(mobile) {
            	display:none;
            }
        }
      } 
    }
  }
  & form {
    @include bp(tablet) {
    padding-bottom: 75px;
    }
    & > .row {
      & > .columns:nth-child(1) {
      	padding:0;
      }
    }
  }
}

/* product wrap */

.product-cart-wrap {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);  
  display:flex;
  margin-bottom: 20px;
   position:relative;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    
   @include bp(mobile) {
     margin-bottom: 0px;
     box-shadow: none;
    -webkit-box-shadow: none;  
         font-size: 14px;
         padding: 0px 0;
   }
  &.is-animating {
-webkit-transition: transform 0.2s linear;
-moz-transition:  transform 0.2s linear;
-o-transition:  transform 0.2s linear;
transition:  transform 0.2s linear;
  }
    & .quantity-display {
      padding: 8px 5px;
      width: 9%;
      text-align: center;
      @include bp(mobileup) {
      	display:none;
      }
    }
    & .thumbnail-wrap {
      width: 15%;
      max-width: 15%;
      background-size:cover;
      position: relative;
    height: 0;
    padding-bottom: 12%;
    overflow: hidden;
      @include bp(mobile) {
      	display:none;
      }
    } 
    & .product-title-wrap {
      width: 61%;
      max-width: 61%;
      padding: 15px 20px;
      position:relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include bp(mobile) {
         width: 80%;
         max-width: 80%;
        justify-content: unset;
            padding: 8px 5px;
      }
      &:before {
          content: '';
    display: block;
    height: 100%;
    width: 25px;
    position: absolute;
    left: -10px;
    top: 0px;
    background: #fff;
    z-index: 4;
    overflow: hidden;
    border-radius: 360px;
        @include bp(mobile) {
        	display:none;
        }
      }
      & a {
          font-weight:600;
        & span {
            display: block;
   			font-size: 90%;
  			color: rgba(0, 0, 0, 0.18);
 			margin-top: 4px;
        }
      }
    }
    & .quantity-wrap {
      display:flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      @include bp(mobile) {
         order: 3;
         position: absolute;
         width: 50%;
        // right: -35%;
        right:0px;
        top: 0px;
        height: 100%;
        background: #00CC99;
        align-items: stretch; 
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
      }
      & > div {
        display:flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;  
      & input {
            width: 60px;
            margin: 0;
          @include bp(mobile) {
             background: none;
   			 border: 1px solid rgba(255, 255, 255, 0.39);
    		 color: #fff;
   			 font-size: 139%;
            text-align: center;
          }
       } 
      }
      & .remove {
      	display:none;
        @include bp(mobile) {
        	    flex-grow: 1;
    background: #d6434b;
    color: #fff;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
          cursor:pointer;
        }
        &:before {
            content: 'Remove';
            font-size: 11px;
            display:inline-block;
        }
      }
    }
    & .price-wrap {
      display:flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 20px;
      @include bp(mobile) {
    align-items: unset;
    font-size: 100%;
    padding: 0px 0px 0 10px;
    /* height: 100%; */
    align-self: normal;

      }
      & > span {
        display: flex;
        & span {
          @include bp(mobile) {
              padding: 8px 0;
          }
        }
        & > div {
          @include bp(mobileup) {
          	display:none;
          }
              align-items: center;
    display: flex;
    background: #f5f5f5;
    margin-left: 13px;
        & svg {
     max-width: 18px;
    height: auto;
    margin: 0px 3px 0 3px;
          & path {
              fill: rgba(0, 0, 0, 0.27);
          }
        }
        }
      }
      & sup {
      	  font-size: 63%;
          margin-left: 2px;
      }
    }
   &.open {
     @include bp(mobile) {
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
     }
   }
}

.cart-totals {
  margin-top: 10px;
  font-family: 'Open Sans',sans-serif;
  @include bp(mobile) {
      margin-top: 0px;
    padding-bottom: 50px ;
  }
  & ul {
  margin:0;
  list-style:none;
    & li, & .shopify-section li {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: rgba(0, 0, 0, 0.26); 
    padding: 10px 0px 10px; 
    font-weight: bold;   
    line-height: 1;  
      @include bp(mobile) {
        font-size: 14px; 
      }
      &.top, &:last-of-type:not(.top) {
    padding: 15px 0px 15px;
    margin: 5px 0px;
        @include bp(mobile) {
            padding: 15px 0px 15px;
    margin: 5px 0px;
          font-size: 95%;
        }
       & h2 {
         font-weight: bold;
         color:#000;
         font-size: 100%;
       }
       & a {
        color: #00CC99;
        text-transform: uppercase;
        font-weight: bold;
         font-size: 100%;
       }
       & span {
   
      font-weight: 600; 
    font-size: 139%;
    line-height: 1;
         font-weight: bold;
          @include bp(mobile) {
              font-size: 100%;
               
               color: #000000;
          }
         &#sezzle-price {
          display:none;
         }
        }
      }
      &:nth-child(1) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.11);
      }
      &:last-of-type:not(.top) {
      border-top: 1px solid rgba(0, 0, 0, 0.11);
      }
      & h2 {
    font-size: 110%;
    line-height: 1;
    margin: 0;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.26);     
      }
      & > span {
         color: #000;  
        & > span {
            text-decoration: line-through;
               color: rgba(0, 0, 0, 0.26);
               margin-right:15px;
        }
      }
    }
  }
 .sezzle-wrap {
       text-align: right;
                margin-top: 10px;
margin-bottom: 20px;
                   font-weight: 300;
                font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",Arial,sans-serif;
            @include bp(phablet) {

                font-size: 11px !important;
    line-height: 22px !important;
            }
            & > span {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    line-height: 1;
    @include bp(phablet) {

    }
              & > span:nth-child(1) {
    color: #4bb63f !important;
    font-weight: 900;
    font-family: 'OswaldMedium', sans-serif !important;
    font-style: italic !important;
    font-size: 145% !important;
    margin-right: 5px;
               & sup {
                  margin-left: 4px;
               }
              }
              & svg {
    width: 55px;
    height: 100%;
    max-height: 100%;
       margin: 0 5px;             
              }
              & span.sezzle-info-icon {
    vertical-align: text-top;
            
              cursor:pointer;
                @include bp(mobile) {
                    margin-bottom: 2px;
                }
              }
            }
   }
& .cart-reserve {
text-align:right;
  & > div:nth-child(1) {
      font-size: 15px;
  }
  & > div:nth-child(2) {
      background: #FEF4D0;
    border: 1px solid #EBD29A;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    padding: 10px 25px;
    margin-top: 5px;
  }
}
  & > div {
    margin-top: 20px;
    text-align:right;
    @include bp(mobile) {
    	display:none;
    }
    & input[type=submit] {
    font-family: 'Open Sans',sans-serif;
    cursor:pointer;
    border: none;
      font-size: 18px;    
    font-weight: bold;
    padding: 20px 40px;
       min-width: 75%;   
    }
  }
}
    @keyframes pulse2{
        0% {
          transform: scale(1);
              background: #9faab7;
        }
        50% {
        transform: scale(1.2);
           background: rgba(64, 224, 208, 0.48);
        }
        100% {
        transform: scale(1);
              background: #9faab7;
        }
      }



/* frequently bought */

.frequently-bought-wrap {
      margin-top: 10px;
  position:relative;
  @include bp(mobile) {
  background:#FAFAFA;
  padding: 10px 0px;  
  }
  & > h2 {
      font-size: 17px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
    @include bp(mobile) {
        padding: 0 20px;
         font-size: 14px;
           margin: 5px 0;
    }
    & span {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#325dc2+0,1c96a2+100 */
background: rgb(50,93,194); /* Old browsers */
background: -moz-linear-gradient(left, rgba(50,93,194,1) 0%, rgba(28,150,162,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(50,93,194,1) 0%,rgba(28,150,162,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(50,93,194,1) 0%,rgba(28,150,162,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#325dc2', endColorstr='#1c96a2',GradientType=1 ); /* IE6-9 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
          font-family: 'Open Sans';
    text-transform: uppercase;
    display: block;
    font-size: 130%;
    }
  }
  & .swiper-slide {
  
   }
}


.frequently-bought {
    font-weight:normal;
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.08);
    margin: 0 20px 30px 0;
  @include bp(mobile) {
  margin: 10px 0 10px 0px;
   box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.12);
    border: none;
  } 
  
  & > div:nth-child(1) {
        width: 33%;
    & .flex-video {
      margin-bottom: 0;
      padding-bottom: 100%;
      & div {
          height: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;  
      & img {
     	max-width: 100%;
      }
      }
    }
  }
  & > div:nth-child(2) {
    padding: 10px 5px 10px 10px;
    font-size: 18px;
    min-width: 40%;
   min-height: 95px; 
      display: flex;
    flex-flow: column;
    justify-content: center;  
    @include bp(mobile) {
       padding: 10px 5px 10px 12px;
    width: 33%;
    font-size: 15px;
    min-height: 75px;

    }
    & h2 {
    font-family: 'OswaldMedium', sans-serif;
    font-size: 100%;
    margin: 0 0 2px 0;
    font-weight: normal;
      @include bp(mobile) {
          font-size: 90%;
      }
    }
    & span {
     display:block;
     font-family:'Open Sans', sans-serif;
          font-weight: 600;
          font-size: 91%;
    }
  }
  & > span {
    flex-grow: 1;
    justify-content: center;
    text-align: center;
    align-self: stretch;
    display: flex;
    align-items: center;
    margin: 20px 0px 20px 8px;
    border-left: 1px solid rgba(0, 0, 0, 0.13);
    color: #e662ac;
    width: 30%;
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
    @include bp(mobile) {
          font-size: 16px;
     margin:10px 0px 10px 5px;
    }
  }
}

body.hasitem.cart {
  & .checkout-bar {
      transform: translateY(0);
      -webkit-transform: translateY(0);
  }
}

.checkout-bar {
  @include bp(mobileup) {
  display:none;
  }
    position: fixed;
    overflow: hidden;
    z-index: 1001;
    bottom: 0;
    padding: 20px 20px 25px 20px;
    width: 100%;
    text-align: center;
    background:#fff;
    box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.18); 
      transform: translateY(100%);
      -webkit-transform: translateY(100%);
    @include transition(all,0.3s);
    & a {
    background: #00a953;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    border-radius: 20px;
    padding: 13px 30px;
    width: 100%;
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;
            position: relative;
      font-weight:600;
      & span {
          position: absolute;
          right: 25px;
        font-weight:normal;
      }
     &.continue {
    background: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 15px;
    color: rgba(0,0,0,0.78);
     }
    }
}

.ui-popup-container.slideup, .ui-popup-container.slideup .ui-popup.popupwrap {
  background:#fff;
       max-width: 800px;
   @include bp(phablet) { 
    height: 100%;
    width: 100%;
    max-width:100% !important;
    position: absolute;
    top: 0;
    left:0;
    border:none;
    box-shadow:none;
   }  
}

.popupwrap {
  display:flex;
  @include bp(phablet) {
   display:block;
  }
  & .close {  
background-color: #ffffff;
    border-width: 4px;
    border-style: solid;
    border-color: #fff;
    color: #fff;
    text-shadow: 0 1px 0 #f3f3f3;
    padding: 4px 7px;
    border-radius: 100%;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    position: absolute;
    top: -20px;
    left: -15px;
    font-size: 24px;
    line-height: 1;
    @include bp(phablet) {
    background: none;  
    border:none;
    color:#000;
    text-shadow:none;
    box-shadow:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    padding:0;
    top: 10px;
    left: 12px;
    }
    & svg {
    width: 18px;
    height: auto;
    line-height: 1;
     & path {
       fill: #bdbdbd;
	 }
	}
}
  & .featured-image {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  & > div:nth-child(3) {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    width: 65%;
    @include bp(phablet) {
    display:block;
    width:100%;
    }
     & > div:nth-child(1) {
        margin-top: 20px;
        text-align: center;
    & h2 {
          font-size: 17px;
          font-weight: bold;
          margin-bottom: 2px;
    }
    & span {
        font-size: 14px;
   		display: block;
    text-shadow: none;
          color: #6b6b6b;
    }
  }
  & > div:nth-child(2) {
    padding: 10px 20px;
    max-width: 87%;
    margin: 0 auto;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    font-family: 'Open Sans';
        color: #6b6b6b;
  }
  & > div:nth-child(3) {
    
    z-index: 1001;
    position:relative;
    bottom: 0;
    padding: 20px 20px 25px 20px;
    width: 100%;
    display: flex; 
    @include bp(phablet) {
    position: fixed;
    }
    & a {
    background: #00CC99;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    border-radius: 20px;
    padding: 15px 30px;
    width: 100%;
    display: inline-block;
    text-transform: uppercase;
       font-size: 12px;
    position: relative;
    font-weight: 600;
    text-align: center;
    cursor:pointer;
      & span {
    text-shadow: none;
       margin-left: 5px; 
        & sup {
            top: 0;
            font-size: 100%;
          &:before {
           content:'.';
            display:inline-block;
          }
        }
      }
   }
    & .input-group {
          margin-right: 10px;
          background: #F6F6F8;
    border-radius: 20px;
          width: auto;
        margin-bottom: 0;
      & .btn-number {
             padding: 10px 18px;
        &:focus {
        	outline:none;
        }
      }
      & .input-number {
            font-weight: bold;
    background:none;
    text-align: center;
     width: 30px;
    padding: 0;
    border: none;
    box-shadow: none;
      }
    }
  }
  }
}



/* Advanced Abandoned Cart Popup */

#advanced-abandoned-cart {
overflow:hidden;
border:none;
  & .advanced-popup {
    font-family:'Open Sans', sans-serif;
    color:#fff;
    text-shadow:none;
    & h4 {
    font-family: inherit;
    font-weight: 600;
    font-size: 100%;
    text-align: center;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.14);
    margin-bottom: 10px;    
    }
    & > div {
    	padding:0 15px;
      text-align: center;
      & > form {
       	display:flex;
        & input {
          margin-bottom:0px;
             border-radius: 3px 0px 0px 3px;
    -webkit-border-radius: 3px 0px 0px 3px;  
         border:none; 
        }
        & button {
            background: #3ACE9A;
    color: #fff;
    padding: 0 20px;
    font-weight: 600;
    border-radius: 0px 3px 3px 0px;
    -webkit-border-radius: 0px 3px 3px 0px;   
          cursor:pointer;
        }
      }
      & > div {
       padding:15px 10px;
            font-size: 80%;
      }
    }
  }
}


/* END Cart Page-------------------------------------------------------------------------------------------------------------------------*/
{% endstylesheet %}

{% javascript %}    

{% endjavascript %}                                
 
