

{% style %}
{% assign loadedfonts = '' %}    
{% assign familyandweight = section.settings.font.family | append: section.settings.font.weight %}
{% if loadedfonts contains familyandweight %}
{% else %}
  {{ section.settings.font | font_face }}  
{% endif %}   
{% assign loadedfonts = loadedfonts | append: section.settings.font.family | append: section.settings.font.weight | append: section.settings.font.style | append: '|' %}


 #shopify-section-{{ section.id }} .collection-featured > .row.title h2 {
    font-family: {{ section.settings.font.family }}; 
    font-weight:{{ section.settings.font.weight }}; 
    font-style:{{ section.settings.font.style }};    
      font-size:{{ section.settings.fontsize }}px;   
        line-height: 1;
 }
{% if section.settings.fullwidth %}
   #shopify-section-{{ section.id }} .collection-featured > .row {
   max-width: 100%; 
   }
{% endif %}  
    
   #shopify-section-{{ section.id }} .collection-featured > .row.title {
     text-align: {{ section.settings.alignment }}; 
   }
  
{% if section.settings.linethrough %}

   #shopify-section-{{ section.id }} .shopify-section .collection-featured .title h2 span {
    background: #fff;
   }

   #shopify-section-{{ section.id }} .collection-featured > .row.title h2:before {  
    position: absolute;
    content: "";
    height: 1px;
    background-color: #e0e0e0;
    top: -moz-calc(50% - 0.5px);
    top: -webkit-calc(50% - 0.5px);
    top: -ms-calc(50% - 0.5px);
    top: calc(50% - 0.5px);
    left: 0;
    right: 0;
    width: 100%;
   }
{% endif %}

#shopify-section-{{ section.id }} .swiper-wrapper {
margin-left:0;
margin-right:0;
}
#shopify-section-{{ section.id }} .collection-featured .carousel {
display: flex;
align-items: center;
    margin: 0 auto;
{% unless section.settings.fullwidth %}max-width: 78.5rem;{% endunless %}
}  
#shopify-section-{{ section.id }} .collection-featured .swiper-button-next,   #shopify-section-{{ section.id }} .collection-featured .swiper-button-prev {
position: relative;
width: auto;
}
#shopify-section-{{ section.id }} .collection-featured .swiper-button-next {
right:auto;
}
#shopify-section-{{ section.id }} .collection-featured .swiper-button-prev {
left:auto;
}
#shopify-section-{{ section.id }} .collection-featured .swiper-button-next:after,   #shopify-section-{{ section.id }} .collection-featured .swiper-button-prev:after {
    padding: 0 30px;
    display: block;
}
#shopify-section-{{ section.id }} .collection-featured .swiper-button-next:focus,   #shopify-section-{{ section.id }} .collection-featured .swiper-button-prev:focus {
   outline: none;
}
:root{--swiper-theme-color:#7d7d7d}
@media (max-width: 1022px) { 

#shopify-section-{{ section.id }} .collection-featured .swiper-button-next:after,   #shopify-section-{{ section.id }} .collection-featured .swiper-button-prev:after {
  font-size:25px;  
  padding: 0 10px;
  display: block;
}
}



#shopify-section-{{ section.id }} .collection-featured li.product h3  {
color:{{ section.settings.producttitlecolor }};
}
#shopify-section-{{ section.id }} .collection-featured li.product .h1 {
color:{{ section.settings.productpricecolor }};
}
#shopify-section-{{ section.id }} .collection-featured li.product .desc {
color:{{ section.settings.productdesccolor }};
}


#shopify-section-{{ section.id }} .collection-featured .show-more a  {
background:{{ section.settings.showmorebackground }};
color:{{ section.settings.showmorecolor}};
}
 
  
#shopify-section-{{ section.id }} .collection-featured li.product a.buynow  {
background:{{ section.settings.buynowbackground }};
color:{{ section.settings.buynowcolor}};
}
    
#shopify-section-{{ section.id }}:nth-child(2) {
padding-top:50px;
}
@media (max-width: 1022px) { 
#shopify-section-{{ section.id }}:nth-child(2) {
padding-top:25px;
}
}  


{% if section.settings.css != nil %}
{{ section.settings.css | replace: '&gt;', '>' }}
{% endif %}
{% endstyle %}


  
<div class="collection-featured {% if section.settings.animate %}animate{% endif %}">
<div class="row title">
  <div class="column">
    <h2><span>{{ section.settings.title }}</span></h2>
  {% if section.settings.subtitle %}
  <p>{{ section.settings.subtitle }}</p>
  {% endif %}
  </div>
</div>

{% unless section.settings.carousel == false %}
<div class="carousel">  
<div class="swiper-button-prev"></div>   
<div class="swiper-container">
{% endunless %}    
<ul class="{% unless section.settings.carousel == false %} swiper-wrapper {% else %}  row align-center align-bottom {% endunless %}">
{% assign count = 0 %}  
{% assign products_per = section.settings.products_per | plus: 0 %}  
{% if products_per == 2 %}
  {% assign sizes = 'large-6 medium-6' %}
  {% elsif products_per == 3 %}
  {% assign sizes = 'large-4 medium-4' %}
  {% elsif products_per == 4 %}
  {% assign sizes = 'large-3 medium-6' %}
  {% else %}
  {% assign sizes = 'large-3 medium-4' %}
{% endif %}

{% if section.settings.collection != nil %}
{% assign thecollection = section.settings.collection %}
{% else %}
{% assign thecollection = false %}
{% endif %}
  
{% if thecollection.size > 0 %}
{% for product in collections[thecollection].products %}
  
  
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}


{% if count >= products_per %}
  {% assign hasmore = true %}
{% endif %}
      <li itemscope itemtype="http://schema.org/Product" data-id="{{ product.id }}" class="text-center product {% unless section.settings.carousel == false %}swiper-slide {% else %} columns {{ sizes }} small-6  {% unless product.available %} sold-out{% endunless %}{% if on_sale %} on-sale{% endif %}{% unless count >= products_per %} first-animate{% endunless %}{% endunless %}"  {% unless section.settings.carousel %} {% if count >= products_per %}style="display:none;"{% endif %} {% endunless %} >
         
      
      
       <a href="{{ product.url | within: collection }}">

         
            
       <div class="image">
         {% if product.featured_image %}<img class="hvr-grow" src="{{ product.featured_image | img_url: '1024x1024' }}" />{% endif %}
       </div>
         
         
         <h3>{{ product.title }}</h3>
       
         <p class="h1 medium-down--left">
          {% if product.price_max > product.price %}
        {% include 'price' with product.price_min %} 
        {% else %}
        {% include 'price' with product.price %}  
        {% endif %}
            
           
            </p>

          {% if on_sale %}
          <div class="salew">
            <span class="sale-tag medium-down--right{% if settings.product_reviews_enable %} has-reviews{% endif %}">
              {% assign compare_price = product.compare_at_price %}
              {% assign product_price = product.price %}
              {% include 'price-sale' %}
            </span>
         </div>
          {% endif %}
         
        {% if section.settings.desc %}
         <div class="desc">
           {{ product.description | truncate: 300, ", ..." }}
         </div>
         {% endif %}
         
         
         
       </a> 
        
   {% if section.settings.sezzle %}
       {% if product.price_max > product.price %}
         {% assign totalprice = product.price_min %}   
        {% else %}
        {% assign totalprice = product.price %}      
        {% endif %}
        <div class="sezzle-wrap">
          or 4 interest-free payments of
          <span>
            {% assign sezzleprice = totalprice | divided_by: 4 %}
            <span>{% include 'price' with sezzleprice %}</span> <w>with</w> 
            <svg width="797pt" height="263pt" viewBox="0 0 797 263" version="1.1" xmlns="http://www.w3.org/2000/svg">
<g id="#93d063ff">
<path fill="#93d063" opacity="1.00" d=" M 72.83 40.94 C 72.48 25.43 81.15 11.78 90.46 0.12 C 93.52 11.83 96.08 24.02 102.70 34.36 C 118.47 58.39 140.29 77.47 158.49 99.54 C 166.96 110.05 175.16 121.04 180.45 133.55 C 184.37 143.05 186.12 154.17 182.02 163.91 C 178.77 172.18 172.84 178.90 167.50 185.86 C 164.34 173.42 159.75 161.20 152.42 150.59 C 134.20 123.94 109.40 102.90 87.87 79.10 C 78.58 68.70 72.14 55.12 72.83 40.94 Z" />
<path fill="#93d063" opacity="1.00" d=" M 42.70 55.69 C 45.76 49.28 50.33 43.80 54.72 38.27 C 56.83 51.70 60.86 65.09 68.68 76.36 C 86.47 101.53 110.35 121.58 128.72 146.28 C 135.36 155.03 141.36 164.40 145.24 174.73 C 147.91 182.16 149.48 190.44 147.16 198.18 C 144.24 208.05 137.53 216.07 131.46 224.15 C 127.86 211.06 123.14 198.00 114.96 187.02 C 96.69 161.34 72.64 140.67 51.66 117.35 C 44.86 109.74 39.54 100.56 37.55 90.48 C 35.39 78.74 37.02 66.24 42.70 55.69 Z" />
</g>
<g id="#000000ff">
<path fill="#000000" opacity="1.00" d=" M 667.03 67.75 C 673.75 67.79 680.48 67.78 687.21 67.76 C 687.21 111.90 687.31 156.03 687.25 200.17 C 680.51 200.15 673.77 200.13 667.03 200.18 C 667.05 156.04 667.05 111.89 667.03 67.75 Z" />
<path fill="#000000" opacity="1.00" d=" M 250.98 101.99 C 255.74 97.36 262.79 97.38 268.98 97.16 C 289.20 96.79 309.42 97.09 329.64 97.01 C 329.52 104.28 329.50 111.56 329.62 118.83 C 307.73 118.81 285.84 118.83 263.95 118.81 C 264.00 125.53 264.00 132.24 264.01 138.96 C 281.04 139.02 298.06 138.68 315.08 138.92 C 318.70 139.03 322.50 139.36 325.66 141.30 C 330.72 144.36 333.82 150.10 334.05 155.96 C 334.46 165.31 334.61 174.71 334.01 184.06 C 333.80 188.92 331.52 193.68 327.54 196.56 C 323.18 200.07 317.32 200.22 311.98 200.23 C 290.00 200.07 268.01 200.22 246.03 200.11 C 246.18 193.08 246.26 186.06 246.31 179.03 C 268.92 178.98 291.53 179.09 314.14 179.21 C 314.11 172.64 314.11 166.08 314.13 159.52 C 297.75 159.48 281.37 159.82 265.00 159.46 C 260.27 159.39 255.19 158.74 251.47 155.52 C 247.54 152.56 245.72 147.66 245.40 142.88 C 244.74 134.26 244.87 125.59 245.19 116.95 C 245.37 111.53 246.68 105.67 250.98 101.99 Z" />
<path fill="#000000" opacity="1.00" d=" M 347.84 114.93 C 347.81 106.08 355.20 97.95 364.13 97.59 C 381.05 96.43 398.04 97.22 415.00 96.98 C 422.21 96.91 430.26 96.96 436.05 101.95 C 439.94 104.99 441.82 109.84 442.22 114.65 C 443.16 124.51 443.25 134.51 442.03 144.36 C 441.23 151.60 435.15 157.72 428.02 158.90 C 424.73 159.46 421.38 159.44 418.06 159.52 C 401.05 159.75 384.04 159.41 367.03 159.63 C 367.07 166.12 367.06 172.61 367.04 179.10 C 390.78 179.66 414.61 177.77 438.28 180.33 C 438.04 186.89 438.09 193.46 437.99 200.02 C 413.64 200.04 389.28 200.40 364.94 199.95 C 356.64 199.83 349.40 192.92 348.09 184.88 C 347.43 180.96 347.57 176.96 347.57 173.00 C 347.77 153.64 347.44 134.28 347.84 114.93 M 367.01 118.84 C 367.06 125.55 367.10 132.25 367.16 138.96 C 385.68 138.94 404.19 138.96 422.71 138.96 C 422.66 132.20 422.68 125.44 422.76 118.68 C 404.18 118.75 385.59 118.83 367.01 118.84 Z" />
<path fill="#000000" opacity="1.00" d=" M 453.00 96.99 C 485.03 97.02 517.06 97.00 549.09 97.00 C 548.88 102.04 549.71 107.87 545.87 111.83 C 526.38 134.07 507.20 156.57 487.90 178.98 C 508.00 179.05 528.11 179.07 548.21 178.99 C 548.24 186.01 548.92 193.01 549.04 200.03 C 517.00 200.09 484.95 200.22 452.90 200.19 C 453.12 195.28 451.89 189.52 455.59 185.57 C 475.08 163.40 494.43 141.11 514.00 119.01 C 493.67 118.70 473.34 118.78 453.01 118.82 C 453.04 111.54 452.98 104.27 453.00 96.99 Z" />
<path fill="#000000" opacity="1.00" d=" M 558.37 97.02 C 590.51 96.98 622.66 96.99 654.81 97.02 C 654.66 101.49 655.57 106.65 652.30 110.29 C 632.95 133.36 612.88 155.83 593.70 179.05 C 613.77 179.05 633.83 179.04 653.90 179.00 C 654.23 186.04 654.62 193.07 654.85 200.12 C 622.67 200.15 590.49 200.21 558.31 200.11 C 558.48 194.86 557.28 188.60 561.56 184.58 C 574.25 170.88 586.30 156.61 598.65 142.60 C 605.51 134.63 612.75 127.00 619.56 118.97 C 599.17 118.61 578.78 118.85 558.39 118.80 C 558.52 111.54 558.49 104.28 558.37 97.02 Z" />
<path fill="#000000" opacity="1.00" d=" M 715.08 98.11 C 718.96 97.15 722.99 97.17 726.97 97.06 C 742.33 96.90 757.69 97.00 773.05 97.02 C 779.45 96.94 786.47 98.03 791.06 102.94 C 797.71 109.41 796.50 119.54 796.84 128.00 C 796.47 137.00 798.06 147.93 790.63 154.65 C 785.80 159.61 778.46 159.41 772.06 159.50 C 755.10 159.82 738.13 159.40 721.17 159.55 C 721.22 166.09 721.21 172.63 721.19 179.17 C 744.73 179.03 768.28 179.04 791.83 179.00 C 791.89 186.05 791.94 193.10 792.01 200.16 C 768.31 200.12 744.61 200.26 720.92 200.06 C 715.17 200.18 709.41 197.73 705.89 193.12 C 702.62 189.23 702.13 183.94 702.10 179.07 C 702.01 162.04 701.97 145.02 702.04 127.99 C 702.10 122.74 701.79 117.45 702.42 112.22 C 703.16 105.48 708.57 99.74 715.08 98.11 M 721.15 118.78 C 721.22 125.51 721.30 132.23 721.31 138.96 C 740.11 138.96 758.92 138.94 777.73 138.95 C 777.74 132.24 777.79 125.52 777.85 118.81 C 758.95 118.83 740.05 118.83 721.15 118.78 Z" />
</g>
<g id="#4bb63fff">
<path fill="#4bb63f" opacity="1.00" d=" M 1.47 107.64 C 3.83 96.04 10.60 85.99 18.08 77.06 C 21.09 88.89 23.70 101.18 30.49 111.55 C 46.23 135.30 67.82 154.25 85.86 176.14 C 94.35 186.64 102.55 197.62 107.91 210.11 C 111.59 218.94 113.49 229.09 110.36 238.37 C 107.20 247.41 101.15 255.01 95.13 262.31 C 91.77 250.17 87.51 238.08 80.33 227.63 C 65.18 205.84 45.67 187.66 27.43 168.55 C 19.62 160.30 10.99 152.43 5.92 142.07 C 0.36 131.58 -0.55 119.18 1.47 107.64 Z" />
</g>
</svg>
<span class="sezzle-info-icon">ⓘ</span>            
          </span>
        </div>
      {% endif %}
        
        
        <a href="{{ product.url }}" class="buynow">{{ section.settings.buynowtext }}</a>
     </li>
  
  
  {% assign count = count | plus: 1 %}
     {% endfor %}
  {% else %}


  {% if products_per >= 2 %}
  <li class="text-center columns {{ sizes }} small-6 product first-animate demo">
   <a href="#">
      <div class="image">
         <img class="hvr-grow" src="//user-images.githubusercontent.com/8041502/70945752-e10ea900-2023-11ea-8d7d-cddf9bbeefb9.jpg" />
      </div>
      <h3>Demo Product</h3>
      <p class="h1 medium-down--left">
        <small>$80.00</small>
      </p>
   </a>
   <a href="#" class="buynow">{{ section.settings.buynowtext }}</a>
</li>
    {% endif %}
  
  {% if products_per >= 2 %}
    <li class="text-center columns {{ sizes }} small-6 product first-animate demo">
   <a href="#">
      <div class="image">
         <img class="hvr-grow" src="//user-images.githubusercontent.com/8041502/70945753-e10ea900-2023-11ea-9793-a9ab9f015597.jpg" />
      </div>
      <h3>Demo Product</h3>
      <p class="h1 medium-down--left">
        <small>$90.00</small>
      </p>
   </a>
   <a href="#" class="buynow">{{ section.settings.buynowtext }}</a>
</li>
  {% endif %}
  
  {% if products_per >= 3 %}
    <li class="text-center columns {{ sizes }} small-6 product first-animate demo">
   <a href="#">
      <div class="image">
         <img class="hvr-grow" src="//user-images.githubusercontent.com/8041502/70945754-e10ea900-2023-11ea-8bc1-09820ac16e95.jpg" />
      </div>
      <h3>Demo Product</h3>
      <p class="h1 medium-down--left">
        <small>$100.00</small>
      </p>
   </a>
   <a href="#" class="buynow">{{ section.settings.buynowtext }}</a>
</li>
  {% endif %}
  
   {% if products_per >= 4 %}
    <li class="text-center columns {{ sizes }} small-6 product first-animate demo">
   <a href="#">
      <div class="image">
         <img class="hvr-grow" src="//user-images.githubusercontent.com/8041502/70945755-e10ea900-2023-11ea-9f47-cb9e9a6e8339.jpg" />
      </div>
      <h3>Demo Product</h3>
      <p class="h1 medium-down--left">
        <small>$110.00</small>
      </p>
   </a>
   <a href="#" class="buynow">{{ section.settings.buynowtext }}</a>
</li>
  {% endif %}
  
  
  
 {% endif %}
</ul>  
{% unless section.settings.carousel == false %}  
   <!-- If we need navigation buttons -->

  </div> <div class="swiper-button-next"></div> </div> 
{% endunless %}  
  {% unless section.settings.showmore == false %}  
  <div class="row show-more">
    <div class="column text-center">
      {% if thecollection.size > 0 %}
          <a href="{{ collections[section.settings.collection].url }}">Show More {% unless section.settings.collection == 'frontpage' %}{{ collections[section.settings.collection].title }}{% endunless %}</a>      {% else %}
       <a href="#">Show More</a>
      {% endif %}
    </div>
  </div>
  {% endunless %}
</div>


<script>
 $(document).on("shopify:section:select",'#shopify-section-{{ section.id }}',function(e){
                $('body').addClass('editing edit-{{ section.id }}');
$(document).one("shopify:section:deselect",function(e){
$('body').removeClass('edit-{{ section.id }}');
})
});         
</script>   
{% unless section.settings.carousel == false %}
<script>
  var callbackCollections_Featured{{ section.id }} = function(){
  // Handler when the DOM is fully loaded
  if(!window.Swiper) {
    // add script
    var script = document.createElement("script");
    script.type = "text/javascript";   
    script.src = 'https://cdn.jsdelivr.net/npm/swiper@5.2.1/js/swiper.min.js';
    document.getElementsByTagName("head")[0].appendChild(script);
    // add style
    var style = document.createElement("link");
    style.type = "text/css";  
    style.rel = "stylesheet";
    style.href = 'https://cdn.jsdelivr.net/npm/swiper@5.2.1/css/swiper.min.css';
    document.getElementsByTagName("head")[0].appendChild(style);
  }
};

if (
    document.readyState === "complete" ||
    (document.readyState !== "loading" && !document.documentElement.doScroll)
) {
  callbackCollections_Featured{{ section.id }}();
} else {
  document.addEventListener("DOMContentLoaded", callbackCollections_Featured{{ section.id }});
}
    
function deferCollections_Featured{{ section.id }}(methodCollections_Featured{{ section.id }}) {
    if (window.jQuery && window.Swiper) {
        methodCollections_Featured{{ section.id }}();
    } else {
        setTimeout(function() { deferCollections_Featured{{ section.id }}(methodCollections_Featured{{ section.id }}) }, 50);
    }
}
deferCollections_Featured{{ section.id }}(function () {  
  
  
SliderFeatured{{ section.id }}();  
  
function SliderFeatured{{ section.id }}() {
  
      var container = document.getElementById('shopify-section-{{ section.id }}').querySelector('.swiper-container');
      var swiper = new Swiper((container), {         
      effect: 'slide',  
      speed: 1200,
      autoplay: {
        delay: 4000,
        disableOnInteraction: true,
      },
  {% if products_per == 2 %}
      slidesPerView: 2,
  {% elsif products_per == 3 %}      
      slidesPerView: 3, 
  {% elsif products_per >= 4 %}      
      slidesPerView: 4,  
  {% endif %}
        slidesPerGroup: 1,
      loop: true,
    {% if products_per == 3 %}    
        centeredSlides: true,  
     {% endif %}      
      direction: 'horizontal',
      navigation: {
        nextEl: document.getElementById('shopify-section-{{ section.id }}').querySelector('.swiper-button-next'),
        prevEl: document.getElementById('shopify-section-{{ section.id }}').querySelector('.swiper-button-prev'),
      },
  breakpoints: {
    1022: {
  {% if products_per == 2 %}
      slidesPerView: 2,
  {% elsif products_per == 3 %}      
      slidesPerView: 3, 
  {% elsif products_per >= 4 %}      
      slidesPerView: 4,  
     
  {% endif %}
      spaceBetween: 15,
      slidesPerGroup: 1,
    },
    720: {
      slidesPerView: 2,
      spaceBetween: 2,
      slidesPerGroup: 2,
    },
    480: {
      slidesPerView: 2,
      spaceBetween: 2,
      slidesPerGroup: 2,
    },
    320: {
      slidesPerView: 2,
      spaceBetween: 2,
      slidesPerGroup: 2,
    },
  }
      });   
} 
    
  
});    
</script>
{% endunless %}   
{% if section.settings.animate %}
<script>
// get the element to animate
var element{{ section.id }} = document.querySelector('#shopify-section-{{ section.id }} .animate');
var elementHeight{{ section.id }} = element{{ section.id }}.clientHeight;

// listen for scroll event and call animate function
setTimeout(function() {                                                     
document.removeEventListener('scroll', animate{{ section.id }});                                     
document.addEventListener('scroll', animate{{ section.id }});
document.dispatchEvent(new CustomEvent('scroll'));    
}, 600);
// check if element is in view
function inView{{ section.id }}() {

  // get window height
  var windowHeight = window.innerHeight;
  // get number of pixels that the document is scrolled
  var scrollY = window.scrollY || window.pageYOffset;
  
  // get current scroll position (distance from the top of the page to the bottom of the current viewport)
  var scrollPosition = scrollY + windowHeight;
  // get element position (distance from the top of the page to the bottom of the element)
  var elementPosition = element{{ section.id }}.getBoundingClientRect().top + scrollY + (elementHeight{{ section.id }} / 5);
  
  // is scroll position greater than element position? (is element in view?)
  if (scrollPosition > elementPosition) {
    return true;
  }
  
  return false;
}

// animate element when it is in view
function animate{{ section.id }}() {
  // is element in view?
  if (inView{{ section.id }}()) {
      // element is in view, add class to element
      element{{ section.id }}.classList.add('effect');
  }
} 
</script>
{% endif %} 
    
{% unless section.settings.carousel %}
<script>
var showmorebutton = document.querySelector('#shopify-section-{{ section.id }} .show-more a');    
if(showmorebutton) {                                            
showmorebutton.addEventListener("click", showmore);
  function showmore(e) {
  // if has hidden 
  {% if hasmore == false %}
    e.preventDefault() 
    var ul = this.closest('.collection-featured').getElementsByTagName("ul")[0];
    var lis = ul.querySelectorAll("li");
    var i = 0
    lis.forEach(li => li.style.display == 'none' ? null : i++ );
    // now lets show em
    for (a = 0; (a + 1) < (i * 2) && a < {{ section.settings.products_per }} && (i + a) <= (ul.childElementCount - 1) ; a++) {
    ul.children.item((i + a)).style.display = 'block';
    }
    if((i * 2) >= ul.childElementCount) {
     this.classList.add('disabled');
    }
    {% endif %} 
  }
}
</script>
{% endunless %}
{% schema %}
  {
    "name": "Featured Collection",
    "settings": [
{
       "id": "title",
       "type": "text",
       "label": "Title"
},
 {
     "type": "font_picker",
     "id": "font",
     "label": "Font",
     "default": "work_sans_n6"
   },
  {
    "type":   "range",
    "id":     "fontsize",
    "min":       30,
    "max":       75,
    "step":     1,
    "unit":      "px",
    "label":     "Title Font Size",
    "default":   40
     },
{
"type": "checkbox",
"id": "linethrough",
"label": "Line Through",
"default": false
}, 
{
       "id": "subtitle",
       "type": "text",
       "label": "Sub Title"
},
{
   "type":      "radio",
   "id":        "alignment",
   "label":     "Alignment",
   "options": [
     { "value": "center", "label": "Center" },
     { "value": "left", "label": "Left" },
     { "value": "right", "label": "Right" }
   ],
   "default":   "center"
},
{
       "id": "collection",
       "type": "collection",
       "label": "Collection"
},
{
"type": "checkbox",
"id": "fullwidth",
"label": "Full Width",
"default": false
}, 
{
   "type": "select",
   "id": "products_per",
   "options": [
      { "value": "2", "label": "2 Products"},
      { "value": "3", "label": "3 Products"},
      { "value": "4", "label": "4 Products"},
      { "value": "6", "label": "6 Products"},
      { "value": "8", "label": "8 Products"},
      { "value": "12", "label": "12 Products"},
      { "value": "16", "label": "16 Products"},
      { "value": "50", "label": "All"}
   ],
   "default": "4",
   "label": "Show how many at a time?"
},
{
"type": "checkbox",
"id": "sezzle",
"label": "Show Sezzle Price",
"default": false
}, 
{
"type": "checkbox",
"id": "desc",
"label": "Show Shortened Product Description",
"default": false
}, 
{
"type": "checkbox",
"id": "carousel",
"label": "Show As Carousel (refresh page after enabling this)",
"default": false
}, 
{
"type": "checkbox",
"id": "animate",
"label": "Animate In",
"default": true
},
{
 "type": "header",
 "content": "Font Colors"
},
{
       "id": "producttitlecolor",
       "type": "color",
       "label": "Product Title Color",
       "default": "#000000"
},
{
       "id": "productpricecolor",
       "type": "color",
       "label": "Product Price Color",
       "default": "#000000"
},
{
       "id": "productdesccolor",
       "type": "color",
       "label": "Product Description Color",
       "default": "#000000"
},
{
 "type": "header",
 "content": "Buy Now Button"
},
{
       "id": "buynowtext",
       "type": "text",
       "label": "Button Text",
       "default": "Buy Now"
},
{
       "id": "buynowbackground",
       "type": "color",
       "label": "Background Color",
       "default": "#000000"
},
{
       "id": "buynowcolor",
       "type": "color",
       "label": "Font Color",
       "default": "#FFFFFF"
},
{
"type": "checkbox",
"id": "showmore",
"label": "Show More",
"default": true
}, 
{
 "type": "header",
 "content": "Show More Button"
},
{
       "id": "showmorebackground",
       "type": "color",
       "label": "Background Color",
       "default": "#000000"
},
{
       "id": "showmorecolor",
       "type": "color",
       "label": "Font Color",
       "default": "#FFFFFF"
},
{
 "type": "header",
 "content": "Additional Custom CSS"
},
{
        "id": "css",
        "type": "html",
        "label": "Custom CSS",
	"info": "Use [Font 2 Web](http://www.font2web.com/) to convert fonts"
}
],
  "presets": [
    {
      "name": "Featured Collection",
      "category": "Collections"
    }
  ]
  }
{% endschema %}

{% stylesheet 'scss' %}
@mixin bp($point) {
  
  $bp-small: "(max-width: 350px)";
  $bp-mobile: "(max-width: 600px)";
  $bp-mobileup: "(min-width: 600px)";
  $bp-phablet: "(max-width: 1022px)";
  $bp-phabletup: "(min-width: 1022px)";
  $bp-tablet: "(max-width: 1280px)";
  $bp-tabletup: "(min-width: 1280px)";
  $bp-laptop: "(max-width: 1600px)";
  $bp-desktop: "(min-width: 1600px)";
  @if $point == desktop {
    @media #{$bp-desktop}  { @content; }
  }  
  @else if $point == laptop {
    @media #{$bp-laptop} { @content; }
  }
  @else if $point == tablet {
    @media #{$bp-tablet} { @content; }
  }
  @else if $point == tabletup {
    @media #{$bp-tabletup} { @content; }
  }
  @else if $point == phablet {
    @media #{$bp-phablet} { @content; }
  }
  @else if $point == phabletup {
    @media #{$bp-phabletup} { @content; }
  }
  @else if $point == mobile {
    @media #{$bp-mobile}  { @content; }
  }
  @else if $point == mobileup {
    @media #{$bp-mobileup} { @content; }
  }
  @else if $point == small {
    @media #{$bp-small}  { @content; }
  }

}

//color transition
@mixin transition($attribute, $duration) {
    -webkit-transition: $attribute $duration ease;
    -moz-transition: $attribute $duration ease;
    transition: $attribute $duration ease;
}

.editing {
& .shopify-section {
& .collection-featured {
 &.animate li.first-animate {
opacity:1;
}
}
}
}

.shopify-section {
& .collection-featured {
    margin-bottom: 30px;
 &.animate {
 &.effect {
    li.first-animate {
    -webkit-animation-name: fadeInUp-Collection-Featured;
         animation-name: fadeInUp-Collection-Featured;
        
            -webkit-animation-duration: 800ms;
            animation-duration: 800ms;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    @for $i from 1 to 10 {
     &:nth-child(#{$i}) { animation-delay: $i * 0.25s; -webkit-animation-delay: $i * 0.25s;}
    } 
    }
 }
 & li.first-animate {
        opacity:0;
         will-change: transform;
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;

   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   -ms-perspective: 1000;
   perspective: 1000;
  }
}
 & .title {
  	& h2 {
     position:relative;
    & span {
    z-index: 2;
    position: relative;
    padding: 0 20px;
     font-size:100%;
    @include bp(mobile) {
      font-size:80%;
      padding: 0;
    }
     }
   }
  }
  & li.product  {
     margin-bottom: 35px;
     list-style:none; 
       position:relative;
     @include bp(mobile) {
          margin-bottom: 30px; 
     }

      & .image {
           z-index: 1;
    position: relative; 
            overflow: hidden; 
      }
      & h3 {
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    margin: 20px 0 5px;
    font-size: 19px;
    font-weight: bold;
       z-index: 2;
    position: relative;
       @include bp(mobile) {
       font-size: 13px;
       line-height: 21px;
       }
      }
       & .salew {
        margin-top:10px; 
       }
       & .h1 {
    margin-top: 0px;
    margin-bottom: 0;
    color: #000;
    font-size: 21px;
         & .money {
        color:#FA65A3;       
        font-size: 16px;    
        }
      }
       & .sale-tag {
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 900;
    padding: 0 8px;
    border-radius: 3px;
    vertical-align: text-bottom;
color: #ba5485;
    border: 2px solid #b95388;
    }
      & .pricewrap {
    text-transform: uppercase;
    color: #6d6d6d;
    font-size: 19px;
    font-family: 'Gotham';
    font-weight: 300;
       & .compare-price {
       text-decoration: line-through;
          font-size: 80%;
       }
      }
 & .desc {
margin-top: 10px;
}
      & .buynow {
    border-radius: 48px;
    padding: 11px 35px;
    display: inline-block;
color: #fff;
background: #d85089;
    margin: 20px 0 0 0; 
    @include transition(background,0.3s);
        @include bp(mobile) {
          padding: 11px 20px;
        }
    &:hover {
    }
      }
  & .sezzle-wrap {
         text-align: center;
                margin-top: 10px;
                   font-weight: 300;
                font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",Arial,sans-serif;
            @include bp(mobile) {
                font-size: 11px !important;
    line-height: 22px !important;
            }
            & > span {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    line-height: 1;
              & > span:nth-child(1) {
    color: #4bb63f !important;
    font-weight: 900;
    font-family: 'OswaldMedium', sans-serif !important;
    font-style: italic !important;
    font-size: 145% !important;
    margin-right: 5px;
               & sup {
                  margin-left: 4px;
               }
              }
              & svg {
    width: 55px;
    height: 100%;
    max-height: 100%;
       margin: 0 5px;             
              }
              & span.sezzle-info-icon {
    vertical-align: text-top;
            
              cursor:pointer;
                @include bp(mobile) {
                    margin-bottom: 2px;
                }
              }
            }
   }
    }
& .show-more a {
padding: 15px 20px;
    border-radius: 10px;
    display: inline-block;
    max-width: 300px;
    width: 100%;
&.disabled {
opacity:0.2;
}
}
} 
}


@keyframes fadeInUp-Collection-Featured {
   0% {
      opacity: 0;
      transform: translateY(150px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}   
{% endstylesheet %}


{% javascript %}       
 
{% endjavascript %}                            
