{% style %}
#shopify-section-Header-Notification .header-notification {
{% if section.settings.background_color_2 contains 'transparent' %}
      background-color:{{ section.settings.background_color }};                            
  {% else %}     
    background: -moz-linear-gradient(left, {{ section.settings.background_color }} 0%, {{ section.settings.background_color_2 }} 100%);
    background: -webkit-linear-gradient(left, {{ section.settings.background_color }} 0%, {{ section.settings.background_color_2 }} 100%);
    background: linear-gradient(to right, {{ section.settings.background_color }} 0%, {{ section.settings.background_color_2 }} 100%);                            
  {% endif %}                                        
color:{{ section.settings.text_color }};
}
{% endstyle %}

{% if section.settings.notification != blank %}
<div class="header-notification">
    <div class="row align-middle align-center">
      {% if section.settings.notification != '' %}
      <div class="large-12 columns text-center">
       {% if section.settings.url != '' %}
        <a href="{{ section.settings.url }}" style="color:{{ section.settings.text_color }};" >
        {% endif %}
        {{ section.settings.notification }}
        {% if section.settings.url != '' %}
        </a>
        {% endif %}
      </div>
      {% endif %}
    </div>
</div>  
{% endif %}


{% schema %}
  {
    "name": "Notification Bar",
    "settings": [ {
        "id": "notification",
        "type": "text",
        "label": "Notification"
      },
 {
        "id": "url",
        "type": "url",
        "label": "Link to"
      },
 {
        "id": "background_color",
        "type": "color",
        "label": "Background Color",
        "default": "#000000"
      },{
       "id": "background_color_2",
       "type": "color",
       "label": "Background Color #2 (Optional Gradient)",
       "default": "transparent"
},
 {
        "id": "text_color",
        "type": "color",
        "label": "Notification Color",
        "default": "#FFFFFF"
      }]
  }
{% endschema %}

{% stylesheet 'scss' %}
// responsive sizes
@mixin bp($point) {

  $bp-small: "(max-width: 350px)";
  $bp-mobile: "(max-width: 600px)";
  $bp-mobileup: "(min-width: 600px)";
  $bp-phablet: "(max-width: 1022px)";
  $bp-phabletup: "(min-width: 1022px)";
  $bp-tablet: "(max-width: 1280px)";
  $bp-tabletup: "(min-width: 1280px)";
  $bp-laptop: "(max-width: 1600px)";
  $bp-desktop: "(min-width: 1600px)";
  @if $point == desktop {
    @media #{$bp-desktop}  { @content; }
}  
@else if $point == laptop {
  @media #{$bp-laptop} { @content; }
}
@else if $point == tablet {
  @media #{$bp-tablet} { @content; }
}
@else if $point == tabletup {
  @media #{$bp-tabletup} { @content; }
}
@else if $point == phablet {
  @media #{$bp-phablet} { @content; }
}
@else if $point == phabletup {
  @media #{$bp-phabletup} { @content; }
}
@else if $point == mobile {
  @media #{$bp-mobile}  { @content; }
}
@else if $point == mobileup {
  @media #{$bp-mobileup} { @content; }
}
@else if $point == small {
  @media #{$bp-small}  { @content; }
}

}

.editnotification {
	& #shopify-section-Header-Notification {
    & .header-notification {
      //min-height:40px;
     }
	}
}
.header-notification {
    background: #ffdc67;
   & .columns {
   color:#fff;
   text-align:center;
    padding:10px 0;
    @include bp(mobile) {
          font-size: 11px;
        padding: 6px 0;
    font-size: 13px;
    }
    & a {
      color: #000;
       font-weight: 600;
    letter-spacing: 2px;
    font-size: 90%;
@include bp(mobile) {
    font-weight: 400;
    letter-spacing: 1px;
}
    }
   }
}
{% endstylesheet %}

{% javascript %}
 $(document).on("shopify:section:select",'#shopify-section-Header-Notification',function(e){
 $('body').addClass('editing editnotification').trigger( "updatelayout" );
     $(document).on("shopify:section:deselect",'#shopify-section-Header-Notification',function(e){
        $('body').removeClass('editnotification').trigger( "updatelayout" );
     });   
});               
{% endjavascript %}
