{% style %}
#shopify-section-{{ section.id }} .header-notification {
{% if section.settings.background_color_2 contains 'transparent' %}
      background-color:{{ section.settings.background_color }};                            
  {% else %}     
    background: -moz-linear-gradient(left, {{ section.settings.background_color }} 0%, {{ section.settings.background_color_2 }} 100%);
    background: -webkit-linear-gradient(left, {{ section.settings.background_color }} 0%, {{ section.settings.background_color_2 }} 100%);
    background: linear-gradient(to right, {{ section.settings.background_color }} 0%, {{ section.settings.background_color_2 }} 100%);                            
  {% endif %}                                        
color:{{ section.settings.text_color }};
}
#shopify-section-{{ section.id }} .header-notification .close path { 
fill:{{ section.settings.text_color }};
}
{% if section.settings.css != nil %}
{% assign css = section.settings.css | replace: '&gt;','>' %}
{{ css }}
{% endif %}
{% endstyle %}

{% if section.settings.notification != blank %}
<div class="header-notification">
    {% if section.settings.dismissable %}
    <a class="close" href="#">
    <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-times fa-w-10 fa-3x"><path fill="currentColor" d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z" class=""></path></svg>
    </a>
    {% endif %}
    <div class="row align-middle align-center">
      {% if section.settings.notification != '' %}
      <div class="large-12 columns text-center">
       {% if section.settings.url != '' %}
        <a href="{{ section.settings.url }}" style="color:{{ section.settings.text_color }};" >
        {% endif %}
        {{ section.settings.notification }}
        {% if section.settings.url != '' %}
        </a>
        {% endif %}
      </div>
      {% endif %}
    </div>
</div>  


<script>
 var closeButton = document.querySelector("#shopify-section-{{ section.id }} .header-notification .close");
 if(closeButton)   {   
 closeButton.addEventListener('click', closeNotif);
 }
 function closeNotif(event) {
  var headerNotifEl = event.currentTarget.closest('.header-notification');
  var headerEl = event.currentTarget.closest('header');
  headerNotifEl.remove();
  $(headerEl).toolbar( "updatePagePadding" );

 }
</script>
{% endif %}
{% schema %}
  {
    "name": "Notification Bar",
    "settings": [ {
        "id": "notification",
        "type": "text",
        "label": "Notification"
      },
 {
        "id": "url",
        "type": "url",
        "label": "Link to"
      },
 {
        "id": "background_color",
        "type": "color",
        "label": "Background Color",
        "default": "#000000"
      },{
       "id": "background_color_2",
       "type": "color",
       "label": "Background Color #2 (Optional Gradient)",
       "default": "transparent"
},
 {
        "id": "text_color",
        "type": "color",
        "label": "Notification Color",
        "default": "#FFFFFF"
      },
      {
        "id": "dismissable",
        "default": true,
        "label": "Enable Dismissable",
        "type": "checkbox"
      },
{
 "type": "header",
 "content": "Additional Custom CSS"
},
{
        "id": "css",
        "type": "html",
        "label": "Custom CSS"
}]
  }
{% endschema %}

{% stylesheet 'scss' %}
// responsive sizes
@mixin bp($point) {

  $bp-small: "(max-width: 350px)";
  $bp-mobile: "(max-width: 600px)";
  $bp-mobileup: "(min-width: 600px)";
  $bp-phablet: "(max-width: 1022px)";
  $bp-phabletup: "(min-width: 1022px)";
  $bp-tablet: "(max-width: 1280px)";
  $bp-tabletup: "(min-width: 1280px)";
  $bp-laptop: "(max-width: 1600px)";
  $bp-desktop: "(min-width: 1600px)";
  @if $point == desktop {
    @media #{$bp-desktop}  { @content; }
}  
@else if $point == laptop {
  @media #{$bp-laptop} { @content; }
}
@else if $point == tablet {
  @media #{$bp-tablet} { @content; }
}
@else if $point == tabletup {
  @media #{$bp-tabletup} { @content; }
}
@else if $point == phablet {
  @media #{$bp-phablet} { @content; }
}
@else if $point == phabletup {
  @media #{$bp-phabletup} { @content; }
}
@else if $point == mobile {
  @media #{$bp-mobile}  { @content; }
}
@else if $point == mobileup {
  @media #{$bp-mobileup} { @content; }
}
@else if $point == small {
  @media #{$bp-small}  { @content; }
}

}

.editnotification {
	& #shopify-section-Header-Notification {
    & .header-notification {
      //min-height:40px;
     }
	}
}
.header-notification {
   position:relative;
   & .columns {
   color:#fff;
   text-align:center;
    padding:10px 0;
    @include bp(mobile) {
          font-size: 11px;
        padding: 6px 20px;
    font-size: 13px;
    }
    & a {
      color: #000;
       font-weight: 600;
    letter-spacing: 2px;
    font-size: 90%;
@include bp(mobile) {
    font-weight: 400;
    letter-spacing: 1px;
}
    }
   }
  & .close {  
    z-index:3;
color: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 19px;
    line-height: 1.2;
    cursor: pointer;
    width: 24px;
    height: 24px;
    -moz-transition: box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
    -ms-transition: box-shadow 0.3s ease;
    -webkit-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    & svg {
    width: 10px;
    height: auto;
    position: relative;
    }
     &:focus {
     outline:none;
     border:none;
   }
}
}
{% endstylesheet %}

{% javascript %}
 $(document).on("shopify:section:select",'#shopify-section-Header-Notification',function(e){
 $('body').addClass('editing editnotification').trigger( "updatelayout" );
     $(document).on("shopify:section:deselect",'#shopify-section-Header-Notification',function(e){
        $('body').removeClass('editnotification').trigger( "updatelayout" );
     });   
});               
{% endjavascript %}       
