{% style %}
{% assign loadedfonts = '' %}    
{% assign familyandweight = section.settings.font.family | append: section.settings.font.weight %}
{% if loadedfonts contains familyandweight %}
{% else %}
  {{ section.settings.font | font_face }}  
{% endif %}   
{% assign loadedfonts = loadedfonts | append: section.settings.font.family | append: section.settings.font.weight | append: section.settings.font.style | append: '|' %}



  #shopify-section-{{ section.id }} .mobile-menu li {
      line-height:{{ section.settings.link_spacing }};
{% if section.settings.link_uppercase %}
text-transform:uppercase;
{% endif %}
{% if section.settings.link_bold %}
font-weight:bold;
{% endif %}
}

  #shopify-section-{{ section.id }} .mobile-menu a {
   color:{{ section.settings.link_color }};
    font-family: {{ section.settings.font.family }}; 
    font-style:{{ section.settings.font.style }};
  }
  
#shopify-section-{{ section.id }} #productsearch {
    font-family: {{ section.settings.font.family }}; 
    font-style:{{ section.settings.font.style }};
    color: {{ section.settings.link_color }};
    border-bottom-color: {{ section.settings.link_color }};
}
#shopify-section-{{ section.id }} #productsearchform path, #shopify-section-Mobile-Menu .ui-collapsible-heading path {
fill:{{ section.settings.link_color }};
}
  
 #shopify-section-{{ section.id }} .ui-panel-inner {
  {% capture backgroundimage %}{{ section.settings.background_image | img_url: '1024x1024' }}{% endcapture %}                                   
{% if backgroundimage contains 'no-image' %}
  {% if section.settings.background_color_2 contains 'transparent' or section.settings.background_color_2 contains 'rgba(0,0,0,0)' %}
      background-color:{{ section.settings.background_color }};                            
  {% else %}     
    background: -moz-linear-gradient(left, {{ section.settings.background_color }} 0%, {{ section.settings.background_color_2 }} 100%);
    background: -webkit-linear-gradient(left, {{ section.settings.background_color }} 0%, {{ section.settings.background_color_2 }} 100%);
    background: linear-gradient(to right, {{ section.settings.background_color }} 0%, {{ section.settings.background_color_2 }} 100%);                            
  {% endif %}
{% else %}
background-image:url({{ section.settings.background_image | img_url: '1024x1024' }}); background-color:{{ section.settings.background_color }};
{% endif %}     
}

#shopify-section-{{ section.id }} .mobile-menu ul > li {
font-size:{{ section.settings.link_size }}%;
}




{% if section.settings.css != nil %}
{% assign css = section.settings.css | replace: '&gt;','>' %}
{{ css }}
{% endif %}
{% endstyle %}
<style>
  #shopify-section-{{ section.id }} .mobile-menu ul li {
    {% if section.settings.link_border %}
      border-bottom: 1px solid {{ section.settings.link_color }}42;
    {% endif %} 
  }
</style>

<div class="ui-panel-inner">

<div class="content">
    <div class="content-inner"> 
<form id="productsearchform" class="search columns" action="/search">
 <input type="hidden" name="type" value="product" />
  <div class="inner-addon right-addon">
    <input id="productsearch" type="text" name="q" placeholder="{{ section.settings.search_placeholder }}" value="{{ search.terms }}"  data-role="none" autocomplete="off" />
   <button type="submit"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-search fa-w-16 fa-2x"><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z" class=""></path></svg></button>
  </div>
</form>
  
  
 
     <div id="mobile-menu" class="mobile-menu">
       

       
       <ul>
         
         
         
         
         {% for link in linklists.main-menu.links %}
         {% if linklists[link.handle] == empty %}
        {% if link.title == 'Catalog' %}
         {% else %}
         <li class="menu-item-{{ link.title }}">
            <a href="{{ link.url }}" title="{{ link.title }}">
            {{ link.title }}
            </a>
         </li>
        {% endif %} 
         {% else %}

         <li class="sub-collapse {% if link.active %} current-menu-item{% endif %} menu-item-{{ link.title }}" data-enhanced="true" data-role="collapsible">

           
  <div class="ui-collapsible-heading ui-collapsible-heading-collapsed">
    <a href="#" class="ui-collapsible-heading-toggle" title="{{ link.title }}">
      <svg width="7px" aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 498.98 284.49"><defs><style>.cls-1{fill:#231f20}</style></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
       {{ link.title }}
    </a>
    </div>
         <div class="ui-collapsible-content ui-collapsible-content-collapsed" aria-hidden="true">
            <ul>
               {% for l in linklists[link.handle].links %}
               <li style="font-size:100%;" class="menu-item-{{ l.title }}"><a href="{{ l.url }}" title="{{ l.title }}">{{ l.title }}</a></li>
               {% endfor %}
            </ul>
          </div>
         </li>
         {% endif %}
         {% endfor %}


{% if shop.customer_accounts_enabled %}
  {% if customer  %}
  <li class="menu-item-account"><a target="_parent" href="/account">Your Account</a></li>
  {% else %}
  <li class="menu-item-login">{{ 'Login' | customer_login_link }}</li>
  
  {% endif %}
{% endif %}
         
        
      </ul>
     </div>


     
     
     
   </div>
  </div>
</div>
<script>
function defer{{ section.id | replace: '-', '_' }}(method{{ section.id | replace: '-', '_' }}){
    if (window.jQuery && window.jQuery.mobile) {
        method{{ section.id | replace: '-', '_' }}();
    } else {
        setTimeout(function() { defer{{ section.id | replace: '-', '_' }}(method{{ section.id | replace: '-', '_' }}) }, 4);
    }
}
defer{{ section.id | replace: '-', '_' }}(function () {

  //$('#shopify-section-Mobile-Menu').addClass('panel position-fixed').attr({'data-role':'panel','data-position':'left','data-position-fixed':'true', 'data-display':'overlay', 'data-theme': 'a'})
  
  $(function(){
        $("#shopify-section-Mobile-Menu").panel({
      close: function(event, ui) {
        $('body').removeClass('popup-open');
       //stopBodyScrolling2(false); 
      },
      open: function(event,ui) {
             var vpH = window.innerHeight;  
      $('body').addClass('popup-open');
document.documentElement.style.height = vpH.toString() + "px";
//stopBodyScrolling2(true); 
      }
      
    });
    $('.sub-collapse').collapsible();
   });

});
</script> 
{% schema %}
  {
    "name": "Slide Out Menu",
    "settings": [{
   "type":      "header",
   "content":   "Menu Options"
},
{
    "type": "font_picker",
     "id": "font",
     "label": "Menu Font",
     "default": "work_sans_n6"
},
{
   "type":      "header",
   "content":   "Mobile Menu Colors"
},{
       "id": "background_color",
       "type": "color",
       "label": "Background Color",
       "default": "#ffffff"
},{
       "id": "background_color_2",
       "type": "color",
       "label": "Background Color #2 (Optional Gradient)",
       "default": "transparent"
},
{
       "id": "background_image",
       "type": "image_picker",
       "label": "Background Image (Optional)"
},
{
   "type":      "header",
   "content":   "Search Bar Colors"
},
{
       "id": "search_color",
       "type": "color",
       "label": "Search Color",
       "default": "#000000"
},
{
       "id": "search_placeholder",
       "type": "text",
       "label": "Search Placeholder Text",
       "default": "Search..."
},
{
   "type":      "header",
   "content":   "Link Style & Color"
},
{
       "id": "link_color",
       "type": "color",
       "label": "Link Color",
       "default": "#000000"
},
{
    "type":   "range",
    "id":     "link_size",
    "min":       25,
    "max":       100,
    "step":      1,
    "unit":      "%",
    "label":     "Link Size",
    "default":   100
},
{
    "type":   "range",
    "id":     "link_spacing",
    "min":       1,
    "max":       5,
    "step":      1,
    "label":     "Link Spacing",
    "default":   3
},
{
  "type": "checkbox",
  "id": "link_uppercase",
  "label": "Uppercase",
  "default": true
},
{
  "type": "checkbox",
  "id": "link_border",
  "label": "Border Line",
  "default": false
},
{
 "type": "header",
 "content": "Additional Custom CSS"
},
{
        "id": "css",
        "type": "html",
        "label": "Custom CSS"
}
]
  }
{% endschema %}

{% stylesheet 'scss' %}

@mixin bp($point) {
	$bp-small: "(max-width: 350px)";
	$bp-mobile: "(max-width: 600px)";
	$bp-mobileup: "(min-width: 600px)";
	$bp-phablet: "(max-width: 1022px)";
	$bp-phabletup: "(min-width: 1022px)";
	$bp-tablet: "(max-width: 1280px)";
	$bp-tabletup: "(min-width: 1280px)";
	$bp-laptop: "(max-width: 1600px)";
	$bp-desktop: "(min-width: 1600px)";
	@if $point == desktop {
		@media #{$bp-desktop} {
			@content;
		}
	} @else if $point == laptop {
		@media #{$bp-laptop} {
			@content;
		}
	} @else if $point == tablet {
		@media #{$bp-tablet} {
			@content;
		}
	} @else if $point == tabletup {
		@media #{$bp-tabletup} {
			@content;
		}
	} @else if $point == phablet {
		@media #{$bp-phablet} {
			@content;
		}
	} @else if $point == phabletup {
		@media #{$bp-phabletup} {
			@content;
		}
	} @else if $point == mobile {
		@media #{$bp-mobile} {
			@content;
		}
	} @else if $point == mobileup {
		@media #{$bp-mobileup} {
			@content;
		}
	} @else if $point == small {
		@media #{$bp-small} {
			@content;
		}
	}
}

.editpanel {
	#shopify-section-Mobile-Menu {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-moz-transform: none;
		left: 0;
		clip: unset;
		visibility: visible;
		width: 17em;
		&.ui-panel-closed {
			#productsearchform {
				transform: translateX(0px);
				opacity: 1;
				transition-delay: 0s;
				-webkit-transition-delay: 0s;
				transition-duration: 0s;
				-webkit-transition-duration: 0s;
				transition-timing-function: linear;
				-webkit-transition-timing-function: linear;
			}
			& .mobile-menu li {
				transform: translateX(0px);
				opacity: 1;
				transition-delay: 0s;
				-webkit-transition-delay: 0s;
				transition-duration: 0s;
				-webkit-transition-duration: 0s;
				transition-timing-function: linear;
				-webkit-transition-timing-function: linear;
			}
		}
	}
	.ui-collapsible-content-collapsed {
		display: block;
		margin: 0;
	}
	#productsearchform {
		transform: translateX(0px);
		opacity: 1;
		transition-delay: 0s;
		-webkit-transition-delay: 0s;
		transition-duration: 0s;
		-webkit-transition-duration: 0s;
		transition-timing-function: linear;
		-webkit-transition-timing-function: linear;
	}
	& .mobile-menu li {
		transform: translateX(0px);
		opacity: 1;
		transition-delay: 0s;
		-webkit-transition-delay: 0s;
		transition-duration: 0s;
		-webkit-transition-duration: 0s;
		transition-timing-function: linear;
		-webkit-transition-timing-function: linear;
	}
}

#shopify-section-Mobile-Menu {
	position: fixed;
	height: 100%;
	z-index: 1009;
	@include bp(mobile) {
		min-width: 72vw;
	}
	&.ui-panel-open {
		#productsearchform {
			transform: translateX(0px);
			opacity: 1;
		}
		.mobile-menu li {
			transform: translateX(0px);
			opacity: 1;
		}
	}
	&.ui-panel-closed {
		#productsearchform {
			transition-delay: 0s;
			-webkit-transition-delay: 0s;
			transition-duration: 0s;
			-webkit-transition-duration: 0s;
			transition-timing-function: linear;
			-webkit-transition-timing-function: linear;
		}
		li {
			transition-delay: 0s;
			-webkit-transition-delay: 0s;
			transition-duration: 0s;
			-webkit-transition-duration: 0s;
			transition-timing-function: linear;
			-webkit-transition-timing-function: linear;
		}
	}
	.ui-panel-inner {
		display: block;
		position: fixed;
		height: 100%;
		overflow-y: hidden;
		overflow-x: hidden;
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		padding: 0;
	}
	.content-inner {
		position: absolute;
		height: calc(100% - 0px);
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		padding: 1em;
		&::-webkit-scrollbar {
			width: 0px;
			background: transparent;
		}
	}
	.search {
		opacity: 0;
		-webkit-transform: translateX(-65px);
		transform: translateX(-65px);
		-webkit-transition: opacity 0.5s ease 0.15s, -webkit-transform 0.5s ease 0.15s;
		transition: opacity 0.5s ease 0.15s, -webkit-transform 0.5s ease 0.15s;
		padding: 0;
		margin-top: 20px;
	}
	.inner-addon {
	}
	#productsearch {
		height: 2.6rem;
		font-size: 21px;
	}

	.mobile-menu {
		margin: 30px 0;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 31px;
		ul {
			font-size: 60%;
			& li {
				& a {
					font-weight: inherit;
				}
			}
		}
	}
	li {
		font-size: inherit;
		list-style: none;
		opacity: 0;
		-webkit-transform: translateX(-65px);
		transform: translateX(-65px);
		-webkit-transition: opacity 0.5s ease 0.5s, -webkit-transform 0.5s ease 0.5s;
		transition: opacity 0.5s ease 0.5s, -webkit-transform 0.5s ease 0.5s;
		@for $i from 1 to 20 {
			&:nth-child(#{$i}) {
				transition-delay: $i * 0.1s + 0.15s;
				-webkit-transition-delay: $i * 0.1s + 0.15s;
			}
		}
	}
	a {
		font-weight: inherit;
		text-shadow: none;
		font-size: inherit;
		line-height: 1.8;
	}
	.ui-collapsible-heading {
		svg {
			width: 7px;
			vertical-align: middle;
		}
	}
	.contact-us {
		padding: 0.5em 0 0.5em 1em;
	}
	.formwrap {
		textarea {
			font-size: 1rem;
		}
		input[type="submit"] {
			background: #f371f6;
			color: #fff;
			border: none;
			outline: none;
			padding: 10px 20px;
			font-size: 18px;
			width: 100%;
		}
	}
	.message {
		font-size: 14px;
		text-shadow: none;
		font-weight: normal;
		color: #fff;
		text-transform: none;
		margin-bottom: 20px;
		line-height: 1.5;
	}
	.confirmation {
		display: none;
		padding: 10px 20px;
		font-size: 14px;
		text-shadow: none;
		font-weight: normal;
		text-transform: none;
		text-align: center;
		line-height: 1.2;
	}
}

#productsearchform {
	.inner-addon {
		position: relative;
	}
	button {
		top: 30%;
		right: 0px;
		position: absolute;
		&:focus {
			outline: none;
		}
	}
	svg {
		position: relative;
		padding: 2px;
		pointer-events: none;
		display: inline-block;
		font-family: "FontAwesome";
		font-style: normal;
		font-weight: 400;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		width: 16px;
	}
}
#productsearch {
	margin-bottom: 0;
	padding: 1px 30px 1px 5px;
	height: 2.4rem;
	font-size: 14px;
	background: none;
	border-radius: 0px;
	border: none;
	border-bottom: 2px solid;
	box-shadow: none;
	&::-webkit-input-placeholder {
		color: inherit;
	}
}

{% endstylesheet %}

{% javascript %}

 $(document).on("shopify:section:select",'#shopify-section-Mobile-Menu',function(e){
 paneledit();
 $('body').addClass('editing editpanel');

     $(document).on("shopify:section:deselect",'#shopify-section-Mobile-Menu',function(e){
        $('body').removeClass('editpanel');
        paneledit();
     });   
}); 

function paneledit() {
    $("#shopify-section-Mobile-Menu").panel({
      close: function(event, ui) {
        $('#swiper_Frame').removeClass('popup-open');
       stopBodyScrolling(false); 
      },
      open: function(event,ui) {
             var vpH = window.innerHeight;  
      $('#swiper_Frame').addClass('popup-open');
document.documentElement.style.height = vpH.toString() + "px";
$('#swiper_Frame')[0].style.height = vpH.toString() + "px";
stopBodyScrolling(true); 
      }
      
    });
}                
{% endjavascript %}                             
