{% if section.settings.show %}
{% style %}
#shopify-section-{{ section.id }} .product-faq >div > h3 {
    color:{{ section.settings.faq_color }};
    background:{{ section.settings.faq_background }};
    {% if section.settings.border %}
       border: 1px solid {{ section.settings.faq_color }};
    {% endif %}
}
#shopify-section-{{ section.id }} .product-faq >div > h3 svg path {
  fill:{{ section.settings.faq_color }};
}

#shopify-section-{{ section.id }} .inner .chat a {  
  background: {{ section.settings.button_background_color }};
  color: {{ section.settings.button_font_color }};
}

{% endstyle %}


<div class="Product-FAQ-wrap">
 <div class="inner">

    
    
   <h2>Frequently Asked Questions</h2>
    
   <div data-role="accordion" data-collapsible="true" data-height-style="content" data-icons="" class="product-faq">
    {% for block in section.blocks %}
        {% case block.type %}
            {% when 'Faq' %}
          <div>
          <h3>{{ block.settings.title  }} 
<svg width="30pt" height="18pt" viewBox="0 0 1071 625" version="1.1" xmlns="http://www.w3.org/2000/svg">
<g id="#000000ff">
<path fill="#000000" opacity="1.00" d=" M 46.44 16.42 C 55.77 7.16 68.83 1.78 81.99 1.97 C 94.88 1.89 107.62 7.20 116.83 16.17 C 253.52 155.48 390.20 294.79 526.89 434.10 C 529.68 437.02 532.34 440.15 535.67 442.50 C 543.03 435.61 549.85 428.12 556.99 420.98 C 688.82 286.81 820.57 152.57 952.40 18.40 C 961.71 8.32 975.24 2.28 989.00 2.45 C 1001.82 2.24 1014.62 7.21 1023.81 16.18 C 1033.87 26.13 1043.79 36.20 1053.85 46.15 C 1063.41 55.45 1069.11 68.64 1069.03 82.01 C 1069.21 94.93 1064.03 107.77 1055.05 117.04 C 896.49 278.16 737.86 439.20 579.33 600.34 C 573.30 606.31 567.62 612.94 559.94 616.88 C 544.46 625.53 524.39 625.00 509.32 615.67 C 500.74 610.49 494.61 602.38 487.43 595.57 C 330.36 435.98 173.23 276.44 16.17 116.83 C 1.02 101.73 -2.44 76.64 7.92 57.95 C 10.82 52.44 14.98 47.73 19.41 43.41 C 28.47 34.46 37.40 25.39 46.44 16.42 Z" />
</g>
</svg>
          </h3>
       <div>
         <p>
          {{ block.settings.answer }}
          </p>
       </div> 
      </div>
       {% endcase %}
    {% endfor %}
    {% if section.settings.add %}
     %%FAQ%% 
    {% endif %}
    </div>  
 
    
    

  
  
  <div class="chat">
    <span>still have a question?</span> <a data-transition="fade" href="{{ section.settings.url }}">Chat with us</a>
  </div>
   
  </div>
</div>
{% endif %}
{% schema %}
  {
    "name": "Product FAQ",
    "settings": [
{
"type": "checkbox",
"id": "show",
"label": "Show FAQ",
"default": false
}, 
{
"type": "checkbox",
"id": "add",
"label": "Include FAQ Page",
"default": true
}, 
{
   "type":      "header",
   "content":   "FAQ Colors"
},
{
       "id": "faq_color",
       "type": "color",
       "label": "Font Color",
       "default": "#000000"
},
{
       "id": "faq_background",
       "type": "color",
       "label": "Background Color",
       "default": "#EEEEEE"
},
{
"type": "checkbox",
"id": "border",
"label": "Show Border",
"default": false
}, 
{
   "type":      "header",
   "content":   "Contact Us"
},
      {
       "id": "url",
       "type": "url",
       "label": "Contact Page"
      },
{
       "id": "button_background_color",
       "type": "color",
       "label": "Button Background Color",
       "default": "#000000"
},{
       "id": "button_font_color",
       "type": "color",
       "label": "Button Font Color",
       "default": "#FFFFFF"
}
],"blocks": [
    {
     "type": "Faq",
     "name": "Faq",
     "settings" : [
      {
        "id": "title",
        "type": "text",
        "label": "Question"
      },
      {
        "id": "answer",
        "type": "richtext",
        "label": "Answer"
      }
      ]
    }
   ]
  }
{% endschema %}

{% stylesheet 'scss' %}
// responsive sizes
@mixin bp($point) {
  
  $bp-small: "(max-width: 350px)";
  $bp-mobile: "(max-width: 600px)";
  $bp-mobileup: "(min-width: 600px)";
  $bp-phablet: "(max-width: 1022px)";
  $bp-phabletup: "(min-width: 1022px)";
  $bp-tablet: "(max-width: 1280px)";
  $bp-tabletup: "(min-width: 1280px)";
  $bp-laptop: "(max-width: 1600px)";
  $bp-desktop: "(min-width: 1600px)";
  @if $point == desktop {
    @media #{$bp-desktop}  { @content; }
  }  
  @else if $point == laptop {
    @media #{$bp-laptop} { @content; }
  }
  @else if $point == tablet {
    @media #{$bp-tablet} { @content; }
  }
  @else if $point == tabletup {
    @media #{$bp-tabletup} { @content; }
  }
  @else if $point == phablet {
    @media #{$bp-phablet} { @content; }
  }
  @else if $point == phabletup {
    @media #{$bp-phabletup} { @content; }
  }
  @else if $point == mobile {
    @media #{$bp-mobile}  { @content; }
  }
  @else if $point == mobileup {
    @media #{$bp-mobileup} { @content; }
  }
  @else if $point == small {
    @media #{$bp-small}  { @content; }
  }

}

//color transition
@mixin transition($attribute, $duration) {
    -webkit-transition: $attribute $duration ease;
    -moz-transition: $attribute $duration ease;
    transition: $attribute $duration ease;
}

.Product-FAQ-wrap {
    max-width: 78.5rem;
    margin: 50px auto;
    @include bp(phablet) {
      margin: 35px auto;
    }
    & .inner {
    padding-right: .9375rem;
    padding-left: .9375rem;
max-width: 70%;
margin: 0 auto 0;
@include bp(phablet) {
max-width:100%;
}
    & > h2 {
      text-align:center;
      margin-bottom: 25px;
      font-size: 30px;
      @include bp(phablet) {
   font-size: 21px;
    margin-bottom: 20px;
}
    }




& .product-faq{
      & > div {   
        margin-bottom:30px;
       @include bp(phablet) {
margin-bottom: 20px;
}
      & > h3 {
    display: flex;
    justify-content: space-between;
     background: none;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
            text-shadow: none;
        @include bp(phablet) {
            font-size: 15px;
    line-height: 1.4;
        padding: 15px 18px;
        }
        &:hover, &:active, &.ui-accordion-header-active {
        background: none;

    text-shadow: none;
        }
        & svg {
         display:inline-block;
         text-align:right;  
         max-width: 18px;
         @include transition(transform,0.3s);
        }
        &.ui-accordion-header-active {
          & svg {
          	 transform: rotate(180deg);
          }
        }
      }
    }
}


.chat {
text-align:center;
 & span {
    @include bp(phablet) {
    display: block;
    margin-bottom: 15px;
   }
 }
 & a {
    font-family: 'Open Sans', sans-serif;
    background: #000;
    color: #fff;
    border-radius: 48px;
    padding: 11px 35px;
    display: inline-block;
    margin-left: 15px;
    font-size: 17px;
 }
}


}
}
{% endstylesheet %}

{% javascript %}   
$(document).on("shopify:section:load",'#shopify-section-Product-FAQ',function(e){
    var accordion = $(this).find('[data-role="accordion"]');
    accordion.accordion();
});          
{% endjavascript %}                           
 
