{% assign hasvideo = false %}
{% assign sticky = section.settings.sticky %}
{% for block in section.blocks %}
{% case block.type %}{% when 'Video' %}
{% if product.handle == block.settings.product %}
  {% assign hasvideo = true %}
  {% assign videourl = block.settings.product_video %}
{% endif %}
{% endcase %}
{% endfor %}

{% if sticky %}
<style>
@media only screen and (min-width: 1022px) {
  .sticky-sidebar-container-{{ product.id }} {
   display:flex;
  position: relative;  
    flex-wrap:nowrap; 
    
  }
  .sticky-sidebar-container-{{ product.id }} > * {
   float:none;
   width:100%;
   padding-right:0;
  }
  .sticky-sidebar-{{ product.id }} {
  will-change: min-height;
        max-width: 41%;
  }
  .sticky-sidebar-{{ product.id }} .sidebar_inner {
      transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
  }
  .sticky-sidebar-{{ product.id }} .sidebar_inner > * {
    padding:0;
    margin:0;
    float:none; 
    width:100%;
    padding-right: .9375rem;
    padding-left: 30px;
        max-width: none;
  }
}
</style>
{% endif %}
<div id="Product-Video-Gallery-{{ product.id }}" class="Product-Video-Gallery-main {% if hasvideo == true %}hasvideo{% endif %}"> 
{% if hasvideo == true %}
  <span class="mute"><i><svg width="931pt" height="931pt" viewBox="0 0 931 931" version="1.1" xmlns="http://www.w3.org/2000/svg">
<g id="#000000ff">
<path fill="#000000" opacity="1.00" d=" M 3.70 24.69 C 9.17 12.55 20.64 2.82 34.02 0.93 C 42.42 -0.04 51.25 0.35 59.04 3.94 C 65.10 6.39 70.17 10.67 74.59 15.40 C 147.55 88.44 220.61 161.38 293.56 234.43 C 295.87 236.53 297.72 239.39 300.68 240.62 C 312.43 229.75 323.41 218.05 335.02 207.03 C 372.14 170.47 409.32 133.99 446.51 97.51 C 467.13 77.13 488.00 57.00 508.44 36.43 C 516.51 29.18 523.61 20.75 532.81 14.84 C 542.27 8.55 553.58 4.35 565.07 5.15 C 574.96 5.71 584.73 10.20 591.00 17.99 C 600.22 29.01 603.10 43.97 602.79 58.00 C 602.86 219.02 602.62 380.04 602.95 541.05 C 602.75 542.99 603.67 544.67 605.11 545.91 C 706.08 646.93 807.08 747.93 908.09 848.91 C 914.48 855.54 922.17 861.34 925.96 870.01 C 935.02 887.72 928.79 911.26 912.43 922.46 C 902.83 929.16 890.37 932.19 878.92 929.15 C 868.62 927.12 859.91 920.61 853.35 912.64 C 573.91 633.09 294.33 353.67 14.90 74.11 C 7.71 67.52 1.93 58.81 0.74 48.96 C 0.18 40.81 -0.03 32.20 3.70 24.69 Z" />
<path fill="#000000" opacity="1.00" d=" M 89.36 298.46 C 93.85 297.58 98.45 297.65 103.00 297.67 C 114.68 297.77 126.36 297.59 138.04 297.72 C 142.94 297.54 145.57 302.33 148.81 305.19 C 299.48 455.87 450.13 606.55 600.83 757.19 C 602.15 758.42 602.92 760.10 602.80 761.94 C 602.79 788.63 602.79 815.32 602.79 842.01 C 602.50 858.61 604.05 875.54 599.76 891.79 C 596.75 902.83 590.84 913.63 581.22 920.20 C 573.09 925.79 562.59 927.14 553.08 925.00 C 542.13 922.51 532.30 916.46 524.00 909.03 C 513.79 899.92 504.43 889.91 494.49 880.52 C 410.67 798.69 326.82 716.88 243.05 635.03 C 241.93 634.15 240.37 634.48 239.07 634.33 C 191.72 634.34 144.37 634.34 97.02 634.35 C 77.76 634.60 60.16 619.30 56.40 600.66 C 55.35 595.17 55.72 589.56 55.69 584.00 C 55.68 505.34 55.70 426.67 55.69 348.00 C 55.73 341.93 55.31 335.75 56.74 329.79 C 60.55 314.34 73.74 301.58 89.36 298.46 Z" />
</g>
</svg>
</i> Tap for sound</span>
               <video preload="auto" poster="{% for image in product.images limit:1 %}{{ image | product_img_url: 'large' }}{% endfor %}" muted loop playsinline autoplay onclick="event.preventDefault();"> 
                 <source src="{{ videourl }}" type="video/mp4"> 
               </video>      
{% else %}
     
 <img src="{{ product.featured_image | product_img_url: '1024x1024' }}" />
        
{% endif %}
</div>           

<div class="Product-Video-Gallery-thumbs">
           <div class="swiper-container gallery-thumbs">
           <div class="swiper-wrapper">  
           {% for image in product.images %}
            <div class="swiper-slide">
             <a href="{{ image | product_img_url: 'master' }}" data-fancybox="product-{{ product.id }}" data-fancybox>
              <div class="thumb"> 
                <img src="{{ image | product_img_url: 'large' }}" />
               </div>
               <div class="overlay">
               <svg width="1110pt" height="1109pt" viewBox="0 0 1110 1109" version="1.1" xmlns="http://www.w3.org/2000/svg"><g id="#232323af"><path fill="#232323" opacity="0.69" d=" M 438.91 0.00 L 458.64 0.00 C 447.29 0.87 435.95 1.99 424.56 1.90 C 429.37 1.51 434.13 0.67 438.91 0.00 Z" /></g><g id="#000000ff"><path fill="#000000" opacity="1.00" d=" M 458.64 0.00 L 472.30 0.00 C 478.55 0.86 484.91 1.58 491.16 0.26 C 494.48 0.89 497.85 0.70 501.19 0.29 C 502.75 0.63 504.32 0.98 505.91 1.24 C 508.64 1.78 511.43 1.76 514.21 1.75 C 515.43 1.86 516.65 1.98 517.88 2.10 C 519.73 3.34 521.98 3.59 524.09 2.88 C 531.69 3.88 539.28 4.96 546.87 6.03 C 547.95 7.23 549.61 7.56 551.09 6.90 C 559.73 8.35 568.30 10.17 576.86 12.02 C 577.66 13.19 578.73 13.50 580.05 12.96 C 612.75 20.87 644.51 32.52 674.77 47.20 C 733.72 75.45 786.89 115.94 828.80 166.19 C 870.06 215.70 900.79 273.83 919.51 335.44 C 921.97 343.54 924.11 351.73 926.06 359.96 C 925.51 361.28 925.82 362.34 927.01 363.16 C 927.33 364.75 927.67 366.35 928.02 367.95 C 927.39 369.43 927.77 371.07 929.01 372.12 C 929.71 376.04 930.41 379.96 931.10 383.89 C 930.41 385.36 930.75 387.02 931.96 388.12 C 932.68 392.71 933.40 397.31 934.08 401.92 C 933.41 403.74 933.74 405.74 934.98 407.25 C 935.01 407.63 935.06 408.39 935.09 408.77 C 934.45 410.63 934.73 412.65 935.92 414.24 C 935.97 414.87 936.07 416.13 936.12 416.76 C 935.43 418.92 935.66 421.22 936.84 423.18 C 936.93 424.73 937.03 426.29 937.14 427.86 C 936.44 430.29 936.63 432.86 937.87 435.09 C 937.98 436.57 938.08 438.06 938.20 439.55 C 937.98 458.48 938.08 477.42 938.23 496.34 C 938.11 498.11 937.98 499.89 937.86 501.66 C 937.60 504.92 937.35 508.17 937.15 511.44 C 937.03 512.91 936.93 514.39 936.85 515.88 C 935.66 517.76 935.41 520.00 936.11 522.12 C 935.69 525.69 935.29 529.27 934.91 532.85 C 933.69 534.32 933.39 536.28 934.08 538.06 C 925.60 599.18 904.04 658.29 871.89 710.92 C 867.06 719.08 861.56 726.81 856.52 734.85 C 880.71 759.53 905.40 783.73 929.78 808.22 C 980.59 859.07 1031.42 909.91 1082.30 960.70 C 1088.34 966.71 1094.29 972.98 1098.51 980.45 C 1103.33 988.58 1106.23 997.67 1108.19 1006.88 C 1107.40 1008.29 1107.67 1009.98 1108.87 1011.10 C 1109.17 1012.29 1109.46 1013.49 1109.75 1014.71 C 1108.95 1021.18 1108.96 1027.70 1109.74 1034.17 C 1107.66 1041.82 1106.37 1049.75 1103.04 1057.01 C 1096.84 1071.63 1086.14 1084.05 1073.40 1093.41 C 1061.40 1102.06 1046.95 1107.71 1032.06 1108.11 C 1025.63 1108.09 1019.19 1108.08 1012.79 1108.75 C 1003.39 1106.55 993.81 1104.51 985.25 1099.85 C 971.78 1093.36 962.15 1081.59 951.59 1071.41 C 900.63 1020.37 849.46 969.53 798.37 918.62 C 777.38 897.84 756.36 877.09 735.57 856.09 C 725.58 861.77 716.37 868.72 706.31 874.30 C 670.04 895.77 630.89 912.47 590.07 923.03 C 588.73 922.50 587.67 922.83 586.89 924.03 C 585.29 924.35 583.70 924.70 582.11 925.05 C 580.62 924.39 578.98 924.75 577.92 925.98 C 568.03 928.29 558.09 930.40 548.07 932.09 C 546.29 931.40 544.33 931.70 542.87 932.93 C 539.94 933.30 537.01 933.69 534.09 934.08 C 532.27 933.42 530.29 933.71 528.78 934.92 C 527.57 934.98 526.38 935.05 525.19 935.13 C 522.99 934.42 520.67 934.68 518.71 935.90 C 518.10 935.96 516.88 936.09 516.27 936.15 C 513.80 935.44 511.22 935.62 508.92 936.76 C 500.70 937.18 492.52 937.98 484.30 938.25 C 474.43 937.94 464.56 937.98 454.69 938.23 C 451.57 938.05 448.45 937.88 445.33 937.74 C 441.41 937.49 437.49 937.33 433.57 937.17 C 432.08 937.06 430.59 936.96 429.11 936.87 C 427.21 935.65 424.94 935.40 422.81 936.10 C 421.60 936.02 420.40 935.95 419.21 935.90 C 417.63 934.71 415.62 934.44 413.78 935.09 C 413.40 935.06 412.64 935.00 412.25 934.97 C 410.70 933.75 408.68 933.42 406.83 934.07 C 406.18 934.04 404.87 933.98 404.22 933.95 C 403.07 932.75 401.39 932.44 399.90 933.12 C 367.27 928.70 335.30 919.92 304.46 908.48 C 239.36 883.76 179.00 845.68 130.66 795.35 C 85.72 748.90 51.53 692.56 28.80 632.17 C 22.54 615.45 17.24 598.38 12.97 581.04 C 13.50 579.72 13.18 578.65 12.01 577.86 C 10.59 571.27 9.20 564.68 7.91 558.07 C 8.57 556.60 8.24 554.94 7.06 553.86 C 5.55 544.63 3.91 535.42 2.90 526.12 C 3.58 524.31 3.26 522.31 1.98 520.86 C 1.92 520.19 1.80 518.86 1.74 518.19 C 1.76 515.42 1.79 512.64 1.24 509.92 C 0.99 508.32 0.63 506.75 0.28 505.19 C 0.92 500.54 0.65 495.85 0.00 491.23 L 0.00 447.72 C 0.76 442.38 1.06 436.96 0.35 431.60 C 0.54 430.95 0.93 429.66 1.12 429.01 C 2.44 426.84 2.58 424.27 1.80 421.89 C 2.20 417.64 2.64 413.39 3.07 409.15 C 4.29 407.65 4.58 405.67 3.89 403.89 C 4.55 399.28 5.26 394.68 6.00 390.09 C 7.23 389.03 7.59 387.37 6.93 385.90 C 14.49 341.54 29.55 298.66 49.51 258.40 C 75.12 207.03 109.81 159.99 152.55 121.57 C 204.83 74.02 268.45 39.52 335.91 18.95 C 337.23 19.49 338.29 19.17 339.10 17.99 C 351.26 14.53 363.55 11.51 375.96 9.00 C 377.42 9.63 379.06 9.29 380.15 8.11 C 384.10 7.43 388.03 6.71 391.96 5.97 C 393.79 6.58 395.77 6.24 397.27 5.02 C 397.65 4.99 398.42 4.95 398.80 4.92 C 400.66 5.54 402.68 5.23 404.25 4.04 C 404.64 4.01 405.40 3.94 405.79 3.90 C 407.64 4.53 409.66 4.24 411.25 3.07 C 411.88 3.02 413.14 2.93 413.77 2.89 C 415.91 3.56 418.18 3.31 420.10 2.12 C 421.59 2.05 423.07 1.98 424.56 1.90 C 435.95 1.99 447.29 0.87 458.64 0.00 M 457.01 171.12 L 456.18 171.19 C 451.52 170.81 446.81 170.87 442.23 171.86 L 443.19 171.88 C 438.65 171.88 434.10 172.35 429.70 173.46 C 428.90 171.82 425.36 172.12 425.32 174.09 C 424.44 174.18 422.69 174.38 421.81 174.48 C 421.17 172.88 418.08 173.39 418.10 175.15 C 417.56 175.22 416.48 175.36 415.94 175.42 C 414.74 173.87 410.84 174.01 410.54 176.17 C 407.21 176.49 403.83 177.07 400.78 178.50 C 399.52 177.25 398.57 177.46 397.94 179.14 L 397.14 179.31 C 395.77 178.15 394.84 178.42 394.35 180.12 C 390.90 180.26 387.56 181.24 384.28 182.23 C 354.74 191.04 326.39 204.28 301.35 222.32 C 275.18 240.29 252.06 262.54 232.43 287.45 C 203.11 324.47 182.50 368.78 175.25 415.56 C 173.20 415.35 172.72 419.02 174.51 419.72 C 174.19 421.25 174.04 422.81 174.03 424.38 C 172.05 424.55 171.90 428.08 173.50 428.93 C 173.43 429.49 173.28 430.60 173.21 431.15 C 171.25 431.26 170.85 434.76 172.47 435.65 C 172.10 437.11 171.87 438.60 171.81 440.12 L 171.79 439.17 C 170.50 448.52 170.90 458.01 171.33 467.41 C 171.23 468.80 171.22 470.21 171.30 471.61 C 171.11 481.23 170.09 491.05 172.09 500.55 C 172.17 501.00 172.33 501.91 172.41 502.37 C 170.81 503.44 170.99 507.34 173.10 507.54 C 173.20 510.79 173.41 514.11 174.48 517.22 C 172.81 517.72 173.37 520.88 175.15 520.66 C 176.65 536.15 181.26 551.15 186.02 565.91 C 188.37 573.60 192.20 580.71 194.76 588.32 C 214.45 633.42 246.52 672.49 284.57 703.39 C 314.65 727.54 349.35 746.17 386.63 756.35 C 391.51 757.64 396.34 759.33 401.40 759.78 C 401.11 761.56 404.30 762.19 404.80 760.49 C 411.17 762.40 417.77 763.78 424.44 763.96 C 424.39 765.71 427.47 766.10 428.13 764.59 L 429.04 764.77 C 429.98 766.93 434.05 767.01 435.70 765.45 C 437.80 765.67 439.91 765.78 442.03 765.91 L 442.00 766.97 C 445.45 766.93 448.90 766.86 452.34 766.70 C 452.78 766.73 453.65 766.80 454.09 766.83 L 453.90 767.97 C 461.26 768.05 468.62 767.76 475.98 768.09 C 479.43 768.24 482.93 768.08 486.26 767.07 L 485.72 767.04 L 486.72 766.92 C 489.97 767.00 493.24 766.91 496.42 766.18 L 495.83 766.19 C 497.41 766.05 498.99 765.89 500.58 765.75 C 503.91 766.10 507.32 766.06 510.51 764.86 L 511.32 764.58 C 511.83 766.24 514.98 765.64 514.72 763.88 C 520.99 763.64 527.23 762.42 533.21 760.52 C 533.69 762.19 536.87 761.66 536.63 759.88 C 538.50 759.80 540.44 759.56 542.11 758.65 C 543.47 759.81 544.36 759.53 544.79 757.80 C 546.50 757.72 548.18 757.34 549.85 756.96 C 584.93 747.48 617.95 730.80 646.84 708.81 C 696.82 670.53 737.01 617.93 755.16 557.20 C 757.25 549.41 760.00 541.70 760.83 533.64 C 762.59 533.93 763.24 530.77 761.58 530.25 C 762.52 527.83 762.89 525.22 762.91 522.65 C 764.68 522.85 765.18 519.69 763.53 519.20 C 764.73 515.80 764.98 512.15 764.94 508.58 C 766.90 508.58 767.14 505.02 765.49 504.31 C 766.39 500.71 766.91 497.01 767.03 493.30 C 768.75 485.65 767.65 477.75 768.00 469.99 C 767.68 462.61 768.96 455.04 766.94 447.83 C 766.91 447.42 766.85 446.61 766.82 446.21 C 766.88 443.08 766.91 439.95 766.95 436.82 L 765.82 436.70 C 765.71 435.94 765.49 434.43 765.37 433.67 C 767.10 433.02 766.93 429.37 764.91 429.41 C 763.86 412.63 759.66 396.19 754.88 380.11 C 744.77 346.58 727.91 315.23 706.22 287.78 C 684.97 260.46 659.09 236.89 630.40 217.60 C 603.68 199.82 573.72 187.09 542.63 179.30 C 538.70 178.29 534.75 177.14 530.67 177.12 C 530.91 175.34 527.76 174.78 527.25 176.43 C 524.80 175.48 522.16 175.11 519.56 175.05 C 519.58 173.29 516.50 172.88 515.85 174.42 L 514.94 174.23 C 514.72 172.26 511.23 171.81 510.32 173.49 C 508.75 173.22 507.17 173.08 505.60 173.07 C 505.33 170.97 501.42 170.88 500.35 172.47 C 498.52 172.11 496.66 171.85 494.81 171.77 L 495.76 171.79 C 488.91 170.55 481.93 170.33 475.00 169.93 C 469.00 169.92 462.81 169.17 457.01 171.12 Z" /><path fill="#000000" opacity="1.00" d=" M 441.42 256.60 C 447.42 255.32 453.66 256.21 459.76 255.85 C 470.59 256.07 481.43 255.90 492.26 255.84 C 501.87 256.50 511.05 264.84 511.53 274.65 C 510.53 287.08 511.20 299.55 510.98 312.00 C 511.15 350.29 510.78 388.59 511.16 426.88 C 533.77 427.20 556.38 426.92 579.00 427.01 C 607.07 427.00 635.14 427.13 663.21 426.67 C 671.95 426.87 679.27 434.02 682.12 441.88 C 682.63 459.64 681.68 477.40 682.13 495.16 C 680.29 502.77 674.00 509.60 666.19 511.13 C 636.46 510.87 606.73 511.06 577.00 511.00 C 555.06 511.10 533.12 510.79 511.19 511.14 C 510.68 533.09 511.18 555.05 511.03 577.00 C 510.90 593.67 511.07 610.33 511.04 627.00 C 511.06 638.82 510.44 650.66 511.59 662.44 C 511.93 669.74 506.63 676.12 500.73 679.78 C 495.40 682.99 488.95 682.33 483.00 682.36 C 471.00 682.18 458.98 682.59 446.98 682.19 C 437.61 682.24 429.45 674.90 426.89 666.18 C 426.99 614.50 426.97 562.81 426.91 511.12 C 404.61 510.87 382.30 511.27 360.00 511.12 C 330.60 511.20 301.21 510.97 271.82 511.19 C 263.39 508.89 256.46 501.10 255.84 492.28 C 255.92 481.11 256.06 469.93 255.85 458.77 C 256.00 453.57 255.68 448.34 256.34 443.17 C 257.87 434.76 265.40 427.96 273.75 426.68 C 324.81 426.72 375.89 426.69 426.95 426.77 C 427.02 375.12 427.08 323.46 426.91 271.81 C 428.95 264.84 434.75 259.22 441.42 256.60 Z" /></g><g id="#242424db"><path fill="#242424" opacity="0.86" d=" M 472.30 0.00 L 489.98 0.00 L 491.16 0.26 C 484.91 1.58 478.55 0.86 472.30 0.00 Z" /></g><g id="#26262661"><path fill="#262626" opacity="0.38" d=" M 489.98 0.00 L 500.01 0.00 L 501.19 0.29 C 497.85 0.70 494.48 0.89 491.16 0.26 L 489.98 0.00 Z" /></g><g id="#26262675"><path fill="#262626" opacity="0.46" d=" M 505.91 1.24 C 508.68 1.27 511.46 1.35 514.21 1.75 C 511.43 1.76 508.64 1.78 505.91 1.24 Z" /></g><g id="#2525255e"><path fill="#252525" opacity="0.37" d=" M 413.77 2.89 C 415.66 1.65 417.96 1.39 420.10 2.12 C 418.18 3.31 415.91 3.56 413.77 2.89 Z" /></g><g id="#2626266e"><path fill="#262626" opacity="0.43" d=" M 517.88 2.10 C 519.98 1.39 522.23 1.65 524.09 2.88 C 521.98 3.59 519.73 3.34 517.88 2.10 Z" /></g><g id="#27272762"><path fill="#272727" opacity="0.38" d=" M 405.79 3.90 C 407.35 2.70 409.39 2.40 411.25 3.07 C 409.66 4.24 407.64 4.53 405.79 3.90 Z" /></g><g id="#2828286c"><path fill="#282828" opacity="0.42" d=" M 398.80 4.92 C 400.36 3.72 402.38 3.40 404.25 4.04 C 402.68 5.23 400.66 5.54 398.80 4.92 Z" /><path fill="#282828" opacity="0.42" d=" M 391.96 5.97 C 393.45 4.71 395.44 4.37 397.27 5.02 C 395.77 6.24 393.79 6.58 391.96 5.97 Z" /><path fill="#282828" opacity="0.42" d=" M 934.08 538.06 C 933.39 536.28 933.69 534.32 934.91 532.85 C 935.60 534.62 935.30 536.59 934.08 538.06 Z" /><path fill="#282828" opacity="0.42" d=" M 542.87 932.93 C 544.33 931.70 546.29 931.40 548.07 932.09 C 546.60 933.31 544.64 933.62 542.87 932.93 Z" /></g><g id="#27272778"><path fill="#272727" opacity="0.47" d=" M 546.87 6.03 C 548.33 5.38 549.99 5.71 551.09 6.90 C 549.61 7.56 547.95 7.23 546.87 6.03 Z" /></g><g id="#2a2a2a75"><path fill="#2a2a2a" opacity="0.46" d=" M 375.96 9.00 C 377.02 7.78 378.68 7.43 380.15 8.11 C 379.06 9.29 377.42 9.63 375.96 9.00 Z" /><path fill="#2a2a2a" opacity="0.46" d=" M 928.02 367.95 C 929.23 368.99 929.62 370.63 929.01 372.12 C 927.77 371.07 927.39 369.43 928.02 367.95 Z" /></g><g id="#3131317a"><path fill="#313131" opacity="0.48" d=" M 576.86 12.02 C 578.17 11.48 579.23 11.79 580.05 12.96 C 578.73 13.50 577.66 13.19 576.86 12.02 Z" /><path fill="#313131" opacity="0.48" d=" M 542.11 758.65 C 542.87 757.95 543.76 757.66 544.79 757.80 C 544.36 759.53 543.47 759.81 542.11 758.65 Z" /></g><g id="#30303085"><path fill="#303030" opacity="0.52" d=" M 335.91 18.95 C 336.71 17.78 337.77 17.46 339.10 17.99 C 338.29 19.17 337.23 19.49 335.91 18.95 Z" /></g><g id="#222222d0"><path fill="#222222" opacity="0.82" d=" M 457.01 171.12 C 462.81 169.17 469.00 169.92 475.00 169.93 C 481.93 170.33 488.91 170.55 495.76 171.79 L 494.81 171.77 C 482.21 171.40 469.62 170.60 457.01 171.12 Z" /></g><g id="#2626265a"><path fill="#262626" opacity="0.35" d=" M 442.23 171.86 C 446.81 170.87 451.52 170.81 456.18 171.19 C 451.87 171.72 447.53 172.00 443.19 171.88 L 442.23 171.86 Z" /></g><g id="#27272772"><path fill="#272727" opacity="0.45" d=" M 500.35 172.47 C 501.42 170.88 505.33 170.97 505.60 173.07 C 503.82 173.10 502.06 172.88 500.35 172.47 Z" /></g><g id="#2727276a"><path fill="#272727" opacity="0.42" d=" M 425.32 174.09 C 425.36 172.12 428.90 171.82 429.70 173.46 C 428.28 173.91 426.80 174.12 425.32 174.09 Z" /><path fill="#272727" opacity="0.42" d=" M 528.78 934.92 C 530.29 933.71 532.27 933.42 534.09 934.08 C 532.58 935.29 530.58 935.60 528.78 934.92 Z" /></g><g id="#2b2b2ba5"><path fill="#2b2b2b" opacity="0.65" d=" M 510.32 173.49 C 511.23 171.81 514.72 172.26 514.94 174.23 C 513.38 174.10 511.83 173.85 510.32 173.49 Z" /></g><g id="#29292988"><path fill="#292929" opacity="0.53" d=" M 418.10 175.15 C 418.08 173.39 421.17 172.88 421.81 174.48 C 420.62 174.94 419.37 175.19 418.10 175.15 Z" /></g><g id="#2d2d2d7d"><path fill="#2d2d2d" opacity="0.49" d=" M 515.85 174.42 C 516.50 172.88 519.58 173.29 519.56 175.05 C 518.28 175.15 517.02 174.89 515.85 174.42 Z" /></g><g id="#282828ad"><path fill="#282828" opacity="0.68" d=" M 410.54 176.17 C 410.84 174.01 414.74 173.87 415.94 175.42 C 414.16 175.80 412.36 176.07 410.54 176.17 Z" /></g><g id="#2c2c2c6e"><path fill="#2c2c2c" opacity="0.43" d=" M 527.25 176.43 C 527.76 174.78 530.91 175.34 530.67 177.12 C 529.47 177.23 528.30 176.97 527.25 176.43 Z" /></g><g id="#2e2e2e7f"><path fill="#2e2e2e" opacity="0.50" d=" M 397.94 179.14 C 398.57 177.46 399.52 177.25 400.78 178.50 C 399.92 179.12 398.98 179.33 397.94 179.14 Z" /></g><g id="#3030307b"><path fill="#303030" opacity="0.48" d=" M 394.35 180.12 C 394.84 178.42 395.77 178.15 397.14 179.31 C 396.32 179.98 395.39 180.25 394.35 180.12 Z" /><path fill="#303030" opacity="0.48" d=" M 12.01 577.86 C 13.18 578.65 13.50 579.72 12.97 581.04 C 11.80 580.23 11.48 579.17 12.01 577.86 Z" /><path fill="#303030" opacity="0.48" d=" M 586.89 924.03 C 587.67 922.83 588.73 922.50 590.07 923.03 C 589.27 924.20 588.21 924.53 586.89 924.03 Z" /></g><g id="#21212147"><path fill="#212121" opacity="0.28" d=" M 459.76 255.85 C 463.43 254.94 467.24 254.79 471.01 254.96 C 478.09 255.28 485.27 254.26 492.26 255.84 C 481.43 255.90 470.59 256.07 459.76 255.85 Z" /><path fill="#212121" opacity="0.28" d=" M 255.01 478.00 C 255.23 471.59 254.27 465.07 255.85 458.77 C 256.06 469.93 255.92 481.11 255.84 492.28 C 254.73 487.59 254.86 482.77 255.01 478.00 Z" /></g><g id="#1818186e"><path fill="#181818" opacity="0.43" d=" M 426.14 292.00 C 426.34 285.27 425.12 278.41 426.91 271.81 C 427.08 323.46 427.02 375.12 426.95 426.77 C 375.89 426.69 324.81 426.72 273.75 426.68 C 281.46 425.67 289.24 426.55 296.98 426.15 C 339.95 425.98 382.92 426.25 425.89 426.01 C 426.44 381.34 425.94 336.67 426.14 292.00 Z" /></g><g id="#141414d4"><path fill="#141414" opacity="0.83" d=" M 510.98 312.00 C 511.20 299.55 510.53 287.08 511.53 274.65 C 512.22 280.41 511.99 286.21 512.00 292.00 C 512.00 336.71 512.00 381.41 512.00 426.11 C 560.67 426.32 609.34 426.06 658.01 426.26 C 659.74 426.31 661.47 426.48 663.21 426.67 C 635.14 427.13 607.07 427.00 579.00 427.01 C 556.38 426.92 533.77 427.20 511.16 426.88 C 510.78 388.59 511.15 350.29 510.98 312.00 Z" /></g><g id="#2d2d2d7f"><path fill="#2d2d2d" opacity="0.50" d=" M 926.06 359.96 C 927.21 360.77 927.53 361.83 927.01 363.16 C 925.82 362.34 925.51 361.28 926.06 359.96 Z" /></g><g id="#2a2a2a86"><path fill="#2a2a2a" opacity="0.53" d=" M 931.10 383.89 C 932.26 384.98 932.60 386.64 931.96 388.12 C 930.75 387.02 930.41 385.36 931.10 383.89 Z" /></g><g id="#2e2e2e90"><path fill="#2e2e2e" opacity="0.56" d=" M 6.00 390.09 C 5.38 388.61 5.73 386.97 6.93 385.90 C 7.59 387.37 7.23 389.03 6.00 390.09 Z" /></g><g id="#2727277d"><path fill="#272727" opacity="0.49" d=" M 934.08 401.92 C 935.28 403.43 935.60 405.42 934.98 407.25 C 933.74 405.74 933.41 403.74 934.08 401.92 Z" /></g><g id="#2a2a2a72"><path fill="#2a2a2a" opacity="0.45" d=" M 3.07 409.15 C 2.38 407.35 2.68 405.38 3.89 403.89 C 4.58 405.67 4.29 407.65 3.07 409.15 Z" /></g><g id="#2626266b"><path fill="#262626" opacity="0.42" d=" M 935.09 408.77 C 936.27 410.35 936.57 412.38 935.92 414.24 C 934.73 412.65 934.45 410.63 935.09 408.77 Z" /></g><g id="#2626269b"><path fill="#262626" opacity="0.61" d=" M 174.51 419.72 C 172.72 419.02 173.20 415.35 175.25 415.56 C 175.18 416.97 174.89 418.36 174.51 419.72 Z" /></g><g id="#27272773"><path fill="#272727" opacity="0.45" d=" M 936.12 416.76 C 937.32 418.69 937.56 421.01 936.84 423.18 C 935.66 421.22 935.43 418.92 936.12 416.76 Z" /></g><g id="#2626266d"><path fill="#262626" opacity="0.43" d=" M 1.12 429.01 C 0.43 426.62 0.60 424.09 1.80 421.89 C 2.58 424.27 2.44 426.84 1.12 429.01 Z" /></g><g id="#2626265f"><path fill="#262626" opacity="0.37" d=" M 173.50 428.93 C 171.90 428.08 172.05 424.55 174.03 424.38 C 174.08 425.91 173.87 427.44 173.50 428.93 Z" /></g><g id="#27272760"><path fill="#272727" opacity="0.38" d=" M 937.14 427.86 C 938.40 430.08 938.60 432.65 937.87 435.09 C 936.63 432.86 936.44 430.29 937.14 427.86 Z" /></g><g id="#29292967"><path fill="#292929" opacity="0.40" d=" M 764.91 429.41 C 766.93 429.37 767.10 433.02 765.37 433.67 C 765.02 432.27 764.82 430.84 764.91 429.41 Z" /></g><g id="#28282862"><path fill="#282828" opacity="0.38" d=" M 172.47 435.65 C 170.85 434.76 171.25 431.26 173.21 431.15 C 173.16 432.67 172.91 434.18 172.47 435.65 Z" /></g><g id="#25252596"><path fill="#252525" opacity="0.59" d=" M 0.00 432.73 L 0.35 431.60 C 1.06 436.96 0.76 442.38 0.00 447.72 L 0.00 432.73 Z" /></g><g id="#25252559"><path fill="#252525" opacity="0.35" d=" M 765.82 436.70 L 766.95 436.82 C 766.91 439.95 766.88 443.08 766.82 446.21 C 766.50 443.03 766.15 439.87 765.82 436.70 Z" /></g><g id="#25252547"><path fill="#252525" opacity="0.28" d=" M 171.79 439.17 L 171.81 440.12 C 172.12 449.22 172.31 458.34 171.33 467.41 C 170.90 458.01 170.50 448.52 171.79 439.17 Z" /></g><g id="#2323235d"><path fill="#232323" opacity="0.36" d=" M 938.20 439.55 C 939.48 449.32 938.97 459.18 938.96 469.00 C 938.75 478.11 939.32 487.26 938.23 496.34 C 938.08 477.42 937.98 458.48 938.20 439.55 Z" /></g><g id="#15151597"><path fill="#151515" opacity="0.59" d=" M 682.12 441.88 C 683.62 450.85 682.42 459.96 682.87 468.99 C 682.75 477.71 683.90 486.55 682.13 495.16 C 681.68 477.40 682.63 459.64 682.12 441.88 Z" /></g><g id="#2525258e"><path fill="#252525" opacity="0.56" d=" M 766.94 447.83 C 768.96 455.04 767.68 462.61 768.00 469.99 C 767.65 477.75 768.75 485.65 767.03 493.30 C 766.78 478.14 767.58 462.98 766.94 447.83 Z" /></g><g id="#2222224e"><path fill="#222222" opacity="0.31" d=" M 171.30 471.61 C 172.33 481.23 171.85 490.90 172.09 500.55 C 170.09 491.05 171.11 481.23 171.30 471.61 Z" /></g><g id="#2525257f"><path fill="#252525" opacity="0.50" d=" M 0.00 491.23 C 0.65 495.85 0.92 500.54 0.28 505.19 L 0.00 504.02 L 0.00 491.23 Z" /></g><g id="#2626269e"><path fill="#262626" opacity="0.62" d=" M 172.41 502.37 C 172.83 504.05 173.13 505.78 173.10 507.54 C 170.99 507.34 170.81 503.44 172.41 502.37 Z" /></g><g id="#2424247c"><path fill="#242424" opacity="0.49" d=" M 937.15 511.44 C 937.35 508.17 937.60 504.92 937.86 501.66 C 937.62 504.92 937.38 508.18 937.15 511.44 Z" /></g><g id="#28282865"><path fill="#282828" opacity="0.40" d=" M 764.94 508.58 C 764.81 507.12 765.04 505.68 765.49 504.31 C 767.14 505.02 766.90 508.58 764.94 508.58 Z" /></g><g id="#25252571"><path fill="#252525" opacity="0.44" d=" M 1.24 509.92 C 1.79 512.64 1.76 515.42 1.74 518.19 C 1.36 515.44 1.27 512.68 1.24 509.92 Z" /></g><g id="#1c1c1c4a"><path fill="#1c1c1c" opacity="0.29" d=" M 271.82 511.19 C 301.21 510.97 330.60 511.20 360.00 511.12 C 382.30 511.27 404.61 510.87 426.91 511.12 C 426.97 562.81 426.99 614.50 426.89 666.18 C 425.46 660.90 425.90 655.40 425.94 650.00 C 426.41 604.04 426.18 558.07 425.91 512.11 C 382.95 511.86 339.98 511.86 297.01 511.98 C 288.62 511.81 280.10 512.99 271.82 511.19 Z" /></g><g id="#141414d3"><path fill="#141414" opacity="0.83" d=" M 511.19 511.14 C 533.12 510.79 555.06 511.10 577.00 511.00 C 606.73 511.06 636.46 510.87 666.19 511.13 C 663.82 511.49 661.43 511.76 659.04 511.83 C 610.03 511.83 561.01 511.73 512.00 511.88 C 512.00 555.92 512.00 599.97 512.00 644.01 C 511.99 650.15 512.21 656.31 511.59 662.44 C 510.44 650.66 511.06 638.82 511.04 627.00 C 511.07 610.33 510.90 593.67 511.03 577.00 C 511.18 555.05 510.68 533.09 511.19 511.14 Z" /></g><g id="#26262668"><path fill="#262626" opacity="0.41" d=" M 936.11 522.12 C 935.41 520.00 935.66 517.76 936.85 515.88 C 937.60 517.98 937.36 520.26 936.11 522.12 Z" /></g><g id="#2b2b2b78"><path fill="#2b2b2b" opacity="0.47" d=" M 174.48 517.22 C 174.99 518.28 175.25 519.46 175.15 520.66 C 173.37 520.88 172.81 517.72 174.48 517.22 Z" /></g><g id="#2a2a2a71"><path fill="#2a2a2a" opacity="0.44" d=" M 762.91 522.65 C 762.77 521.45 763.01 520.27 763.53 519.20 C 765.18 519.69 764.68 522.85 762.91 522.65 Z" /></g><g id="#27272770"><path fill="#272727" opacity="0.44" d=" M 1.98 520.86 C 3.26 522.31 3.58 524.31 2.90 526.12 C 1.70 524.62 1.37 522.66 1.98 520.86 Z" /></g><g id="#2d2d2d75"><path fill="#2d2d2d" opacity="0.46" d=" M 760.83 533.64 C 760.75 532.45 761.03 531.29 761.58 530.25 C 763.24 530.77 762.59 533.93 760.83 533.64 Z" /></g><g id="#2c2c2c75"><path fill="#2c2c2c" opacity="0.46" d=" M 7.06 553.86 C 8.24 554.94 8.57 556.60 7.91 558.07 C 6.72 556.97 6.39 555.32 7.06 553.86 Z" /></g><g id="#2a2a2a84"><path fill="#2a2a2a" opacity="0.52" d=" M 401.40 759.78 C 402.57 759.73 403.74 759.97 404.80 760.49 C 404.30 762.19 401.11 761.56 401.40 759.78 Z" /><path fill="#2a2a2a" opacity="0.52" d=" M 424.44 763.96 C 425.70 763.83 426.95 764.10 428.13 764.59 C 427.47 766.10 424.39 765.71 424.44 763.96 Z" /></g><g id="#2a2a2a79"><path fill="#2a2a2a" opacity="0.47" d=" M 533.21 760.52 C 534.27 759.99 535.44 759.77 536.63 759.88 C 536.87 761.66 533.69 762.19 533.21 760.52 Z" /></g><g id="#26262692"><path fill="#262626" opacity="0.57" d=" M 511.32 764.58 C 512.37 764.04 513.52 763.75 514.72 763.88 C 514.98 765.64 511.83 766.24 511.32 764.58 Z" /></g><g id="#282828b0"><path fill="#282828" opacity="0.69" d=" M 429.04 764.77 C 431.26 764.93 433.48 765.13 435.70 765.45 C 434.05 767.01 429.98 766.93 429.04 764.77 Z" /></g><g id="#292929a9"><path fill="#292929" opacity="0.66" d=" M 500.58 765.75 C 503.88 765.42 507.19 765.19 510.51 764.86 C 507.32 766.06 503.91 766.10 500.58 765.75 Z" /></g><g id="#25252552"><path fill="#252525" opacity="0.32" d=" M 442.03 765.91 C 445.47 766.09 448.91 766.39 452.34 766.70 C 448.90 766.86 445.45 766.93 442.00 766.97 L 442.03 765.91 Z" /></g><g id="#26262658"><path fill="#262626" opacity="0.35" d=" M 486.72 766.92 C 489.74 766.50 492.78 766.26 495.83 766.19 L 496.42 766.18 C 493.24 766.91 489.97 767.00 486.72 766.92 Z" /></g><g id="#212121cb"><path fill="#212121" opacity="0.80" d=" M 454.09 766.83 C 464.62 767.56 475.18 766.91 485.72 767.04 L 486.26 767.07 C 482.93 768.08 479.43 768.24 475.98 768.09 C 468.62 767.76 461.26 768.05 453.90 767.97 L 454.09 766.83 Z" /></g><g id="#2c2c2c8b"><path fill="#2c2c2c" opacity="0.55" d=" M 577.92 925.98 C 578.98 924.75 580.62 924.39 582.11 925.05 C 581.04 926.25 579.39 926.61 577.92 925.98 Z" /></g><g id="#2b2b2b81"><path fill="#2b2b2b" opacity="0.51" d=" M 399.90 933.12 C 401.39 932.44 403.07 932.75 404.22 933.95 C 402.72 934.58 401.04 934.26 399.90 933.12 Z" /></g><g id="#27272785"><path fill="#272727" opacity="0.52" d=" M 406.83 934.07 C 408.68 933.42 410.70 933.75 412.25 934.97 C 410.39 935.58 408.37 935.27 406.83 934.07 Z" /></g><g id="#26262669"><path fill="#262626" opacity="0.41" d=" M 413.78 935.09 C 415.62 934.44 417.63 934.71 419.21 935.90 C 417.36 936.57 415.34 936.27 413.78 935.09 Z" /></g><g id="#25252589"><path fill="#252525" opacity="0.54" d=" M 518.71 935.90 C 520.67 934.68 522.99 934.42 525.19 935.13 C 523.22 936.30 520.90 936.55 518.71 935.90 Z" /></g><g id="#2828286e"><path fill="#282828" opacity="0.43" d=" M 422.81 936.10 C 424.94 935.40 427.21 935.65 429.11 936.87 C 426.97 937.57 424.69 937.33 422.81 936.10 Z" /></g><g id="#25252577"><path fill="#252525" opacity="0.47" d=" M 508.92 936.76 C 511.22 935.62 513.80 935.44 516.27 936.15 C 513.99 937.39 511.36 937.55 508.92 936.76 Z" /></g><g id="#2424246f"><path fill="#242424" opacity="0.44" d=" M 433.57 937.17 C 437.49 937.33 441.41 937.49 445.33 937.74 C 441.40 937.64 437.48 937.49 433.57 937.17 Z" /></g><g id="#2a2a2a37"><path fill="#2a2a2a" opacity="0.22" d=" M 454.69 938.23 C 464.56 937.98 474.43 937.94 484.30 938.25 C 474.46 939.43 464.52 939.46 454.69 938.23 Z" /></g><g id="#2828286f"><path fill="#282828" opacity="0.44" d=" M 1108.19 1006.88 C 1109.28 1008.01 1109.54 1009.65 1108.87 1011.10 C 1107.67 1009.98 1107.40 1008.29 1108.19 1006.88 Z" /></g><g id="#393939bc"><path fill="#393939" opacity="0.74" d=" M 1109.75 1014.71 L 1110.00 1015.76 L 1110.00 1033.12 L 1109.74 1034.17 C 1108.96 1027.70 1108.95 1021.18 1109.75 1014.71 Z" /></g><g id="#232323a8"><path fill="#232323" opacity="0.66" d=" M 1012.79 1108.75 C 1019.19 1108.08 1025.63 1108.09 1032.06 1108.11 L 1032.05 1109.00 L 1013.86 1109.00 L 1012.79 1108.75 Z" /></g></svg>
               </div>
             </a>
            </div>
           {% endfor %}
            </div>
            </div>           
</div>

<script>
var callbackProduct_Video_Gallery = function(){
  // Handler when the DOM is fully loaded
  if(!window.Swiper) {
    // add script
    var script = document.createElement("script");
    script.type = "text/javascript";   
    script.src = 'https://cdn.jsdelivr.net/npm/swiper@{{ settings.swiperjsversion }}/js/swiper.min.js';
    document.getElementsByTagName("head")[0].appendChild(script);
    // add style
    var style = document.createElement("link");
    style.type = "text/css";  
    style.rel = "stylesheet";
    style.href = 'https://cdn.jsdelivr.net/npm/swiper@{{ settings.swiperjsversion }}/css/swiper.min.css';
    document.getElementsByTagName("head")[0].appendChild(style);
  }
  if(!window.jQuery.fancybox) {
    // add script
    var script = document.createElement("script");
    script.type = "text/javascript";   
    script.src = 'https://cdnjs.cloudflare.com/ajax/libs/fancybox/{{ settings.fancybox3version }}/jquery.fancybox.min.js';
    document.getElementsByTagName("head")[0].appendChild(script);  
    setTimeout(function() {
 
    })
    // add style
    var style = document.createElement("link");
    style.type = "text/css";  
    style.rel = "stylesheet";
    style.href = 'https://cdnjs.cloudflare.com/ajax/libs/fancybox/{{ settings.fancybox3version }}/jquery.fancybox.min.css';
    document.getElementsByTagName("head")[0].appendChild(style); 
  }
  if(!window.jQuery.fn.stick_in_parent) {
    // add script
    var script = document.createElement("script");
    script.type = "text/javascript";   
    script.src = 'https://cdn.jsdelivr.net/npm/sticky-kit@{{ settings.stickykitjsversion }}/dist/sticky-kit.js';
    document.getElementsByTagName("head")[0].appendChild(script); 
  }
  
};

if (
    document.readyState === "complete" ||
    (document.readyState !== "loading" && !document.documentElement.doScroll)
) {
  callbackProduct_Video_Gallery();
} else {
  document.addEventListener("DOMContentLoaded", callbackProduct_Video_Gallery);
}
    
  
  
  
  
function deferProduct_Video_gallery(methodProduct_Video_gallery) {
    if (window.jQuery && window.Swiper && window.jQuery.fn.stick_in_parent && window.jQuery.fancybox) {
        methodProduct_Video_gallery();
    } else {
        setTimeout(function() { deferProduct_Video_gallery(methodProduct_Video_gallery) }, 50);
    }
}
deferProduct_Video_gallery(function () {  


{% if section.settings.sticky %}
// wrap the sidebar  
var videobar = document.getElementById('Product-Video-Gallery-{{ product.id }}').parentElement.parentElement;  
var con = videobar.parentElement;
var sidebar = videobar.nextElementSibling;
    

videobar.classList.add('sticky-sidebar-video-{{ product.id }}', 'sticky-sidebar-video');
con.classList.add('sticky-sidebar-container-{{ product.id }}','sticky-sidebar-container');    
 

  
                           
var wrapper = document.createElement('div');
sidebar.parentNode.insertBefore(wrapper, sidebar);
wrapper.appendChild(sidebar);  
wrapper.classList.add('sidebar_inner');  
var wrapper2 = document.createElement('div'); 
wrapper.parentNode.insertBefore(wrapper2, wrapper);  
wrapper2.appendChild(wrapper);   
wrapper2.classList.add('sticky-sidebar-{{ product.id }}', 'sticky-sidebar'); 
                       
                       
//traverse up the DOM and remove all transforms                      
var getParents = function ( elem, selector ) {

	// Element.matches() polyfill
	if (!Element.prototype.matches) {
		Element.prototype.matches =
			Element.prototype.matchesSelector ||
			Element.prototype.mozMatchesSelector ||
			Element.prototype.msMatchesSelector ||
			Element.prototype.oMatchesSelector ||
			Element.prototype.webkitMatchesSelector ||
			function(s) {
				var matches = (this.document || this.ownerDocument).querySelectorAll(s),
					i = matches.length;
				while (--i >= 0 && matches.item(i) !== this) {}
				return i > -1;
			};
	}

	// Setup parents array
	var parents = [];

	// Get matching parent elements
	for ( ; elem && elem !== document; elem = elem.parentNode ) {

		// Add matching parents to array
		if ( selector ) {
			if ( elem.matches( selector ) ) {
				parents.push( elem );
			}
		} else {
			parents.push( elem );
		}

	}

	return parents;

};                      
                      
// get rid of ancestor transforms
var allParents = getParents(sidebar.parentNode);
killtransform(allParents);
function killtransform(allofem) {
  allofem.forEach(function(element) {
    elementstyle = getComputedStyle(element).WebkitTransform;
    if(elementstyle !== 'none') {
    element.style.WebkitTransform = "none" ;
    }
  });
}                 
var getParents = function ( elem, selector ) {

	// Element.matches() polyfill
	if (!Element.prototype.matches) {
		Element.prototype.matches =
			Element.prototype.matchesSelector ||
			Element.prototype.mozMatchesSelector ||
			Element.prototype.msMatchesSelector ||
			Element.prototype.oMatchesSelector ||
			Element.prototype.webkitMatchesSelector ||
			function(s) {
				var matches = (this.document || this.ownerDocument).querySelectorAll(s),
					i = matches.length;
				while (--i >= 0 && matches.item(i) !== this) {}
				return i > -1;
			};
	}

	// Setup parents array
	var parents = [];

	// Get matching parent elements
	for ( ; elem && elem !== document; elem = elem.parentNode ) {

		// Add matching parents to array
		if ( selector ) {
			if ( elem.matches( selector ) ) {
				parents.push( elem );
			}
		} else {
			parents.push( elem );
		}

	}

	return parents;

};
{% endif %}  
  
  
  
  
  
// function for unmuting videos 
// click unmute
  
  
{% if hasvideo == true %}
  var videowrap = document.getElementById('Product-Video-Gallery-{{ product.id }}');
  videowrap.addEventListener('click', clickMute)  
  
  function clickMute() {
 
    if(!this.classList.contains('unmute')){
     this.classList.add('unmute');
     this.querySelector('video').muted = false;
    }else{
     this.classList.remove('unmute');
     this.querySelector('video').muted = true;    
    }
  }                        
  
  
  // resume playback after window loses focus
  window.addEventListener('focus', resumevideo, false);
  
  function resumevideo() {
    videowrap.querySelector('video').play();
  }
  
  // if jqm on this page hide remove event listener
  if(window.$.mobile) {
   var jqmpage = videowrap.closest('[data-role=page]');
    $(document).on("pagebeforehide", jqmpage, function(event) {
       window.removeEventListener('focus', resumevideo, false);         
    });
     
   }
  
{% endif %}

  
function startSlider() {
   
      var container = document.getElementById('Product-Video-Gallery-{{ product.id }}').nextElementSibling.querySelector('.gallery-thumbs');
  
      var swiper = new Swiper((container), {         
      spaceBetween: 10,
      slidesPerView: 'auto',
      loop: false,
      direction: 'horizontal',
     // freeMode: true,
      loopedSlides: 5, //looped slides should be the same
      cssMode: true,
      breakpoints: {
      0: {
      spaceBetween: 10
    },
    900: {
      spaceBetween: 0,
    }
  }
      });   
} 
  
  
// Define our viewportWidth variable
var viewportWidth;

// Set/update the viewportWidth value
var setViewportWidth = function () {
	viewportWidth = window.innerWidth || document.documentElement.clientWidth;
}
  
  
// Log the viewport width into the console
var logWidth = function () {
var sidebarinner = document.querySelector('.sticky-sidebar-{{ product.id }} .sidebar_inner');
var sidebarvideo = document.querySelector('.sticky-sidebar-video-{{ product.id }}');  
  
  
	if (viewportWidth > 1022 && sidebarvideo.offsetHeight > sidebarinner.offsetHeight && sidebarvideo.offsetHeight - sidebarinner.offsetHeight > 100) {
      
    {% if sticky %}  
     var header = document.getElementsByTagName('header')[0];
      if(header) {
        if(getComputedStyle(header).position == 'fixed') {
         var fixedheader = true;
        }
      }
      if(fixedheader) {
        $('.sticky-sidebar-{{ product.id }} .sidebar_inner').stick_in_parent({offset_top: header.offsetHeight + 20});   
      }else{
     $('.sticky-sidebar-{{ product.id }} .sidebar_inner').stick_in_parent();
       }
     setTimeout(function() {
     var sidebar = document.getElementById('Product-Video-Gallery-{{ product.id }}').parentElement.parentElement.nextElementSibling;   
     var allParents = getParents(sidebar.parentNode);
     killtransform(allParents); 
     $('.sticky-sidebar-{{ product.id }} .sidebar_inner').trigger("sticky_kit:recalc");
     })
    {% endif %}  
     
     
    var swiperdiv = document.getElementById('Product-Video-Gallery-{{ product.id }}').nextElementSibling.querySelector('.gallery-thumbs');
    if(swiperdiv.swiper) {
         swiperdiv.swiper.destroy();                      
    }  
       
	} else {
      var swiperdiv = document.getElementById('Product-Video-Gallery-{{ product.id }}').nextElementSibling.querySelector('.gallery-thumbs');
      if(swiperdiv.swiper) {
         swiperdiv.swiper.destroy();
         swiperdiv.swiper = undefined;
      }
        startSlider();
      {% if sticky %}
     $('.sticky-sidebar-{{ product.id }} .sidebar_inner').trigger("sticky_kit:detach");
      {% endif %}
	}
}
  
// Set our initial width and log it
setViewportWidth();
logWidth();

  
// On resize events, recalculate and log
window.addEventListener('resize', run, false);  
function run() {
  setViewportWidth();
	logWidth();    
}  
  
      
// remove event listener for jquery mobile
if(window.$.mobile) {
  $(document).one( "pagehide", '#product-{{ product.id }}', function( event, ui ) { 
    window.removeEventListener('resize', run, false);  
  });
}
 
  
});  
  
</script>            

{% schema %}
  {
    "name": "Product Video Gallery",
    "settings": [{
   "type":      "header",
   "content":   "Options"
},
 {
"id": "sticky",
"type": "checkbox",
"label": "Sticky Sidebar",
"info": "Make add to cart area follow users while they view the tall image gallery on desktop",
"default":true
}            ],
"blocks": [
{
"type": "Video",
"name": "Video",
"settings" : [
{
"type": "paragraph",
"content": "Display a video for this product"
},
{
"id": "product",
"type": "product",
"label": "Product"
},
{
"id": "product_video",
"type": "url",
"label": "mp4 URL"
}
]
}    
]
  }
{% endschema %}

{% stylesheet 'scss' %}

@mixin bp($point) {
  
  $bp-small: "(max-width: 350px)";
  $bp-mobile: "(max-width: 600px)";
  $bp-mobileup: "(min-width: 600px)";
  $bp-phablet: "(max-width: 1022px)";
  $bp-phabletup: "(min-width: 1022px)";
  $bp-tablet: "(max-width: 1280px)";
  $bp-tabletup: "(min-width: 1281px)";
  $bp-laptop: "(max-width: 1600px)";
  $bp-desktop: "(min-width: 1600px)";
  @if $point == desktop {
    @media #{$bp-desktop}  { @content; }
  }  
  @else if $point == laptop {
    @media #{$bp-laptop} { @content; }
  }
  @else if $point == tablet {
    @media #{$bp-tablet} { @content; }
  }
  @else if $point == tabletup {
    @media #{$bp-tabletup} { @content; }
  }
  @else if $point == phablet {
    @media #{$bp-phablet} { @content; }
  }
  @else if $point == phabletup {
    @media #{$bp-phabletup} { @content; }
  }
  @else if $point == mobile {
    @media #{$bp-mobile}  { @content; }
  }
  @else if $point == mobileup {
    @media #{$bp-mobileup} { @content; }
  }
  @else if $point == small {
    @media #{$bp-small}  { @content; }
  }
}
             
             
@mixin transition($attribute, $duration: null) {
  
      @if ($duration) {
       
    -webkit-transition: $attribute $duration ease;
    -moz-transition: $attribute $duration ease;
    transition: $attribute $duration ease;
    } @else {
        
    -webkit-transition: $attribute;
    -moz-transition: $attribute;
    transition: $attribute;
    }

}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}
@mixin animate($name, $duration, $iteration, $direction) {
  -webkit-animation-duration: $duration;
     -moz-animation-duration: $duration;
       -o-animation-duration: $duration;
          animation-duration: $duration;
  -webkit-animation-iteration-count: $iteration;
     -moz-animation-iteration-count: $iteration;
       -o-animation-iteration-count: $iteration;
          animation-iteration-count: $iteration;
  -webkit-animation-name: $name;
     -moz-animation-name: $name;
       -o-animation-name: $name;
          animation-name: $name;
  -webkit-animation-direction: $direction;
     -moz-animation-direction: $direction;
       -o-animation-direction: $direction;
          animation-direction: $direction;
}


.sticky-sidebar-container {             
 & .sticky-sidebar {
   @include bp(phablet) {
   max-width: 100%;
   }
 }             
}


#shopify-section-Product-Video-Gallery {
	& .Product-Video-Gallery-main {
		position: relative;
		margin-bottom: 20px;
		&>video
		 {
			//position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
        & > img {
        	width: 100%;
            height:auto;
            position: relative;
          
        }
		&.hasvideo {
			//padding-bottom: 88.8%;
			z-index: 0;
			@include bp(phablet) {
				margin-bottom: 0;
			}
			& .mute {
				color: #fff;
				font-size: 13px;
				position: absolute;
				bottom: 10px;
				left: 10px;
				z-index: 4;
				display: flex;
				align-items: center;
				font-weight: normal;
				letter-spacing: 1px;
				pointer-events: none;
				@include transition(opacity, 0.3s);
				@include bp(mobile) {
					font-size: 9px;
				}
				& i {
					background: rgba(0, 0, 0, 0.61);
					padding: 7px 8px 2px;
					margin-right: 10px;
					border-radius: 100%;
                
                    display: inline-block;
					@include bp(mobile) {
                    
						padding: 4px 7px 1px;
						margin-right: 7px;
					}
					& svg {
						width: 21px;
						height: 100%;
						@include bp(phablet) {
							max-width: 20px;
						}
						& path {
							fill: #fff;
						}
					}
				}
			}
          &.unmute {
            & .mute {
              opacity:0;
            }
          }
		}
	}
	& .Product-Video-Gallery-thumbs {
		@include bp(phablet) {
			margin-top: 20px;
		}
		&>.gallery-thumbs {
			margin-bottom: 30px;
			max-width: none;
			width: 100%;
			@include bp(phablet) {
				margin: 0;
			}
		}
		& .swiper-container {
			& .swiper-wrapper {
                @include bp(phabletup) {
				display: flex;
				box-sizing: border-box;
				-ms-flex-flow: row wrap;
				flex-flow: row wrap;
				height: auto;
                }
				& .swiper-slide {
                    
					-ms-flex: 0 0 50%;
					flex: 0 0 50%;
					max-width: 50%;
                    @include bp(phabletup) {
                    margin-bottom: 30px;
                    }
                    @include bp(phablet) {
                         max-width: 25%;
                         margin-right:10px;
                    }
					&:nth-child(even) {
                       @include bp(phabletup) {
						padding-left: .4375rem;
                       }
					}
					&:nth-child(odd) {
                        @include bp(phabletup) {
						padding-right: .4375rem;
                        }
					}
					& a {
						border: 1px solid rgba(0, 0, 0, 0.08);
						display: block;
						position: relative;
						@include bp(phablet) {
							border: none;
						}
						& .overlay {
							background-size: 10px 20px;
                            display: flex;
							align-items: center;
							justify-content: center;
							color: #fff;
							font-size: 69px;
							font-weight: normal;
							position: absolute;
							width: 100%;
							height: 100%;
							opacity: 0;
							background: black;
							pointer-events: none;
							top: 0px;
							left: 0px;
							@include transition(opacity, 0.3s);
                          & svg {
                              max-width: 17%;
    height: auto;
    opacity: 1;
    z-index: 99;
                            @include bp(phablet) {
                              max-width: 40%;
                            }
                            & path {
                             fill:#fff;
                            }
                          }
						}
						&:hover {
							& .overlay {
								opacity: 0.3;
							}
						}
						&>.thumb {
							position: relative;
							height: 0;
							padding-bottom: 98.8%;
							margin-bottom: 0px;
							overflow: hidden;
							z-index: 0;
							& img {
								object-fit: cover;
								min-width: 100%;
							}
						}
					}
				}
			}
		}
	}
}             
             
{% endstylesheet %}

{% javascript %}               
{% endjavascript %}
