{% style %}
{% assign loadedfonts = '' %}    
{% assign familyandweight = section.settings.font.family | append: section.settings.font.weight %}
{% if loadedfonts contains familyandweight %}
{% else %}
  {{ section.settings.font | font_face }}  
{% endif %}   
{% assign loadedfonts = loadedfonts | append: section.settings.font.family | append: section.settings.font.weight | append: section.settings.font.style | append: '|' %}
 #shopify-section-{{ section.id }} .details {
    font-family: {{ section.settings.font.family }}; 
    font-weight:{{ section.settings.font.weight }}; 
    font-style:{{ section.settings.font.style }};    
    font-size:{{ section.settings.fontsize }}px;   
 }
{% endstyle %}

<div class="details">
    {{ product.description }}
</div>


{% schema %}
  {
    "name": "Product Description",
    "settings": [ {
     "type": "font_picker",
     "id": "font",
     "label": "Font",
     "default": "open_sans_n4"
   },
  {
    "type":   "range",
    "id":     "fontsize",
    "min":       12,
    "max":       75,
    "step":     1,
    "unit":      "px",
    "label":     "Font Size",
    "default":   18
     }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
