{% if section.settings.hidestories == true %}
{% style %}


  .stories-wrap {
  background-color:{{ section.settings.background_color }};
  }  
.story .gradient {
  {% if section.settings.background_color_2 contains 'transparent' %}
      background-color:{{ section.settings.bubble_background_color }};                            
  {% else %}     
    background: -moz-linear-gradient(top, {{ section.settings.bubble_background_color }} 0%, {{ section.settings.bubble_background_color_2 }} 100%);
    background: -webkit-linear-gradient(top, {{ section.settings.bubble_background_color }} 0%, {{ section.settings.bubble_background_color_2 }} 100%);
    background: linear-gradient(to bottom, {{ section.settings.bubble_background_color }} 0%, {{ section.settings.bubble_background_color_2 }} 100%);                            
  {% endif %}

}
.story .title {
  color:{{ section.settings.font_color }};
}
.story .gradient .tag {
  border-color:{{ section.settings.background_color }} !important;
    {% if section.settings.background_color_2 contains 'transparent' %}
      background-color:{{ section.settings.bubble_tag_background_color }};                            
  {% else %}     
    background: -moz-linear-gradient(top, {{ section.settings.bubble_tag_background_color }} 0%, {{ section.settings.bubble_tag_background_color_2 }} 100%);
    background: -webkit-linear-gradient(top, {{ section.settings.bubble_tag_background_color }} 0%, {{ section.settings.bubble_tag_background_color_2 }} 100%);
    background: linear-gradient(to bottom, {{ section.settings.bubble_tag_background_color }} 0%, {{ section.settings.bubble_tag_background_color_2 }} 100%);                            
  {% endif %}
}  

.story .img-wrap {
background-color:{{ section.settings.background_color }};
}

   {% for block in section.blocks %}
   #story-{{ block.id }} .img {
   background-image:url({{ block.settings.image | img_url: 'small' }}); 
   background-position:{% if block.settings.imageposition != '' %}{{ block.settings.imageposition }}{% else %}0{% endif %}% 0%
   }
   {% endfor %}

{% endstyle %}
<div class="stories-wrap">
  <div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
   {% for block in section.blocks %}
     {% case block.type %}
      {% when 'Video' %}
       <div class="swiper-slide">
       <div class="story-wrap">
       <a id="story-{{ block.id }}" class="story video" href="#" poster="{{ block.settings.image | img_url: '1024x1024' }}" media="{% if block.settings.mp41 %}{{ block.settings.mp41 }}{% if block.settings.mp41swipe %}::{{ block.settings.mp41swipe }}{% endif %}|{% endif %}{% if block.settings.mp42 %}{{ block.settings.mp42 }}{% if block.settings.mp42swipe %}::{{ block.settings.mp42swipe }}{% endif %}|{% endif %}{% if block.settings.mp43 %}{{ block.settings.mp43 }}{% if block.settings.mp43swipe %}::{{ block.settings.mp43swipe }}{% endif %}|{% endif %}{% if block.settings.mp44 %}{{ block.settings.mp44 }}{% if block.settings.mp44swipe %}::{{ block.settings.mp44swipe }}{% endif %}|{% endif %}{% if block.settings.mp45 %}{{ block.settings.mp45 }}{% if block.settings.mp45swipe %}::{{ block.settings.mp45swipe }}{% endif %}|{% endif %}{% if block.settings.mp46 %}{{ block.settings.mp46 }}{% if block.settings.mp46swipe %}::{{ block.settings.mp46swipe }}{% endif %}|{% endif %}{% if block.settings.mp47 %}{{ block.settings.mp47 }}{% if block.settings.mp47swipe %}::{{ block.settings.mp47swipe }}{% endif %}|{% endif %}{% if block.settings.mp48 %}{{ block.settings.mp48 }}{% if block.settings.mp48swipe %}::{{ block.settings.mp48swipe }}{% endif %}|{% endif %}{% if block.settings.mp49 %}{{ block.settings.mp49 }}{% if block.settings.mp49swipe %}::{{ block.settings.mp49swipe }}{% endif %}|{% endif %}{% if block.settings.mp410 %}{{ block.settings.mp410 }}{% if block.settings.mp410swipe %}::{{ block.settings.mp410swipe }}{% endif %}|{% endif %}">
           <div class="gradient">
            <div class="img-wrap">
             <div class="img">
             </div>
            </div>
              {% if block.settings.tag != '' %}<span class="tag">{{ block.settings.tag }}</span>{% endif %}
         </div>
         <div class="title">
           {% if block.settings.title %}{{ block.settings.title }}{% else %}Story{% endif %}
         </div>
       </a>
      
       </div>
      </div>
       {% when 'Image' %}
       <div class="swiper-slide">
       <div class="story-wrap">
          
       <a id="story-{{ block.id }}" class="story image" href="#" poster="{{ block.settings.image | img_url: '1024x1024' }}" media="{% if block.settings.img1 %}{{ block.settings.img1 | img_url: '1024x1024' }}{% if block.settings.img1swipe %}::{{ block.settings.img1swipe }}{% endif %}|{% endif %}{% if block.settings.img2 %}{{ block.settings.img2 | img_url: '1024x1024' }}{% if block.settings.img2swipe %}::{{ block.settings.img2swipe }}{% endif %}|{% endif %}{% if block.settings.img3 %}{{ block.settings.img3 | img_url: '1024x1024' }}{% if block.settings.img3swipe %}::{{ block.settings.img3swipe }}{% endif %}|{% endif %}{% if block.settings.img4 %}{{ block.settings.img4 | img_url: '1024x1024' }}{% if block.settings.img4swipe %}::{{ block.settings.img4swipe }}{% endif %}|{% endif %}{% if block.settings.img5 %}{{ block.settings.img5 | img_url: '1024x1024' }}{% if block.settings.img5swipe %}::{{ block.settings.img5swipe }}{% endif %}|{% endif %}{% if block.settings.img6 %}{{ block.settings.img6 | img_url: '1024x1024' }}{% if block.settings.img6swipe %}::{{ block.settings.img6swipe }}{% endif %}|{% endif %}{% if block.settings.img7 %}{{ block.settings.img7 | img_url: '1024x1024' }}{% if block.settings.img7swipe %}::{{ block.settings.img7swipe }}{% endif %}|{% endif %}{% if block.settings.img8 %}{{ block.settings.img8 | img_url: '1024x1024' }}{% if block.settings.img8swipe %}::{{ block.settings.img8swipe }}{% endif %}|{% endif %}{% if block.settings.img9 %}{{ block.settings.img9 | img_url: '1024x1024' }}{% if block.settings.img9swipe %}::{{ block.settings.img9swipe }}{% endif %}|{% endif %}{% if block.settings.img10 %}{{ block.settings.img10 | img_url: '1024x1024' }}{% if block.settings.img10swipe %}::{{ block.settings.img10swipe }}{% endif %}|{% endif %}">
         <div class="gradient">
            <div class="img-wrap">
             <div class="img">
             </div>
            </div>
              {% if block.settings.tag != '' %}<span class="tag">{{ block.settings.tag }}</span>{% endif %}
         </div>
         <div class="title">
           {% if block.settings.title %}{{ block.settings.title }}{% else %}Story{% endif %}
         </div>
       </a>
      
       </div>
      </div>
      {% when 'Link' %}
       <div class="swiper-slide">
       <div class="story-wrap">
          
       <a id="story-{{ block.id }}" class="story" href="{{ block.settings.url }}" poster="{{ block.settings.image | img_url: '1024x1024' }}">
           <div class="gradient">
            <div class="img-wrap">
             <div class="img">
             </div>
            </div>
             {% if block.settings.tag != '' %}<span class="tag">{{ block.settings.tag }}</span>{% endif %}
         </div>
         <div class="title">
           {% if block.settings.title %}{{ block.settings.title }}{% else %}Story{% endif %}
         </div>
       </a>
      
       </div>
      </div>
     {% endcase %}
  {% endfor %}  
      
  {% if section.settings.demo == true %}
       <div class="swiper-slide">
       <div class="story-wrap">
          
       <a class="story" href="https://youtu.be/bL_X_GK69P4?t=487" poster="{{ 'demo_stories_s-min.jpg' | asset_url }}">
           <div class="gradient">
            <div class="img-wrap">
             <div class="img" style="background-image:url(//cdn.shopify.com/s/files/1/0949/4410/t/75/assets/demo_stories_s-min.jpg?43598);">
             </div>
            </div>
             <span class="tag">How To</span>
         </div>
         <div class="title">
           Setup Video
         </div>
       </a>
      
       </div>
      </div>
       <div class="swiper-slide">
       <div class="story-wrap">
          
       <a class="story" href="https://youtu.be/bL_X_GK69P4?t=487" poster="{{ 'demo_stories_t-min.jpg' | asset_url }}">
           <div class="gradient">
            <div class="img-wrap">
             <div class="img" style="background-image:url(//cdn.shopify.com/s/files/1/0949/4410/t/75/assets/demo_stories_t-min.jpg?43598);">
             </div>
            </div>
         </div>
         <div class="title">
           Empty
         </div>
       </a>
      
       </div>
      </div>
       <div class="swiper-slide">
       <div class="story-wrap">
          
       <a class="story" href="https://youtu.be/bL_X_GK69P4?t=487" poster="{{ 'demo_stories_a-min.jpg' | asset_url }}">
           <div class="gradient">
            <div class="img-wrap" >
             <div class="img" style="background-image:url(//cdn.shopify.com/s/files/1/0949/4410/t/75/assets/demo_stories_a-min.jpg?43598);">
             </div>
            </div>
         </div>
         <div class="title">
           Empty
         </div>
       </a>
      
       </div>
      </div>
       <div class="swiper-slide">
       <div class="story-wrap">
          
       <a class="story" href="https://youtu.be/bL_X_GK69P4?t=487" poster="{{ 'demo_stories_r-min.jpg' | asset_url }}">
           <div class="gradient">
            <div class="img-wrap" > 
             <div class="img" style="background-image:url(//cdn.shopify.com/s/files/1/0949/4410/t/75/assets/demo_stories_r-min.jpg?43598);">
             </div>
            </div>
         </div>
         <div class="title">
           Empty
         </div>
       </a>
      
       </div>
      </div>
      <div class="swiper-slide">
       <div class="story-wrap">
          
       <a class="story" href="https://youtu.be/bL_X_GK69P4?t=487" poster="{{ 'demo_stories_t-min.jpg' | asset_url }}">
           <div class="gradient">
            <div class="img-wrap" >
             <div class="img" style="background-image:url(//cdn.shopify.com/s/files/1/0949/4410/t/75/assets/demo_stories_t-min.jpg?43598);">
             </div>
            </div>
         </div>
         <div class="title">
           Empty
         </div>
       </a>
      
       </div>
      </div>
   {% endif %} 
      
      
      
      </div>
</div>
</div>
<script>

var callbackStories = function(){
  // Handler when the DOM is fully loaded
  if(!window.
     Swiper) {
    // add script
    var script = document.createElement("script");
    script.type = "text/javascript";   
    script.src = 'https://cdnjs.cloudflare.com/ajax/libs/Swiper/{{ settings.swiperjsversion }}/js/swiper.min.js';
    document.getElementsByTagName("head")[0].appendChild(script);
    // add style
    var style = document.createElement("link");
    style.type = "text/css";  
    style.rel = "stylesheet";
    style.href = 'https://cdnjs.cloudflare.com/ajax/libs/Swiper/{{ settings.swiperjsversion }}/css/swiper.min.css';
    document.getElementsByTagName("head")[0].appendChild(style);
  }
  if(!window.Hammer) {
   // add script
    var script = document.createElement("script");
    script.type = "text/javascript";   
    script.src = 'https://cdnjs.cloudflare.com/ajax/libs/hammer.js/{{ settings.hammerjsversion }}/hammer.min.js';
    document.getElementsByTagName("head")[0].appendChild(script);   
  }
};

if (
    document.readyState === "complete" ||
    (document.readyState !== "loading" && !document.documentElement.doScroll)
) {
  callbackStories();
} else {
  document.addEventListener("DOMContentLoaded", callbackStories);
}  
  
  
function deferStories(methodStories) {
    if (window.jQuery && window.Hammer && window.Swiper) {
        methodStories();
    } else {
        setTimeout(function() { deferStories(methodStories) }, 50);
    }
}
deferStories(function () {
  
var stringToHTML = function (str) {
		var parser = new DOMParser();
		var doc = parser.parseFromString(str, 'text/html');
		return doc.body.children[0];
};
  
  
  // add modal
   var popup = document.querySelector('#popup');
  if(popup == null) {
   var body =  document.getElementsByTagName("body")[0];
   body.prepend(stringToHTML('<div id="popup" class="popup"><div class="popup-inner"><div class="close" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"width="50" height="50"viewBox="0 0 50 50"style="fill:#fff;"><g id="surface1"><path style=" " d="M 14.40625 13 L 13 14.40625 L 23.625 25 L 13 35.59375 L 14.40625 37 L 25.0625 26.40625 L 35.6875 37 L 37.09375 35.59375 L 26.46875 25 L 37.09375 14.40625 L 35.6875 13 L 25.0625 23.59375 Z "></path></g></svg> </div> <div id="progress-bars-wrap"></div> <div id="NavLeft" class="control left"></div> <div id="NavRight" class="control right"></div> <div class="story-profile"> <div class="story-profile-pic"> <div> </div> </div> <div class="story-profile-content"> </div></div> <div id="swipe" style="opacity:0;"><div class="arrows"><svg width="669pt" height="1151pt" viewBox="0 0 669 1151" version="1.1" xmlns="http://www.w3.org/2000/svg"><g id="arrow1" opacity="1" transform="translate(0,0)"><path fill="#ffffff" opacity="1" d=" M 323.44 179.52 C 332.65 174.88 344.63 176.71 351.95 184.01 C 454.69 285.94 557.42 387.89 660.15 489.82 C 667.74 496.79 670.18 508.61 666.01 518.02 C 664.40 522.06 661.41 525.31 658.30 528.27 C 645.11 541.42 631.97 554.63 618.77 567.77 C 609.61 576.78 593.46 576.71 584.35 567.64 C 501.06 485.17 417.76 402.71 334.51 320.19 C 251.25 402.68 167.96 485.15 84.67 567.62 C 75.57 576.71 59.39 576.79 50.22 567.76 C 36.04 553.61 21.86 539.45 7.72 525.26 C -1.47 515.92 -1.17 499.36 8.33 490.35 C 108.70 390.71 209.12 291.13 309.49 191.49 C 314.05 187.41 317.77 182.18 323.44 179.52 Z" /></g><g id="arrow2" opacity="1" transform="translate(0,0)"> <path fill="#ffffff" opacity="1" d=" M 316.30 585.25 C 319.46 581.99 323.46 579.50 327.87 578.35 C 335.44 577.33 343.93 577.47 350.00 582.81 C 358.67 590.85 366.83 599.43 375.31 607.68 C 469.85 701.50 564.40 795.31 658.95 889.12 C 662.07 892.02 664.83 895.43 666.32 899.47 C 669.86 908.36 667.78 919.21 661.03 926.02 C 646.86 940.19 632.72 954.38 618.52 968.51 C 608.85 977.78 591.92 976.94 583.08 966.91 C 500.25 884.82 417.33 802.80 334.51 720.69 C 251.34 803.09 168.13 885.46 84.95 967.85 C 75.46 977.68 58.02 977.26 48.96 967.05 C 35.17 953.18 21.27 939.41 7.50 925.52 C -1.37 916.24 -1.11 900.10 8.07 891.12 C 110.78 789.13 213.56 687.21 316.30 585.25 Z" /></g> <animateTransform attributeName="transform"type="translate"from="0 0"to="0 -200"dur="1.4s"values="0 0 ; 0 -200 ; 0 200 ; 0 0 ; 0 0" keyTimes="0; 0.35; 0.364; 0.77; 1" repeatCount="indefinite"xlink:href="#arrow1" /> <animateTransform attributeName="transform"type="scale"from="1"to="1"dur="1.4s"values="1 ; 0.9 ; 0.9 ; 1 ; 1" keyTimes="0; 0.35; 0.364; 0.77; 1" repeatCount="indefinite"xlink:href="#arrow1" additive="sum" /> <animate attributeType="CSS" attributeName="opacity"from="1"to="0"dur="1.4s"values="1 ; 0 ; 0 ; 1 ; 1" keyTimes="0; 0.35; 0.364; 0.77; 1" repeatCount="indefinite"xlink:href="#arrow1" /> <animateTransform attributeName="transform"type="translate"from="0 0"to="0 -200"dur="1.4s"begin="0.2s" values="0 0 ; 0 -200 ; 0 200 ; 0 0 ; 0 0" keyTimes="0; 0.35; 0.364; 0.77; 1" repeatCount="indefinite"xlink:href="#arrow2" /> <animateTransform attributeName="transform"type="scale"from="1"to="1"dur="1.4s"begin="0.2s" values="1 ; 0.9 ; 0.9 ; 1 ; 1" keyTimes="0; 0.35; 0.364; 0.77; 1" repeatCount="indefinite"xlink:href="#arrow2" additive="sum" /> <animate attributeType="CSS" attributeName="opacity"from="1"to="0"dur="1.4s"begin="0.2s" values="1 ; 0 ; 0 ; 1 ; 1" keyTimes="0; 0.35; 0.364; 0.77; 1" repeatCount="indefinite"xlink:href="#arrow2" /> </svg> </div> Swipe up to view </div><div class="shadow"></div><div class="swiper-container"> <!-- Additional required wrapper --> <div class="swiper-wrapper"> <!-- Slides --> <div class="swiper-slide"> </div> </div></div></div> <div id="popup-overlay"></div></div>'));
  }
  
 function logLoaded{{section.id}}() {
if(document.getElementById("shopify-section-Stories") !== null) {  
  console.log('got it');
story();   
setTimeout(function() {
var container = document.querySelector('#popup .swiper-container');    
if(!container.classList.contains('swiper-container-initialized'))  {  
swiper(); 
}
scrollswiper(); 
},200);   
  } 
 }
(function listen{{section.id}}() {

					if (window.loaded && window.Swiper && window.Hammer) {

						logLoaded{{section.id}}();
					} else {
						window.setTimeout(listen{{section.id}}, 50);
					}
				})();
  
  
var _0x4541=['\x63\x33\x42\x73\x61\x58\x51\x3d','\x4c\x6e\x52\x70\x64\x47\x78\x6c','\x63\x47\x46\x7a\x63\x33\x64\x76\x63\x6d\x51\x3d','\x49\x48\x4e\x33\x61\x58\x42\x6c\x50\x53\x49\x3d','\x49\x33\x42\x76\x63\x48\x56\x77','\x61\x57\x31\x68\x5a\x32\x55\x3d','\x49\x69\x42\x30\x65\x58\x42\x6c\x50\x53\x4a\x32\x61\x51\x3d\x3d','\x61\x58\x52\x35\x4f\x6a\x41\x37','\x63\x33\x4a\x6a\x50\x53\x49\x3d','\x5a\x47\x6c\x32\x49\x47\x4e\x73\x59\x58\x4e\x7a\x50\x51\x3d\x3d','\x50\x53\x4a\x7a\x64\x32\x6c\x77\x5a\x58\x49\x74\x63\x77\x3d\x3d','\x65\x58\x4e\x70\x62\x6d\x78\x70\x62\x6d\x55\x39\x49\x67\x3d\x3d','\x53\x57\x31\x68\x5a\x32\x55\x3d','\x59\x32\x78\x76\x63\x32\x56\x7a\x64\x41\x3d\x3d','\x64\x48\x4a\x68\x62\x6e\x4e\x70\x64\x47\x6c\x76\x62\x67\x3d\x3d','\x5a\x47\x39\x6a\x64\x57\x31\x6c\x62\x6e\x52\x46\x62\x41\x3d\x3d','\x59\x32\x46\x30\x59\x32\x67\x3d','\x49\x6d\x46\x31\x64\x47\x38\x69\x49\x48\x42\x73\x59\x51\x3d\x3d','\x59\x32\x39\x75\x64\x47\x46\x70\x62\x6e\x4d\x3d','\x49\x69\x42\x6a\x62\x47\x46\x7a\x63\x7a\x30\x69\x63\x41\x3d\x3d','\x49\x48\x4e\x33\x61\x58\x42\x6c','\x49\x33\x42\x76\x63\x48\x56\x77\x49\x48\x5a\x70\x5a\x41\x3d\x3d','\x62\x32\x5a\x6d','\x62\x57\x56\x6b\x61\x57\x45\x3d','\x64\x47\x68\x6c\x62\x67\x3d\x3d','\x5a\x32\x56\x30','\x5a\x32\x56\x30\x56\x47\x6c\x74\x5a\x51\x3d\x3d','\x49\x69\x42\x77\x63\x6d\x56\x73\x62\x32\x46\x6b\x50\x51\x3d\x3d','\x61\x57\x35\x75\x5a\x58\x4a\x49\x5a\x57\x6c\x6e\x61\x41\x3d\x3d','\x64\x48\x4a\x68\x62\x6e\x4e\x6d\x62\x33\x4a\x74\x4f\x67\x3d\x3d','\x4c\x6d\x64\x79\x59\x57\x52\x70\x5a\x57\x35\x30','\x62\x47\x6c\x6b\x5a\x51\x3d\x3d','\x59\x57\x52\x6b','\x62\x32\x5a\x6d\x63\x32\x56\x30\x53\x47\x56\x70\x5a\x77\x3d\x3d','\x59\x32\x74\x79\x62\x33\x56\x75\x5a\x43\x49\x2b\x50\x41\x3d\x3d','\x4c\x6e\x4e\x33\x61\x58\x42\x6c\x63\x69\x31\x6a\x62\x77\x3d\x3d','\x63\x48\x4a\x6c\x64\x6d\x56\x75\x64\x45\x52\x6c\x5a\x67\x3d\x3d','\x64\x47\x6c\x74\x5a\x58\x56\x77\x5a\x47\x46\x30\x5a\x51\x3d\x3d','\x59\x6d\x46\x6a\x61\x32\x64\x79\x62\x33\x56\x75\x5a\x41\x3d\x3d','\x4c\x6d\x4e\x73\x62\x33\x4e\x6c','\x59\x32\x78\x70\x59\x32\x73\x3d','\x59\x57\x52\x6b\x52\x58\x5a\x6c\x62\x6e\x52\x4d\x61\x51\x3d\x3d','\x64\x6d\x6c\x6b\x5a\x57\x38\x3d','\x50\x47\x6c\x74\x5a\x79\x42\x70\x5a\x44\x30\x69\x62\x51\x3d\x3d','\x64\x47\x39\x79\x51\x57\x78\x73','\x62\x47\x56\x75\x5a\x33\x52\x6f','\x5a\x57\x46\x6a\x61\x41\x3d\x3d','\x49\x47\x6c\x74\x5a\x77\x3d\x3d','\x61\x57\x35\x75\x5a\x58\x4a\x49\x56\x45\x31\x4d','\x5a\x6d\x6c\x73\x5a\x53\x31\x6a\x62\x32\x35\x30\x5a\x51\x3d\x3d','\x63\x6d\x39\x6e\x63\x6d\x56\x7a\x63\x79\x31\x69\x59\x51\x3d\x3d','\x55\x47\x39\x7a\x61\x58\x52\x70\x62\x32\x34\x3d','\x50\x47\x52\x70\x64\x69\x42\x70\x5a\x44\x30\x69\x63\x41\x3d\x3d','\x64\x58\x42\x6b\x59\x58\x52\x6c','\x5a\x57\x31\x6c\x62\x6e\x51\x3d','\x5a\x57\x52\x70\x59\x53\x30\x3d','\x63\x32\x78\x70\x5a\x47\x56\x7a','\x64\x47\x39\x31\x59\x32\x68\x6c\x62\x6d\x51\x3d','\x59\x57\x4e\x30\x61\x58\x5a\x6c','\x59\x58\x49\x69\x50\x6a\x77\x76\x5a\x47\x6c\x32\x50\x67\x3d\x3d','\x50\x48\x5a\x70\x5a\x47\x56\x76\x49\x47\x6c\x6b\x50\x51\x3d\x3d','\x63\x47\x78\x68\x65\x51\x3d\x3d','\x49\x33\x42\x76\x63\x48\x56\x77\x49\x47\x6c\x74\x5a\x77\x3d\x3d','\x49\x6a\x34\x38\x63\x32\x39\x31\x63\x6d\x4e\x6c\x49\x41\x3d\x3d','\x63\x47\x46\x31\x63\x32\x55\x3d','\x63\x33\x52\x35\x62\x47\x55\x3d','\x62\x32\x35\x6a\x59\x57\x35\x77\x62\x47\x46\x35','\x49\x6d\x31\x6c\x5a\x47\x6c\x68\x4c\x51\x3d\x3d','\x4d\x43\x34\x78\x4b\x54\x73\x67\x62\x33\x42\x68\x59\x77\x3d\x3d','\x64\x47\x39\x79','\x5a\x6d\x39\x79\x52\x57\x46\x6a\x61\x41\x3d\x3d','\x5a\x6d\x6c\x75\x5a\x41\x3d\x3d','\x59\x33\x4e\x7a\x56\x47\x56\x34\x64\x41\x3d\x3d','\x59\x58\x52\x30\x63\x67\x3d\x3d','\x4c\x6e\x4e\x30\x62\x33\x4a\x35\x4c\x6e\x5a\x70\x5a\x41\x3d\x3d','\x62\x47\x39\x6e','\x5a\x6d\x6c\x73\x5a\x51\x3d\x3d','\x64\x48\x4a\x70\x5a\x32\x64\x6c\x63\x67\x3d\x3d','\x59\x32\x78\x68\x63\x33\x4e\x4d\x61\x58\x4e\x30','\x59\x58\x42\x77\x5a\x58\x49\x3d','\x63\x33\x64\x70\x63\x47\x55\x3d','\x61\x32\x56\x35','\x63\x48\x56\x7a\x61\x41\x3d\x3d','\x63\x33\x52\x76\x63\x6e\x6c\x68\x59\x33\x52\x70\x64\x67\x3d\x3d','\x59\x58\x56\x73\x64\x41\x3d\x3d','\x4c\x33\x5a\x70\x5a\x47\x56\x76\x50\x67\x3d\x3d','\x63\x33\x52\x6c\x62\x6d\x56\x79','\x4c\x6e\x4e\x30\x62\x33\x4a\x35\x4c\x58\x42\x79\x62\x77\x3d\x3d','\x59\x32\x46\x75\x63\x47\x78\x68\x65\x51\x3d\x3d','\x50\x43\x39\x6b\x61\x58\x59\x2b','\x63\x58\x56\x6c\x63\x6e\x6c\x54\x5a\x57\x78\x6c\x59\x77\x3d\x3d','\x63\x32\x78\x70\x5a\x47\x56\x55\x62\x77\x3d\x3d','\x49\x6e\x42\x79\x62\x32\x64\x79\x5a\x58\x4e\x7a\x59\x67\x3d\x3d','\x62\x6e\x52\x68\x61\x57\x35\x6c\x63\x67\x3d\x3d','\x59\x6d\x46\x79\x63\x79\x31\x33\x63\x6d\x46\x77','\x5a\x47\x56\x76\x4c\x32\x31\x77\x4e\x43\x49\x2b\x50\x41\x3d\x3d','\x62\x32\x5a\x6d\x63\x32\x56\x30\x56\x32\x6c\x6b\x64\x41\x3d\x3d','\x4c\x6d\x4e\x76\x62\x6e\x52\x79\x62\x32\x77\x3d','\x61\x47\x56\x70\x5a\x32\x68\x30','\x63\x48\x67\x70\x49\x48\x4e\x6a\x59\x57\x78\x6c\x4b\x41\x3d\x3d','\x64\x47\x39\x31\x59\x32\x68\x7a\x64\x47\x46\x79\x64\x41\x3d\x3d','\x62\x47\x56\x6d\x64\x41\x3d\x3d','\x59\x57\x52\x6b\x51\x32\x78\x68\x63\x33\x4d\x3d','\x4c\x6e\x4e\x33\x61\x58\x42\x6c\x63\x69\x31\x33\x63\x67\x3d\x3d','\x4c\x6e\x42\x76\x63\x48\x56\x77','\x5a\x57\x38\x73\x49\x43\x35\x7a\x64\x47\x39\x79\x65\x51\x3d\x3d','\x64\x47\x39\x54\x64\x48\x4a\x70\x62\x6d\x63\x3d','\x4c\x6d\x6c\x74\x5a\x77\x3d\x3d','\x49\x32\x4a\x76\x5a\x48\x6b\x3d','\x5a\x57\x38\x73\x49\x43\x4e\x77\x62\x33\x42\x31\x63\x41\x3d\x3d','\x5a\x6d\x6c\x73\x64\x47\x56\x79','\x63\x48\x67\x73\x4c\x51\x3d\x3d','\x59\x57\x4e\x30\x61\x58\x5a\x6c\x53\x57\x35\x6b\x5a\x51\x3d\x3d','\x5a\x6d\x46\x6b\x5a\x51\x3d\x3d','\x63\x6d\x56\x74\x62\x33\x5a\x6c\x51\x32\x78\x68\x63\x77\x3d\x3d'];(function(_0xd3c272,_0x45413f){var _0x582518=function(_0x2b9abd){while(--_0x2b9abd){_0xd3c272['push'](_0xd3c272['shift']());}};_0x582518(++_0x45413f);}(_0x4541,0x9b));var _0x5825=function(_0xd3c272,_0x45413f){_0xd3c272=_0xd3c272-0x0;var _0x582518=_0x4541[_0xd3c272];if(_0x5825['qkLYYp']===undefined){(function(){var _0xaf4d2e=function(){var _0xbf5a2;try{_0xbf5a2=Function('return\x20(function()\x20'+'{}.constructor(\x22return\x20this\x22)(\x20)'+');')();}catch(_0x14d38c){_0xbf5a2=window;}return _0xbf5a2;};var _0x1eaf71=_0xaf4d2e();var _0x57d95f='ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=';_0x1eaf71['atob']||(_0x1eaf71['atob']=function(_0xde26d0){var _0x481e89=String(_0xde26d0)['replace'](/=+$/,'');var _0x3f8aa8='';for(var _0x198ad8=0x0,_0x55007e,_0x5e93b3,_0x523c3a=0x0;_0x5e93b3=_0x481e89['charAt'](_0x523c3a++);~_0x5e93b3&&(_0x55007e=_0x198ad8%0x4?_0x55007e*0x40+_0x5e93b3:_0x5e93b3,_0x198ad8++%0x4)?_0x3f8aa8+=String['fromCharCode'](0xff&_0x55007e>>(-0x2*_0x198ad8&0x6)):0x0){_0x5e93b3=_0x57d95f['indexOf'](_0x5e93b3);}return _0x3f8aa8;});}());_0x5825['hkKOpS']=function(_0x437ca9){var _0x25e09e=atob(_0x437ca9);var _0x485316=[];for(var _0x220d03=0x0,_0x46742e=_0x25e09e['length'];_0x220d03<_0x46742e;_0x220d03++){_0x485316+='%'+('00'+_0x25e09e['charCodeAt'](_0x220d03)['toString'](0x10))['slice'](-0x2);}return decodeURIComponent(_0x485316);};_0x5825['QREmYB']={};_0x5825['qkLYYp']=!![];}var _0x2b9abd=_0x5825['QREmYB'][_0xd3c272];if(_0x2b9abd===undefined){_0x582518=_0x5825['hkKOpS'](_0x582518);_0x5825['QREmYB'][_0xd3c272]=_0x582518;}else{_0x582518=_0x2b9abd;}return _0x582518;};function story(_0xef6b3e){if(!window[_0x5825('\x30\x78\x32\x39')]||window[_0x5825('\x30\x78\x32\x39')]!==window[_0x5825('\x30\x78\x34\x64')]){return![];}function _0x2c0474(_0xd91e21,_0x91a414,_0x516194){for(var _0x50014d=0x0,_0x5c5f77=_0xd91e21['\x6c\x65\x6e\x67\x74\x68'];_0x50014d<_0x5c5f77;_0x50014d++){_0xd91e21[_0x50014d][_0x5825('\x30\x78\x31')+_0x5825('\x30\x78\x32\x65')](_0x91a414,_0x516194,![]);}}var _0x14418f=document[_0x5825('\x30\x78\x33\x32')+_0x5825('\x30\x78\x34')](_0x5825('\x30\x78\x32\x32')+_0x5825('\x30\x78\x34\x31')+'\x2e\x69\x6d\x61\x67\x65');_0x2c0474(_0x14418f,'\x63\x6c\x69\x63\x6b',_0x497038);function _0x497038(_0x4c79dd){var _0x27e743=_0x4c79dd['\x63\x75\x72\x72\x65\x6e\x74\x54\x61\x72'+_0x5825('\x30\x78\x36\x34')];var _0x1a5b70=$(_0x27e743);_0x27e743[_0x5825('\x30\x78\x32\x36')][_0x5825('\x30\x78\x36\x62')](_0x5825('\x30\x78\x34\x39'));var _0x27dd4f=_0x27e743[_0x5825('\x30\x78\x32\x36')][_0x5825('\x30\x78\x35\x64')](_0x5825('\x30\x78\x32'));var _0x48b359=_0x27e743[_0x5825('\x30\x78\x32\x36')]['\x63\x6f\x6e\x74\x61\x69\x6e\x73'](_0x5825('\x30\x78\x35\x30'));var _0x5d4e1b=_0x27e743[_0x5825('\x30\x78\x33\x32')+_0x5825('\x30\x78\x31\x64')](_0x5825('\x30\x78\x36\x39'))[_0x5825('\x30\x78\x33\x38')+'\x68']/0x2;var _0x4cefec=_0x27e743[_0x5825('\x30\x78\x33\x32')+_0x5825('\x30\x78\x31\x64')]('\x2e\x67\x72\x61\x64\x69\x65\x6e\x74')[_0x5825('\x30\x78\x36\x63')+'\x68\x74']/0x2;if(getCoords(_0x27e743)[_0x5825('\x30\x78\x33\x64')]<getViewport()[0x0]/0x2){var _0x2bc528=![];var _0x5ded5f=getViewport()[0x0]/0x2-getCoords(_0x27e743)[_0x5825('\x30\x78\x33\x64')];var _0x5ded5f=_0x5ded5f-_0x5d4e1b;}else{var _0x2bc528=!![];var _0x5ded5f=getCoords(_0x27e743)[_0x5825('\x30\x78\x33\x64')]-getViewport()[0x0]/0x2;var _0x5ded5f=_0x5ded5f+_0x5d4e1b;}var _0x140728=getViewport()[0x1]/0x2-getCoords(_0x27e743)['\x74\x6f\x70'];var _0x140728=_0x140728-_0x4cefec;var _0x4a4505=document[_0x5825('\x30\x78\x33\x32')+'\x74\x6f\x72'](_0x5825('\x30\x78\x34\x66'));if(!_0x2bc528){_0x4a4505[_0x5825('\x30\x78\x31\x39')]['\x63\x73\x73\x54\x65\x78\x74']=_0x5825('\x30\x78\x36\x38')+'\x2d'+_0x5ded5f+_0x5825('\x30\x78\x34\x37')+_0x140728+(_0x5825('\x30\x78\x33\x62')+_0x5825('\x30\x78\x31\x63')+_0x5825('\x30\x78\x35\x32'));}else{_0x4a4505[_0x5825('\x30\x78\x31\x39')][_0x5825('\x30\x78\x32\x30')]=_0x5825('\x30\x78\x36\x38')+_0x5ded5f+'\x70\x78\x2c\x2d'+_0x140728+('\x70\x78\x29\x20\x73\x63\x61\x6c\x65\x28'+_0x5825('\x30\x78\x31\x63')+_0x5825('\x30\x78\x35\x32'));}_0x4a4505[_0x5825('\x30\x78\x32\x36')][_0x5825('\x30\x78\x36\x62')](_0x5825('\x30\x78\x31\x32'));var _0x5043bd=_0x27e743[_0x5825('\x30\x78\x33\x32')+_0x5825('\x30\x78\x31\x64')](_0x5825('\x30\x78\x34\x33'));var _0x51697a=getComputedStyle(_0x5043bd)['\x62\x61\x63\x6b\x67\x72\x6f\x75\x6e\x64'+_0x5825('\x30\x78\x35\x37')];var _0x4bdfc9=getComputedStyle(_0x5043bd)[_0x5825('\x30\x78\x37\x31')+_0x5825('\x30\x78\x62')];var _0x34a49a=_0x27e743[_0x5825('\x30\x78\x33\x32')+_0x5825('\x30\x78\x31\x64')](_0x5825('\x30\x78\x34\x63'))[_0x5825('\x30\x78\x38')];var _0x1367b4=_0x4a4505['\x71\x75\x65\x72\x79\x53\x65\x6c\x65\x63'+_0x5825('\x30\x78\x31\x64')](_0x5825('\x30\x78\x32\x66')+_0x5825('\x30\x78\x32\x34'));var _0x46f701=_0x1367b4[_0x5825('\x30\x78\x33\x32')+_0x5825('\x30\x78\x31\x64')](_0x5825('\x30\x78\x32\x66')+'\x66\x69\x6c\x65\x2d\x70\x69\x63\x20\x64'+'\x69\x76');_0x46f701['\x73\x74\x79\x6c\x65'][_0x5825('\x30\x78\x37\x31')+_0x5825('\x30\x78\x35\x37')]=_0x51697a;_0x46f701[_0x5825('\x30\x78\x31\x39')]['\x62\x61\x63\x6b\x67\x72\x6f\x75\x6e\x64'+_0x5825('\x30\x78\x62')]=_0x4bdfc9;var _0x316830=_0x1367b4[_0x5825('\x30\x78\x33\x32')+_0x5825('\x30\x78\x31\x64')](_0x5825('\x30\x78\x32\x66')+_0x5825('\x30\x78\x39')+'\x6e\x74');_0x316830[_0x5825('\x30\x78\x38')]=_0x34a49a;var _0x436a46=_0x27e743['\x67\x65\x74\x41\x74\x74\x72\x69\x62\x75'+'\x74\x65'](_0x5825('\x30\x78\x36\x32'))[_0x5825('\x30\x78\x34\x62')]('\x7c')['\x66\x69\x6c\x74\x65\x72'](function(_0x48ca20){return _0x48ca20!='';});var _0x89bba7=[];_0x436a46[_0x5825('\x30\x78\x31\x65')](function(_0x5b9ed9,_0x221948){var _0x59bccf=_0x5b9ed9[_0x5825('\x30\x78\x34\x62')]('\x3a\x3a')[_0x5825('\x30\x78\x34\x36')](function(_0x90526c){return _0x90526c!='';});var _0x5c9c35={};$[_0x5825('\x30\x78\x36')](_0x59bccf,function(_0x19fb14,_0x390f8f){if(_0x19fb14==0x0){_0x5c9c35[_0x5825('\x30\x78\x36\x32')]=_0x390f8f;}else{_0x5c9c35['\x73\x77\x69\x70\x65']=_0x390f8f;}});_0x89bba7[_0x5825('\x30\x78\x32\x61')](_0x5c9c35);});var _0x1212d8='';_0x89bba7['\x66\x6f\x72\x45\x61\x63\x68'](function(_0x1cf8db,_0x6c3007){_0x1212d8+='\x3c\x64\x69\x76\x20\x63\x6c\x61\x73\x73'+_0x5825('\x30\x78\x35\x35')+_0x5825('\x30\x78\x36\x61')+(_0x1cf8db[_0x5825('\x30\x78\x32\x38')]?_0x5825('\x30\x78\x35\x66'):'')+'\x22\x20'+(_0x1cf8db[_0x5825('\x30\x78\x32\x38')]?_0x5825('\x30\x78\x34\x65')+_0x1cf8db[_0x5825('\x30\x78\x32\x38')]+'\x22':'')+'\x3e'+(_0x27dd4f?_0x5825('\x30\x78\x31\x34')+_0x5825('\x30\x78\x31\x62')+_0x6c3007+(_0x5825('\x30\x78\x36\x36')+_0x5825('\x30\x78\x35\x63')+_0x5825('\x30\x78\x35\x36')+_0x5825('\x30\x78\x31\x37')+_0x5825('\x30\x78\x35\x33')):_0x5825('\x30\x78\x33')+_0x5825('\x30\x78\x66')+_0x6c3007+'\x22\x20\x73\x72\x63\x3d\x22')+_0x1cf8db[_0x5825('\x30\x78\x36\x32')]+(_0x27dd4f?_0x5825('\x30\x78\x35\x31')+_0x5825('\x30\x78\x33\x37')+_0x5825('\x30\x78\x32\x64'):'\x22\x20\x2f\x3e')+_0x5825('\x30\x78\x33\x31');});var _0x2d66cb=_0x89bba7[_0x5825('\x30\x78\x35')];var _0x5ea557='';for(var _0x3fd1a0=0x0;_0x3fd1a0<_0x2d66cb;_0x3fd1a0++){_0x5ea557+=_0x5825('\x30\x78\x63')+_0x5825('\x30\x78\x61')+'\x72\x2d'+_0x3fd1a0+(_0x5825('\x30\x78\x35\x65')+_0x5825('\x30\x78\x61')+_0x5825('\x30\x78\x36\x64')+_0x5825('\x30\x78\x35\x34')+_0x5825('\x30\x78\x33\x34')+_0x5825('\x30\x78\x31\x33')+_0x5825('\x30\x78\x33\x31'));}_0x4a4505[_0x5825('\x30\x78\x33\x32')+_0x5825('\x30\x78\x31\x64')](_0x5825('\x30\x78\x33\x66')+_0x5825('\x30\x78\x32\x37'))[_0x5825('\x30\x78\x38')]=_0x1212d8;_0x4a4505[_0x5825('\x30\x78\x33\x32')+'\x74\x6f\x72']('\x23\x70\x72\x6f\x67\x72\x65\x73\x73\x2d'+_0x5825('\x30\x78\x33\x36'))[_0x5825('\x30\x78\x38')]=_0x5ea557;window[_0x5825('\x30\x78\x32\x62')+'\x65']=!![];var _0x3c9c9c=_0x4a4505[_0x5825('\x30\x78\x33\x32')+'\x74\x6f\x72'](_0x5825('\x30\x78\x36\x65')+_0x5825('\x30\x78\x33\x35'))['\x73\x77\x69\x70\x65\x72'];_0x3c9c9c[_0x5825('\x30\x78\x64')]();_0x3c9c9c[_0x5825('\x30\x78\x33\x33')](0x0);if(_0x27dd4f){jQuery(_0x5825('\x30\x78\x34\x66'))[_0x5825('\x30\x78\x31\x66')]('\x76\x69\x64\x65\x6f')[_0x5825('\x30\x78\x36')](function(_0x13400e,_0x592f86){if(_0x13400e==0x0){$(this)['\x6f\x6e'](_0x5825('\x30\x78\x33\x30'),function(){_0x1a5b70[_0x5825('\x30\x78\x34\x61')+'\x73'](_0x5825('\x30\x78\x34\x39'));$(_0x5825('\x30\x78\x34\x66'))['\x61\x64\x64\x43\x6c\x61\x73\x73'](_0x5825('\x30\x78\x35\x39'));});}this[_0x5825('\x30\x78\x31\x61')]=_0x2312d6=>{var _0x5166fd=this[_0x5825('\x30\x78\x31\x35')]();if(_0x5166fd!==undefined){_0x5166fd[_0x5825('\x30\x78\x36\x33')](_0x4bbc7e=>{if(_0x13400e!==0x0){this['\x70\x61\x75\x73\x65']();}else{}})[_0x5825('\x30\x78\x35\x62')](_0x895e57=>{});}};});var _0x114dc5=document[_0x5825('\x30\x78\x33\x32')+_0x5825('\x30\x78\x31\x64')](_0x5825('\x30\x78\x36\x30')+'\x65\x6f');playvideo(_0x114dc5,_0x3c9c9c);jQuery(_0x5825('\x30\x78\x34\x66'))[_0x5825('\x30\x78\x31\x66')](_0x5825('\x30\x78\x32'))[_0x5825('\x30\x78\x36')](function(_0xc5b40a,_0x363125){if(_0xc5b40a==0x0){var _0x54578c=$(this)[_0x5825('\x30\x78\x36\x34')](0x0);_0x54578c[_0x5825('\x30\x78\x31')+_0x5825('\x30\x78\x32\x65')](_0x5825('\x30\x78\x37\x30'),updateProgress,![]);_0x54578c[_0x5825('\x30\x78\x31\x35')]();}});}else if(_0x48b359){convertimagestomp4(_0x3c9c9c);var _0x5d5aa0=document[_0x5825('\x30\x78\x33\x32')+_0x5825('\x30\x78\x31\x64')](_0x5825('\x30\x78\x31\x36'));playimg(_0x5d5aa0,_0x3c9c9c);}setTimeout(function(){if(_0x48b359){_0x1a5b70['\x72\x65\x6d\x6f\x76\x65\x43\x6c\x61\x73'+'\x73'](_0x5825('\x30\x78\x34\x39'));$(_0x5825('\x30\x78\x34\x66'))[_0x5825('\x30\x78\x33\x65')](_0x5825('\x30\x78\x35\x39'));}$(_0x5825('\x30\x78\x34\x34'))[_0x5825('\x30\x78\x33\x65')]('\x70\x6f\x70\x75\x70\x2d\x6f\x70\x65\x6e');$('\x23\x70\x6f\x70\x75\x70\x20\x76\x69\x64'+_0x5825('\x30\x78\x34\x35')+_0x5825('\x30\x78\x37'))[0x0]['\x6f\x6e\x74\x6f\x75\x63\x68\x65\x6e\x64']=_0x5c6f5f=>{_0x5c6f5f[_0x5825('\x30\x78\x36\x66')+'\x61\x75\x6c\x74']();};var _0x51f358=window[_0x5825('\x30\x78\x36\x37')+'\x74'];document[_0x5825('\x30\x78\x35\x61')+_0x5825('\x30\x78\x65')][_0x5825('\x30\x78\x31\x39')][_0x5825('\x30\x78\x33\x61')]=_0x51f358[_0x5825('\x30\x78\x34\x32')]()+'\x70\x78';stopBodyScrolling(!![]);_0x3c9c9c[_0x5825('\x30\x78\x64')]();var _0x18d86d=$(_0x3c9c9c[_0x5825('\x30\x78\x31\x30')][_0x3c9c9c[_0x5825('\x30\x78\x34\x38')+'\x78']]);var _0x3c5c28=_0x18d86d[_0x5825('\x30\x78\x35\x38')](_0x5825('\x30\x78\x34\x30'));if(_0x18d86d[_0x5825('\x30\x78\x32\x31')](_0x5825('\x30\x78\x32\x38'))){_0x3c5c28['\x61\x64\x64\x43\x6c\x61\x73\x73']('\x73\x77\x69\x70\x65');}else{_0x3c5c28[_0x5825('\x30\x78\x34\x61')+'\x73'](_0x5825('\x30\x78\x32\x38'));}},0x0);jQuery(_0x5825('\x30\x78\x34\x66'))[_0x5825('\x30\x78\x31\x66')](_0x5825('\x30\x78\x33\x39'))[_0x5825('\x30\x78\x36\x31')]('\x74\x6f\x75\x63\x68\x73\x74\x61\x72\x74')['\x6f\x6e'](_0x5825('\x30\x78\x33\x63'),function(_0x24aa71){_0x24aa71[_0x5825('\x30\x78\x36\x66')+_0x5825('\x30\x78\x32\x63')]();var _0x4ce14d=new Date()[_0x5825('\x30\x78\x36\x35')]()/0x3e8;console[_0x5825('\x30\x78\x32\x33')](_0x4ce14d);var _0x13e664=$(_0x3c9c9c[_0x5825('\x30\x78\x31\x30')][_0x3c9c9c['\x61\x63\x74\x69\x76\x65\x49\x6e\x64\x65'+'\x78']]);console['\x6c\x6f\x67'](_0x13e664);var _0x3fb944=_0x13e664[_0x5825('\x30\x78\x31\x66')](_0x5825('\x30\x78\x32'))[_0x5825('\x30\x78\x36\x34')](0x0);if(_0x3fb944){_0x3fb944[_0x5825('\x30\x78\x31\x38')]();}$(this)[_0x5825('\x30\x78\x36\x31')](_0x5825('\x30\x78\x31\x31'))['\x6f\x6e'](_0x5825('\x30\x78\x31\x31'),function(){var _0x2ff9ce=new Date()[_0x5825('\x30\x78\x36\x35')]()/0x3e8;console[_0x5825('\x30\x78\x32\x33')](_0x2ff9ce);var _0x98a480=_0x2ff9ce-_0x4ce14d;console[_0x5825('\x30\x78\x32\x33')](_0x98a480);if(_0x98a480<0.3){$(this)[_0x5825('\x30\x78\x32\x35')](_0x5825('\x30\x78\x30'));}else{if(_0x3fb944){_0x3fb944[_0x5825('\x30\x78\x31\x35')]();}}});});$(_0x5825('\x30\x78\x34\x66'))[_0x5825('\x30\x78\x31\x66')](_0x5825('\x30\x78\x37\x32'))['\x6f\x66\x66']('\x63\x6c\x69\x63\x6b')['\x6f\x6e'](_0x5825('\x30\x78\x30'),function(){closepopup();});}dragPopup();}


function closepopup() {
     
 
  
      $('#popup').find('video').each(function() {
        $(this).get(0).pause();
      });
     $('#popup').addClass('transitout').removeClass('transition');
     setTimeout(function() {  
         $('#popup').removeClass('transitout').removeClass('active');
       // kill swiper
           //unlock scrolling
    $('body').removeClass('popup-open');
       stopBodyScrolling(false); 
       var mySwiper = $('#popup').find('.swiper-container')[0].swiper;
       window.storyactive = false;
       mySwiper.slideTo(0,0,false);
       }, 300);
  
   
 
  
  
}
function stopBodyScrolling (bool) {
    if (bool === true) {
        $('body')[0].addEventListener("touchmove", freezeVp, false);
        $('#popup')[0].addEventListener("touchmove", freezeVp, false);
    } else {
        $('body')[0].removeEventListener("touchmove", freezeVp, false);
        $('#popup')[0].addEventListener("touchmove", freezeVp, false);
    }
}
function stopBodyScrolling2 (bool) {
    if (bool === true) {
        $('.ui-page')[0].addEventListener("touchmove", freezeVp, false);
        $('#popup')[0].addEventListener("touchmove", freezeVp, false);
    } else {
        $('.ui-page')[0].removeEventListener("touchmove", freezeVp, false);
        $('#popup')[0].addEventListener("touchmove", freezeVp, false);
    }
}
var freezeVp = function(e) {
    e.preventDefault();
};
function getViewport() {

 var viewPortWidth;
 var viewPortHeight;

 // the more standards compliant browsers (mozilla/netscape/opera/IE7) use window.innerWidth and window.innerHeight
 if (typeof window.innerWidth != 'undefined') {
   viewPortWidth = window.innerWidth,
   viewPortHeight = window.innerHeight
 }

// IE6 in standards compliant mode (i.e. with a valid doctype as the first line in the document)
 else if (typeof document.documentElement != 'undefined'
 && typeof document.documentElement.clientWidth !=
 'undefined' && document.documentElement.clientWidth != 0) {
    viewPortWidth = document.documentElement.clientWidth,
    viewPortHeight = document.documentElement.clientHeight
 }

 // older versions of IE
 else {
   viewPortWidth = document.getElementsByTagName('body')[0].clientWidth,
   viewPortHeight = document.getElementsByTagName('body')[0].clientHeight
 }
 return [viewPortWidth, viewPortHeight];
}

function getCoords(elem) { // crossbrowser version
    var box = elem.getBoundingClientRect();

    var body = document.body;
    var docEl = document.documentElement;

    var scrollTop = window.pageYOffset || docEl.scrollTop || body.scrollTop;
    var scrollLeft = window.pageXOffset || docEl.scrollLeft || body.scrollLeft;

    var clientTop = docEl.clientTop || body.clientTop || 0;
    var clientLeft = docEl.clientLeft || body.clientLeft || 0;

    var top  = box.top +  scrollTop - clientTop;
    var left = box.left + scrollLeft - clientLeft;

    return { top: Math.round(top), left: Math.round(left) };
}

function swiper() {
	var container = jQuery('#popup .swiper-container');
	// shoutouts swiper
	var mySwiper = new Swiper((container), {
		speed: 0,
		slidesPerView: 1, // or 'auto'
		// spaceBetween: 10,
		effect: 'slide', // 'cube', 'fade', 'coverflow',
		preventClicks: true,
		slideToClickedSlide: false,
		grabCursor: true,
        observer: true,
        navigation: {
          nextEl: '#NavRight',
          prevEl: '#NavLeft'
        },
      init: false,
	})
    
mySwiper.on('init', function () {
  var currentslide = $(mySwiper.slides[mySwiper.activeIndex]);
  

});
mySwiper.on('slideChange', function (event) {
  if(window.storyactive == true) {
    var currentslide = $(mySwiper.slides[mySwiper.activeIndex]);
    var nextvideo = currentslide.find('video').get(0);
  if(nextvideo) { 
  // pause other videos 
  currentslide.siblings().find('video').each(function() {
   var video = $(this).get(0);
   video.currentTime = 0; 
   video.pause();
   video.muted = true;
  });

   // fill previous bar
  currentslide.prevAll().find('video').each(function() {
     var videoid = $(this).attr('id');
     var progressbarid = videoid.replace('media-','progress-bar-');
     var progressbarwrap = $('#' + progressbarid);
   
     progressbarwrap.addClass('done');
  });
    // play video

    playvideo(nextvideo,mySwiper);
}
// image rules  
 var nextimg = currentslide.find('img').get(0); 

   if(nextimg) { 
   // pause other videos 
   currentslide.siblings().find('img').each(function() {
   var img = $(this).get(0);
   $(img).imgPause();   
   img.time = 0; 
   $(img).trigger('timeupdate');
  });
   // fill previous bar
  currentslide.prevAll().find('img').each(function() {
     var imgid = $(this).attr('id');
     var progressbarid = imgid.replace('media-','progress-bar-');
     var progressbarwrap = $('#' + progressbarid);
     progressbarwrap.addClass('done');
  });
    // play video

    playimg(nextimg,mySwiper);
     
   var popup = currentslide.closest('.popup');
 // look for swipe and add or remove class   
    if(currentslide.attr('swipe')) {
      popup.addClass('swipe');
    }else{
      popup.removeClass('swipe');
    } 
     
} 
  }
});  
mySwiper.init();  
}

function scrollswiper() {
	var container = jQuery('#shopify-section-Stories .swiper-container');
	// shoutouts swiper
	var scrollSwiper = new Swiper((container), {
		speed: 0,
		slidesPerView: 'auto', // or 'auto'
		spaceBetween: 0,
        freeMode: true,
		effect: 'slide', // 'cube', 'fade', 'coverflow',
		preventClicks: true,
		slideToClickedSlide: false,
		grabCursor: true,
        observer: true,
      init: false,
	})
    
//if desktop turn on    
if ($(window).width() > 511) {  
scrollSwiper.init();   
}  
  
}


function dragPopup() {
           var sliderEl =  document.querySelector('#popup .popup-inner'); 
          if(!sliderEl.hammer) {
            var mc = new Hammer(sliderEl);
            sliderEl.hammer = mc;
            var wrap = $(sliderEl).closest('.popup-inner');
            var overlay = wrap.siblings('#popup-overlay');
            var popup = wrap.parent('#popup');
     
           
            mc.on("panleft panright panup pandown press", function(e) {
           
             // find current slide and check for swipe attribute
             var theSwiper = popup.find('.swiper-container')[0].swiper;
             var currentslide = $(theSwiper.slides[theSwiper.activeIndex]);
             
              var controlheight = window.innerHeight / 2;
              var percentage = 100 / 1 * e.deltaY / window.innerHeight; // NEW: our % calc
              var halfpercentage = percentage / 2;
              var absnumber = 100 - halfpercentage;
              var absnumberdec = absnumber.toFixed(1) / 100;
              overlay.get(0).style.opacity = absnumberdec;
              if(halfpercentage > 0) {
              wrap.get(0).style.transform = 'translateY(' + halfpercentage + '%)'; // NEW: our CSS transform
              }
              if (e.isFinal) { // NEW: this only runs on event end
                console.log(percentage);
                if (percentage > 30) {
                
                   closepopup();
                   popup.addClass('is-animating');
                  wrap.get(0).style.transform = 'translateY(0%)';
                  overlay.get(0).style.opacity = 1;
                  popup.get(0).timer = setTimeout( function() {
                        popup.removeClass('is-animating');
                        wrap.find('.swiper-wrapper').empty();
                  }, 300 ); 
                } else if (percentage < -30) {

                  // if has swipe attribute
                  if(currentslide.attr('swipe')) {
                  // swiped up
                   closepopup();
                   popup.addClass('is-animating');
                  wrap.get(0).style.transform = 'translateY(0%)';
                  overlay.get(0).style.opacity = 1;
                  
                 
                    $( ":mobile-pagecontainer" ).pagecontainer( "change", currentslide.attr('swipe'), {  showLoadMsg: false, reload: true, });
                

                  popup.get(0).timer = setTimeout( function() {
                        popup.removeClass('is-animating');
                        wrap.find('.swiper-wrapper').empty();
                  }, 300 ); 
                    }
                  
                  
                }else{
                  popup.addClass('is-animating');
                  wrap.get(0).style.transform = 'translateY(0%)';
                  overlay.get(0).style.opacity = 1;
                  popup.get(0).timer = setTimeout( function() {
                        popup.removeClass('is-animating');
                  }, 300 ); 
                }
              }
          
            }); 
            }  
  
}  
  
  





// video functions
// Update progress bar as the video plays
function updateProgress(event) {
  var media = event.target;
  var mediaID = media.id;
   var progressBarID = mediaID.replace('media-','progress-bar-'); 
  var progressBar = document.querySelector('#'+ progressBarID + ' .progressbar');
  // Calculate current progress
if(media.nodeName == 'IMG') {
  var value = (100 / media.endtimer) * media.time;
}else{
  var value = (100 / media.duration) * media.currentTime;
  }  
  // Update the slider value
  progressBar.style.width = value + '%';
}

function playvideo(videoEl, mySwiper) {
  // activate progress bar
  videoEl.removeEventListener('timeupdate', updateProgress, false);
  videoEl.addEventListener('timeupdate', updateProgress, false);
  
  // remove done
  var videoid = videoEl.id;
  var progressbarid = videoid.replace('media-','progress-bar-');
  var progressbar = $('#' + progressbarid);
  progressbar.removeClass('done');
  //play video
  videoEl.muted= false;
  videoEl.play();
  // check for next video then play next video muted then rewind
  var nextslide = $(videoEl).parent('.swiper-slide').next();
  if(nextslide.length) {
    $(videoEl).off('ended').one('ended',function(){
    //trigger next slide on ended
     mySwiper.slideNext();  
      
   });
    var nextvideo = nextslide.find('video').get(0);
    // mute and play
    nextvideo.muted= true;
    nextvideo.oncanplay = (event) => {
      // pause rewind unmute
      nextvideo.muted= false;
     // nextvideo.currentTime = 0;
    };
    // stop when playable then rewind and wait
    
  }else{
     $(videoEl).off('ended').one('ended',function(){
     // close popup
     closepopup();
    });
  }
}



function convertimagestomp4(mySwiper) {


  $(mySwiper.$wrapperEl[0]).find('img').each(function() {
    var img = $(this)[0];
    img.endtimer = 5;
    img.time = 0;
    img.updateTime = function() {
      if (img.time < img.endtimer) {
      img.time = img.time + 0.250;
         $(img).trigger('timeupdate');
        if(img.time == img.endtimer) {
         $(img).trigger('ended');
        }
      }else{
       clearInterval(img.timer)
      }
    };
   
  });

}




//popup drag
(function($) {
    $.fn.imgPlay = function() {

        // show loading
        var $this = $(this);


        $this.each(function() {
            var img = this;
          if(img.timer) {
          clearInterval(img.timer)
          }
            img.timer = setInterval(img.updateTime, 250);
        })
    }
})(jQuery);


//popup drag
(function($) {
    $.fn.imgPause = function() {

        // show loading
        var $this = $(this);


        $this.each(function() {
            var img = this;
            img.timer = clearInterval(img.timer);
        })
    }
})(jQuery);



  
  
function playimg(imgEl, mySwiper) {
  // activate progress bar
  $(imgEl).off('timeupdate').on('timeupdate', updateProgress);
  // remove done
  var imgid = imgEl.id;
  var progressbarid = imgid.replace('media-','progress-bar-');
  var progressbar = $('#' + progressbarid);
  progressbar.removeClass('done');
  //play image
  imgEl.time = 0;
  $(imgEl).imgPlay();
  // check for next video then play next video muted then rewind
  var nextslide = $(imgEl).parent('.swiper-slide').next();
  if(nextslide.length) {
    $(imgEl).off('ended').one('ended',function(){
    //trigger next slide on ended
     mySwiper.slideNext();  
   });
  }else{
     $(imgEl).off('ended').one('ended',function(){
     // close popup
     closepopup();
    });
  }
}  
  
  
});
</script> 
{% endif %}
{% schema %}
  {
    "name": "Stories",
    "settings": [
{
   "type":      "paragraph",
   "content":   "Watch How to Setup Here [Setup Instructions](https://youtu.be/bL_X_GK69P4?t=487)"
},
   {
        "type": "checkbox",
        "id": "hidestories",
        "label": "Show Stories",
        "default": true,
        "info": "disable this if you want to hide stories functionality"
      },
{
  "type": "checkbox",
  "id": "demo",
  "label": "Show Demo Stories",
  "default": true,
  "info": "disable this when you start adding your own stories"
},
{
   "type":      "header",
   "content":   "Stories Area Colors"
},  
{
       "id": "background_color",
       "type": "color",
       "label": "Background Color",
       "default": "#ffffff"
      },
      {
       "id": "font_color",
       "type": "color",
       "label": "Font Color",
       "default": "#000000"
      },
{
   "type":      "header",
   "content":   "Bubble Colors"
},  
{
       "id": "bubble_background_color",
       "type": "color",
       "label": "Background Color",
       "default": "#bf43a6"
},{
       "id": "bubble_background_color_2",
       "type": "color",
       "label": "Background Color #2 (Optional Gradient)",
       "default": "#f5ae5f"
},{
   "type":      "header",
   "content":   "Bubble Tag Colors"
},  
{
       "id": "bubble_tag_background_color",
       "type": "color",
       "label": "Background Color",
       "default": "#cf0168"
},{
       "id": "bubble_tag_background_color_2",
       "type": "color",
       "label": "Background Color #2 (Optional Gradient)",
       "default": "#e0023f"
}],
"blocks": [
  {
"type": "Video",
     "name": "Video",
     "settings" : [
{
   "type":      "header",
   "content":   "Bubble Design"
},
{
       "id": "image",
       "type": "image_picker",
       "label": "Story Image"
      },
   {
    "type":   "range",
    "id":     "imageposition",
    "min":       0,
    "max":       100,
    "step":     5,
    "unit":      "%",
    "label":     "Image Position",
    "default":   0
},
      {
       "id": "title",
       "type": "text",
       "label": "Title"
      },
      {
       "id": "tag",
       "type": "text",
       "label": "Tag (Optional)"
      },
{
   "type":      "header",
   "content":   "Step 1. Convert Your Video File"
},
{
   "type":      "paragraph",
   "content":   "If your video is a .mov from an iphone you will need to convert it to MP4 [Convert To MP4](https://convertio.co/mp4-converter/)"
},
{
   "type":      "header",
   "content":   "Step 2. Optimize Video (Optional)"
},
{
   "type":      "paragraph",
   "content":   "This is optional but you can make your video load 10X faster for users if you upload it to this Free File Compressor [Optimize Video](https://www.youcompress.com/)"
},
{
   "type":      "header",
   "content":   "Step 3. Upload your Video"
},
{
   "type":      "paragraph",
   "content":   "Upload your video to your Shopify File Area [Watch How To Upload](https://youtu.be/bL_X_GK69P4?t=420)"
},
{
   "type":      "header",
   "content":   "Video Links"
},
      {
       "id": "mp41",
       "type": "text",
       "label": "MP4 Link"
      },
      {
       "id": "mp41swipe",
       "type": "url",
       "label": "Swipe Up Link (Optional)"
      },
      {
       "id": "mp42",
       "type": "text",
       "label": "MP4 Link"
      },
      {
       "id": "mp42swipe",
       "type": "url",
       "label": "Swipe Up Link (Optional)"
      },
      {
       "id": "mp43",
       "type": "text",
       "label": "MP4 Link"
      },
      {
       "id": "mp43swipe",
       "type": "url",
       "label": "Swipe Up Link (Optional)"
      },
      {
       "id": "mp44",
       "type": "text",
       "label": "MP4 Link"
      },
      {
       "id": "mp44swipe",
       "type": "url",
       "label": "Swipe Up Link (Optional)"
      },
      {
       "id": "mp45",
       "type": "text",
       "label": "MP4 Link"
      },
      {
       "id": "mp45swipe",
       "type": "url",
       "label": "Swipe Up Link (Optional)"
      },
      {
       "id": "mp46",
       "type": "text",
       "label": "MP4 Link"
      },
      {
       "id": "mp46swipe",
       "type": "url",
       "label": "Swipe Up Link (Optional)"
      },
      {
       "id": "mp47",
       "type": "text",
       "label": "MP4 Link"
      },
      {
       "id": "mp47swipe",
       "type": "url",
       "label": "Swipe Up Link (Optional)"
      },
      {
       "id": "mp48",
       "type": "text",
       "label": "MP4 Link"
      },
      {
       "id": "mp48swipe",
       "type": "url",
       "label": "Swipe Up Link (Optional)"
      },
      {
       "id": "mp49",
       "type": "text",
       "label": "MP4 Link"
      },
      {
       "id": "mp49swipe",
       "type": "url",
       "label": "Swipe Up Link (Optional)"
      },
      {
       "id": "mp410",
       "type": "text",
       "label": "MP4 Link"
      },
      {
       "id": "mp410swipe",
       "type": "url",
       "label": "Swipe Up Link (Optional)"
      }
]
},
  {
"type": "Image",
     "name": "Image",
     "settings" : [
{
   "type":      "header",
   "content":   "Bubble Design"
},
{
       "id": "image",
       "type": "image_picker",
       "label": "Story Image"
      },
   {
    "type":   "range",
    "id":     "imageposition",
    "min":       0,
    "max":       100,
    "step":     5,
    "unit":      "%",
    "label":     "Image Position",
    "default":   0
},
      {
       "id": "title",
       "type": "text",
       "label": "Title"
      },
      {
       "id": "tag",
       "type": "text",
       "label": "Tag (Optional)"
      },
{
   "type":      "header",
   "content":   "Images"
},
      {
       "id": "img1",
       "type": "image_picker",
       "label": "Image"
      },
      {
       "id": "img1swipe",
       "type": "url",
       "label": "Swipe Up Link (Optional)"
      },
      {
       "id": "img2",
       "type": "image_picker",
       "label": "Image (Optional)"
      },
      {
       "id": "img2swipe",
       "type": "url",
       "label": "Swipe Up Link (Optional)"
      },
      {
       "id": "img3",
       "type": "image_picker",
       "label": "Image (Optional)"
      },
      {
       "id": "img3swipe",
       "type": "url",
       "label": "Swipe Up Link (Optional)"
      },
      {
       "id": "img4",
       "type": "image_picker",
       "label": "Image (Optional)"
      },
      {
       "id": "img4swipe",
       "type": "url",
       "label": "Swipe Up Link (Optional)"
      },
      {
       "id": "img5",
       "type": "image_picker",
       "label": "Image (Optional)"
      },
      {
       "id": "img5swipe",
       "type": "url",
       "label": "Swipe Up Link (Optional)"
      },
      {
       "id": "img6",
       "type": "image_picker",
       "label": "Image (Optional)"
      },
      {
       "id": "img6swipe",
       "type": "url",
       "label": "Swipe Up Link (Optional)"
      },
      {
       "id": "img7",
       "type": "image_picker",
       "label": "Image (Optional)"
      },
      {
       "id": "img7swipe",
       "type": "url",
       "label": "Swipe Up Link (Optional)"
      },
      {
       "id": "img8",
       "type": "image_picker",
       "label": "Image (Optional)"
      },
      {
       "id": "img8swipe",
       "type": "url",
       "label": "Swipe Up Link (Optional)"
      },
      {
       "id": "img9",
       "type": "image_picker",
       "label": "Image (Optional)"
      },
      {
       "id": "img9swipe",
       "type": "url",
       "label": "Swipe Up Link (Optional)"
      },
      {
       "id": "img10",
       "type": "image_picker",
       "label": "Image (Optional)"
      },
      {
       "id": "img10swipe",
       "type": "url",
       "label": "Swipe Up Link (Optional)"
      }
]
},
 {
"type": "Link",
     "name": "Link",
     "settings" : [
{
   "type":      "header",
   "content":   "Bubble Design"
},
{
       "id": "image",
       "type": "image_picker",
       "label": "Story Image"
      },
   {
    "type":   "range",
    "id":     "imageposition",
    "min":       0,
    "max":       100,
    "step":     5,
    "unit":      "%",
    "label":     "Image Position",
    "default":   0
},
      {
       "id": "title",
       "type": "text",
       "label": "Title"
      },
      {
       "id": "tag",
       "type": "text",
       "label": "Tag (Optional)"
      },
{
   "type":      "header",
   "content":   "Link Info"
},
      {
       "id": "url",
       "type": "url",
       "label": "Link to"
      }
]
}
 ]
  }
{% endschema %}

{% stylesheet 'scss' %}

// responsive sizes
@mixin bp($point) {
  
  $bp-small: "(max-width: 350px)";
  $bp-mobile: "(max-width: 600px)";
  $bp-mobileup: "(min-width: 600px)";
  $bp-phablet: "(max-width: 1022px)";
  $bp-phabletup: "(min-width: 1022px)";
  $bp-tablet: "(max-width: 1280px)";
  $bp-tabletup: "(min-width: 1281px)";
  $bp-laptop: "(max-width: 1600px)";
  $bp-desktop: "(min-width: 1600px)";
  @if $point == desktop {
    @media #{$bp-desktop}  { @content; }
  }  
  @else if $point == laptop {
    @media #{$bp-laptop} { @content; }
  }
  @else if $point == tablet {
    @media #{$bp-tablet} { @content; }
  }
  @else if $point == tabletup {
    @media #{$bp-tabletup} { @content; }
  }
  @else if $point == phablet {
    @media #{$bp-phablet} { @content; }
  }
  @else if $point == phabletup {
    @media #{$bp-phabletup} { @content; }
  }
  @else if $point == mobile {
    @media #{$bp-mobile}  { @content; }
  }
  @else if $point == mobileup {
    @media #{$bp-mobileup} { @content; }
  }
  @else if $point == small {
    @media #{$bp-small}  { @content; }
  }
}


//color transition
@mixin transition($attribute, $duration: null) {
  
      @if ($duration) {
       
    -webkit-transition: $attribute $duration ease;
    -moz-transition: $attribute $duration ease;
    transition: $attribute $duration ease;
    } @else {
        
    -webkit-transition: $attribute;
    -moz-transition: $attribute;
    transition: $attribute;
    }

}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}
@mixin animate($name, $duration, $iteration, $direction) {
  -webkit-animation-duration: $duration;
     -moz-animation-duration: $duration;
       -o-animation-duration: $duration;
          animation-duration: $duration;
  -webkit-animation-iteration-count: $iteration;
     -moz-animation-iteration-count: $iteration;
       -o-animation-iteration-count: $iteration;
          animation-iteration-count: $iteration;
  -webkit-animation-name: $name;
     -moz-animation-name: $name;
       -o-animation-name: $name;
          animation-name: $name;
  -webkit-animation-direction: $direction;
     -moz-animation-direction: $direction;
       -o-animation-direction: $direction;
          animation-direction: $direction;
}




#shopify-section-Stories {
    z-index: 9;
    position: relative;
      font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
   @include bp(phabletup) {
      display:none;
  }
  @include bp(phablet) {
 position:static;
}
  & + * {
    z-index:10;
    position: relative;
  }
  & .stories-wrap {
        padding: 12px 0 12px 0px;
    @include bp(mobile) {
       margin-bottom:-30px;
       overflow-y:hidden;
      }
    & .swiper-wrapper {
     @include bp(mobile) {
       overflow-x: scroll;
       overflow-y: hidden;
        -webkit-overflow-scrolling: touch;  
        padding-bottom:30px;
      }
    }
    & .swiper-slide {
      width:auto;
      &:nth-child(1) {
        & .story-wrap {
         margin-left:10px;
        }
      }
  & .story-wrap {
       will-change: transform; 
   -webkit-transform: translateZ(0);
        position: relative;
    display:inline-block;
        margin-right: 10px;
  & .story {
     z-index:2;
        position: relative;
    width: auto;
    height: auto;
    display: inline-flex;
    flex-flow: column;
    align-items: center;
    font-weight:normal;
    color:#000;
    &.fade {
      .img {
          filter: brightness(50%);
      }
    }
    & .gradient {
       display: flex;
    justify-content: center;   
   position: relative;     
    width: auto;
    height: auto;
    border-radius: 50%;
    padding: 3px;
    & .img-wrap {
    width: 60px;
    height: 60px;
    background-color:#fff;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;
      & .img {
        border-radius: 50%;    
      width:100%;
      height:100%;
       background-repeat: no-repeat;
    background-size: cover;     
       @include transition(filter,0.3s)
	}
    }
      & .tag {
    position: absolute;
    bottom: -4px;
    color: #fff;
    text-transform: uppercase;
    font-size: 8px;
    letter-spacing: 1px;
    padding: 2px 4px;
    border-radius: 5px;
    border: 2px solid #FFF;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    line-height: normal;
      }
   }
    & .title {
font-size: 11px;
    margin-top: 3px;
    text-overflow: ellipsis;
    max-width: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-transform: none;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    letter-spacing: normal;
    }
   }
  }
    }
 }
}



.fa-times-thin:before {
	content: '\00d7';
  font-weight: 200;
    font-style: normal;
}
.popup {
   width: 100%;
   height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 2147483647;
 display:block;
 transform: translate(0px, 0px) scale(0);
 -ms-transform: translate(0px, 0px) scale(0);
 -webkit-transform: translate(0px, 0px) scale(0);
  will-change: transform; 
  display:flex;
  pointer-events:none;
  & #popup-overlay {
    content:'';
    display:block;
   background:#000;
       background:#000;
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px; 
   position: fixed; 
    z-index:-1;
    opacity:1;
  }
  &.active {
    pointer-events:auto;
  &.swipe {
    & .popup-inner #swipe {
     opacity:1 !important;
    }
    & .popup-inner .shadow {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.15) 0%, rgba(0,0,0,0) 22%, rgba(0,0,0,0) 88%, rgba(0,0,0,0.23) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.15) 0%, rgba(0,0,0,0) 22%, rgba(0,0,0,0) 88%, rgba(0,0,0,0.23) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0) 22%, rgba(0,0,0,0) 88%, rgba(0,0,0,0.23) 100%);
    }
  }
  }
  &.transition {
        transition:transform 0.2s, opacity 0.2s;
    -ms-transition:transform 0.2s, opacity 0.2s;
    -webkit-transition:transform 0.2s, opacity 0.2s;
      display:block;
      transform: translate(0px, 0px) scale(1) !important;
      -ms-transform: translate(0px, 0px) scale(1) !important;
      -webkit-transform: translate(0px, 0px) scale(1) !important;
      opacity:1 !important;
  }
  &.transitout {
        transition:transform 0.2s, opacity 0.2s;
    -ms-transition:transform 0.2s, opacity 0.2s;
    -webkit-transition:transform 0.2s, opacity 0.2s;
      display:block;
  }
  &.is-animating {
    & .popup-inner {
    -webkit-transition: transform 0.2s linear;
-moz-transition:  transform 0.2s linear;
-o-transition:  transform 0.2s linear;
transition:  transform 0.2s linear;
    }
    & #popup-overlay {
    -webkit-transition: opacity 0.2s linear;
-moz-transition:  opacity 0.2s linear;
-o-transition:  opacity 0.2s linear;
transition:  opacity 0.2s linear;
    }
  }
    & .popup-inner {
   background:#000;
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   display:flex; 
   position: fixed; 
      
  
    will-change: transform; 
   -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);
  -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden; 
   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   -ms-perspective: 1000;
   perspective: 1000;  
  & .close {
    display: inline-block;
    line-height: 1;
    position: absolute;
    right: 0px;
        top: 18px;
    padding: 0 4px;
        z-index: 10;
    & svg {
    filter: drop-shadow(1px 4px 6px rgba(0,0,0,0.07));
    line-height: 1;
      max-width:40px;
      height:auto;
    }
  }
  & .control {
   position: fixed;
    z-index: 3;
    height: 100%;
    display:block;
        outline: none;
  }
  #NavLeft {
   
    height: 100%;
    width: 30%;
    z-index: 9999;
  }
  #NavRight {
    position: fixed;   
    right:0;
     width: 70%;
  }
  & .shadow {
position: absolute;
width: 100%;  
height:100%;
pointer-events:none;
background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%,rgba(0, 0, 0, 0) 22%);
background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%,rgba(0, 0, 0, 0) 22%);
background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%,rgba(0, 0, 0, 0) 22%);
z-index: 2;
  }
  & #swipe {
    opacity:0;
    pointer-events:none;
    position: absolute;
    width: 100%;
    bottom: 0px;
    z-index: 9;
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
    color: #fff;
    font-size: 19px;
   .arrows {
    position: relative;
    width: 17px;
    padding: 0px 0;
    text-align: center;
    margin: 0 auto;
    height: 33px;


   & svg {
    width: 17px;
    height: 100%;
     & g {
       -webkit-transform-origin: 50% 50%;
       transform-origin: center center;
     }
    }
}
   }
  & .story-profile {
    display: flex;
        align-items: center;
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
    padding: 16px 0px 0px 12px;
    transition: transform 250ms ease 0s, opacity 250ms ease 0s;
      display: flex;
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
    padding: 16px 0px 0px 12px;
    transition: transform 250ms ease 0s, opacity 250ms ease 0s;
    position: absolute;
    width: calc(100% - 100px);
      z-index: 9;
    & .story-profile-pic {
     position: relative;
     height: 38px;
     & div {
     width: 38px;
     height: 38px;
     background-color: rgb(192, 192, 192);
     border-radius: 50%;
     overflow: hidden;
     background-repeat: no-repeat;
     background-size: cover;
     }
    }
    & .story-profile-content {
    color: white;
    text-shadow: rgba(0,0,0,0.07) 0px 1px 12px;
    margin-left: 10px;
    font-size: 15px;
    margin: 0px 0px 0px 10px;
    font-weight: 600;
    }
}    
  & #progress-bars-wrap {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 9999;
    margin-top: 10px;
    padding: 0 10px;
    & .progress-backround {
     display:block;
     width:100%;
     height: 2px;  
     background-color: rgba(255, 255, 255, 0.49); 
     margin: 0 3px;
      &.done {
      background-color: rgba(255, 255, 255, 1); 
      }
      & .progressbar {
         height: 100%;
         background: #ffff;
         width:0;
    transition:width .35s linear;
    -ms-transition:width .35s linear;
    -webkit-transition:width .35s linear;  
      }
    }
  }
  & .swiper-container {
        width: 100%;
    & .swiper-wrapper {

      & .swiper-slide {
    display: flex;
    align-items: center;
        & video, & img  {
          width: 100%;
          position:relative;
          z-index:1;
        }
      }
    }
  }
 }
}

{% endstylesheet %}

{% javascript %}
$(document).one("shopify:section:select",'#shopify-section-Stories',function(e){


var myElement = $('#shopify-section-Stories');
var topPos = myElement[0].offsetTop;

if($(window).width() < 600) { 
$('#index').animate({ scrollTop: topPos });     
}else{
$('body').animate({ scrollTop: topPos }); 
}    

$(document).one("shopify:section:deselect",'#shopify-section-Stories',function(e){                           
      
                           
$(document).one("shopify:section:select",'#shopify-section-Stories',function(e){
var myElement = $('#shopify-section-Stories');
var topPos = myElement[0].offsetTop;

if($(window).width() < 600) { 
$('#index').animate({ scrollTop: topPos });    
}else{
$('body').animate({ scrollTop: topPos });  
}    
});                       
                           
                           
                           
});
});  
$(document).on("shopify:section:select",'#shopify-section-Stories',function(e){
story();
setTimeout(function() { 
scrollswiper(); 
},200);  
$('body').addClass('editing editstories');
$(document).one("shopify:section:deselect",function(e){
$('body').removeClass('editstories');
})

});   
              
{% endjavascript %}                                
